- var userEdit = useredit.find(u => u.id === pageid)
- if (!userEdit)
  - throw new Error(`userEdit is undefined for pageid=${pageid}`)
- var courseID = 'course-' + userEdit.courseID
- var paymentID = userEdit.paymentID.map((id) => `course-id-${id}`)
- var categoryID = userEdit.categoryID
- var allID = [courseID, categoryID,...paymentID].join(' ')
- var title = userEdit.SubjectPageTitle
- var existingClasses = "format-flexsections limitedwidth  path-course path-course-view chrome dir-ltr lang-ja_wp yui-skin-sam yui3-skin-sam lms-waomirai-com pagelayout-course theme uses-drawers"