extends ../_layout_moodle.pug
block variables
  - var pageid = 'ec-main-free'
  // 購入IDを読み込み
  include _id-user-edit 
  // 購入IDをbodyなどに格納する処理
  include _meta-user-edit
block contents
  include _parts-view-topics-body.pug