#page-my-index #page-wrapper {
  overflow-x: hidden;
  width: 100%;
}

////////////////////////
//基本デザイン
////////////////////////

// カレンダーのサイドバーとメイン幅の調整変数
$dashboard-sidebar-width: 225px; // サイドバーの幅
$body-padding: 25px; // サイドバーとの距離
$default-max-width: 1170px; // 最大幅

@media (min-width: 576px) {
  .modal-dialog-scrollable {
    max-height: calc(100% - 1.5rem) !important;
  }
}

@media (min-width: 576px) {
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 2.5rem) !important;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    margin: 0.75rem auto !important;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 480px !important;
  }
}
.modal-header {
  padding: 0.7rem 1rem 0.7rem !important;
}

.pagelayout-mydashboard {
  .no-overflow {
    overflow: visible;
  }
  img {
    width: 100%;
  }
  background: $cl-graylightest !important; // 背景設定

  .block_myinprogress .tool_catalogue-carousel {
    overflow: hidden !important;
  }
  .pagination {
    position: absolute;
    right: 30px;
    top: 47px;
  }
  #todays-event-subject-none .c-alert-banner {
    @include min-responsive-style(769px) {
      margin: 20px 10px 0 !important;
      width: calc(100% - 20px);
    }
  }
  #page-header {
    @include responsive-style(769px) {
      padding: 0 15px;
    }
    .h2 {
      padding: 0.25rem 0 0.5rem !important;
    }
  }
  #block-region-content {
    section:first-child {
      .card-title.d-inline {
        display: none !important;
      }
    }
  }

  @media (min-width: 768px) {
    #page.drawers .main-inner,
    body.limitedwidth #page.drawers .main-inner {
      max-width: 1200px !important;
    }
  }
  .block_html {
    background: transparent !important;

    .card-body {
      padding: 0 !important;
    }
  }
  .block_html > div > h5 {
    /* テキストブロックの文言を非表示に */
    display: none !important;
  }
  .dashboard-textblock::-webkit-scrollbar {
    display: none;
  }
  .dashboard-textblock {
    // overflow: hidden;
    // & {
    //   display: none;
    // }
  }
  .card-title {
    margin: 0 -15px 16px !important;
    padding: 0px 35px 0px;
    width: calc(100% + 30px);
    display: block !important;
    font-size: $lms-font-size-l !important;
    position: relative;
    &:before {
      @include lms-left-waogreen;
    }
  }

  .dashboard-textblock {
    .dashboard-left {
      width: calc($dashboard-sidebar-width - 0px);
      height: 360px;
      display: block;
      z-index: 1;
      position: absolute;
      right: calc(-1 * ($dashboard-sidebar-width + $body-padding));
      top: 0px;
      @include responsive-style(768px) {
        display: none;
      }
    }
  }
  .block-region {
    max-width: $default-max-width - $dashboard-sidebar-width - $body-padding !important;
    margin-right: auto !important;
    // Responsive styles

    @include responsive-style($default-max-width) {
      max-width: calc(
        100vw - #{$dashboard-sidebar-width + $body-padding}
      ) !important;
    }
    @include responsive-style(768px) {
      max-width: 100% !important;
    }
  }
  #dashboard-sp-content {
    .dashboard-left {
      position: relative !important;
      width: 100%;
      right: 0;
    }
  }

  .block_html.block.card.mb-3 {
    display: inline;
  }

  .mt-3,
  .my-3 {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    @include responsive-style(768px) {
      margin-bottom: 1rem !important;
    }
  }
  #page.drawers .main-inner {
    padding: 0px 0rem !important;
    margin-top: 30px !important;
    @include responsive-style(768px) {
      margin-top: 16px !important;
    }
  }

  .dashboard-left {
    .dashboard-left-block {
      margin: 0 0 40px;
    }
    .dashboard-left-block-title {
      padding: 0 0px 8px;
      font-size: $lms-font-size-ml;
      color: $cl-gray;
      font-weight: 500;
      letter-spacing: 0.5px;
    }
    .dashboard-left-block-wrap {
      background: white;
      border-radius: $border-radius-middle;
    }
    .dashboard-left-block-wrap-subject {
      padding: 20px 15px 18px !important;
      display: flex;
      flex-wrap: wrap;
      gap: 20px 14px;
      justify-content: flex-start;
      @include responsive-style(768px) {
        gap: 20px;
        padding: 20px 20px 24px !important;
      }
    }
    .dashboard-left-block-wrap-english {
      padding: 16px 15px !important;
      .dashboard-left-block-wrap-english-text {
        text-align: center;
      }
      .dashboard-left-block-wrap-english-course {
        padding: 12px 16px;
        background: $cl-graylightest;
        border-radius: $border-radius-middle;
        margin: 16px auto 0px;
        .dashboard-left-block-wrap-english-course-title {
          text-align: center;
          margin: 0 auto 4px;
        }
        .dashboard-left-block-wrap-english-course-button a {
          padding: 6px 8px;
          border-radius: $border-radius-small;
          color: $cl-waogreen;
          font-size: $lms-font-size-m;
          font-weight: normal;
          border: 1.5px solid $cl-waogreen;
          justify-content: center;
          display: flex;
          background: white;
          &:hover {
            text-decoration: none !important;
            opacity: 0.7;
          }
        }
      }
    }
    .dashboard-left-block-wrap-line {
      padding: 12px 15px 10px !important;

      a {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        background: $cl-white;

        @include responsive-style(768px) {
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15) !important;
          padding: 10px;
          margin: 0 auto 16px;
        }
        img {
          width: 36px;
        }
        .dashboard-left-block-wrap-line-text {
          // letter-spacing: -1px;
          line-height: $lineheight-normal;
          font-size: $lms-font-size-m;
        }
        &:hover {
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }
    .dashboard-left-block-subject-child {
      font-size: $lms-font-size-m;
      color: $cl-gray;
      //何かしらの教科がある時にカードスタイル適用。何もない時は適用しない
      @mixin dashboard-left-block-subject-child-card {
        padding: 0px 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 2px solid $cl-graylightest;
        width: calc(50% - 7px);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15) !important;
        margin: 0;
        @include lms-boxshadow-small;
        @include responsive-style(768px) {
          width: calc(50% - 10px);
          padding: 20px 0px 20px;
        }
      }
      &:hover {
        text-decoration: none !important;
      }
      .dashboard-left-block-subject-child-icon {
      }
      &.philosophy {
        @include dashboard-left-block-subject-child-card;
        .dashboard-left-block-subject-child-icon {
          background: #ffdb96;
        }
      }
      &.science {
        @include dashboard-left-block-subject-child-card;
        .dashboard-left-block-subject-child-icon {
          background: #eefabf;
        }
      }
      &.economy {
        @include dashboard-left-block-subject-child-card;
        .dashboard-left-block-subject-child-icon {
          background: #c1edff;
        }
      }
      &.globalenglish {
        @include dashboard-left-block-subject-child-card;
        .dashboard-left-block-subject-child-icon {
          background: #f5dbff;
        }
      }
      &.programming {
        @include dashboard-left-block-subject-child-card;
        .dashboard-left-block-subject-child-icon {
          background: #ffc3c5;
        }
      }
      &.twosubjectpack,
      &.threesubjectpack {
        @include dashboard-left-block-subject-child-card;
        .dashboard-left-block-subject-child-icon {
          background: $cl-graylightest;
        }
      }
      .dashboard-left-block-subject-child-icon {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin: 0 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        @include responsive-style(768px) {
          width: 75px;
          height: 75px;
          font-size: 32px;
        }
      }
      .dashboard-left-block-subject-child-text {
        @include text-s-black;
        @include responsive-style(768px) {
          font-size: $lms-font-size-m;
        }
      }
    }
    ul {
      background: white;
      border-radius: $border-radius-middle;
      list-style: none;
      padding: 24px 12px 12px 10px;
      li {
        line-height: 1.35;
        margin: 0 0 15px;
        display: flex;
        &:before {
          content: "・";
          color: $cl-graylight;
        }
        a {
          color: $cl-waogreen;
          text-decoration: underline;
          font-size: $lms-font-size-m;
        }
      }
    }
  }
  #page.drawers {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

////////////////////////
//カレンダー周りのデザイン
////////////////////////

.pagelayout-mydashboard {
  .calendarwrapper td > div {
    height: 13em !important;
  }
  // ページの内側部分（drawers）の背景を透明化
  .maincalendar .calendartable li[data-event-component="mod_questionnaire"] {
    display: none !important;
  }

  .maincalendar .calendartable li {
    padding: 4px 2px !important;
  }

  #page.drawers .main-inner {
    background: transparent;
  }
  //謎のカレンダータイトルの丸を削除
  .calendar-circle.calendar_event_site {
    display: none;
  }
  h4 {
    margin-bottom: 0 !important;
    font-size: $lms-font-size-l !important;
    font-weight: 600 !important;
    margin-bottom: none !important;
    float: none !important;
  }
  div.mb-3 {
    margin-bottom: 32px !important;
  }
  // カードの枠線を非表示
  .card.block {
    border: none;
  }
  .maincalendar .header {
    margin: 0px 0 0px !important;
    position: relative;
    overflow: visible !important;
    &.p-1 {
      padding: 0 !important;
    }
    .custom-select {
      @include min-responsive-style(769px) {
        max-width: 250px;
        position: absolute;
        left: 0;
        top: 10px;
        z-index: 1;
      }
    }
  }
  .calendar-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0 20px !important;
    .previous {
      transform: rotate(-180deg);
    }
    .next,
    .previous {
      position: relative;
      color: white;
      line-height: 0 !important;
      span {
        line-height: 0 !important;
      }
      &:active,
      &:focus {
        background: none;
        color: white;
        // outline: none;
        // user-select: none;
        // /* テキスト選択を無効化 */
        @include focus-tapblack-none;
        /* タップ時のハイライトを無効化 */
      }
      &:hover {
        background: $cl-graylightest;
        // border: 1px solid $cl-waogreen;
        &::before,
        &::after {
          // background-color: white;
        }
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        left: 0;
        right: 0;
        right: 0;
        margin: auto;
        width: 10px;
        height: 2px;
        border-radius: 9999px;
        background-color: $cl-graylight;
        transform-origin: calc(100% - 2px) 50%;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
        top: calc(50% - 0.5px);
      }
    }
    .arrow_link {
      position: relative;
      width: 35px;
      height: 35px;
      border-radius: 100px;
      border: 1.5px solid $cl-graylight;
      display: block;
      text-indent: -9999px;
      background: none;
      line-height: 0 !important;
      span {
        display: none;
      }
    }
    .current {
      width: 155px;
      display: block;
    }
  }
  // レスポンシブ設定: 768px以上の画面幅でページの幅を設定
  .card-body {
    padding: 20px 15px 18px !important;
  }
  // カレンダーブロック内のタイトルを非表示

  // カレンダー全体のスタイル設定
  .calendarmonth {
    border-radius: $border-radius-middle; // 角を丸くする
    border: none; // 枠線を非表示
    position: relative; // 子要素の位置指定用
    // カレンダーの装飾用スタイル
    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      border-radius: $border-radius-middle;
      border: 1px solid #dee2e6;
      pointer-events: none; // マウスイベントを無効化
    }
  }
  td.hasevent [data-region="day-content"] {
    display: block !important;
  }
  .today {
    background: $cl-graylightest;
    .day-number-circle {
      background: $cl-gray;
    }
  }
  .day {
    color: $cl-graylight !important;
    position: relative;
    cursor: default;
    &:hover {
      background: none !important;
    }
  }
  td > div {
    overflow: visible !important;
  }

  .maincalendar .calendarmonth ul li {
    &:focus,
    &:active {
      box-shadow: none;
      appearance: none;
      -webkit-tap-highlight-color: transparent;
    }
    > a {
      background: #038d61 !important;
      color: white !important;
      font-size: 11.5px !important;
      padding: 5px 2px 5px 5px;
      border-left: $cl-waogreen 2px solid !important;
      display: block;
      font-weight: bold;
      border-radius: 2px;
      overflow: hidden !important;
      white-space: normal !important;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      height: 42px;
      &:focus,
      &:active {
        box-shadow: none;
        appearance: none;
        -webkit-tap-highlight-color: transparent;
      }
      &:hover {
        text-decoration: none !important;
        * {
          text-decoration: none !important;
        }
      }
    }
  }
  .maincalendar .calendarmonth ul li .calendar-circle.calendar_event_course {
    display: none;
  }
  // カレンダーのヘッダー（曜日部分）のスタイル
  .maincalendar .calendarmonth th {
    text-align: left;
    padding: 8px 10px 7px 13px; // 左側に余白を追加
    background: $cl-graylightest !important;
  }
  // カレンダーセルの枠線と角丸設定
  .maincalendar .calendarmonth tr td:last-child,
  .maincalendar .calendarmonth tr td:first-child {
    border-right: none; // 最初と最後のセルの右枠線を非表示
  }
  .maincalendar tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  .maincalendar tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
  // ヘッダーとデータセルの共通スタイル
  .maincalendar .calendarmonth th,
  .maincalendar .calendarmonth td {
    color: $cl-graylight;
    font-size: $lms-font-size-m !important;
  }
  // ヘッダー専用スタイル
  .maincalendar .calendarmonth tr th {
    border: none; // 枠線を非表示
    font-size: $lms-font-size-s !important; // 小さいフォントサイズに調整
  }
  .maincalendar .calendarmonth tr th:first-child {
    border-top-left-radius: 10px; // 左上の角を丸く
  }
  .maincalendar .calendarmonth tr th:last-child {
    border-top-right-radius: 10px; // 右上の角を丸く
  }
  // フッターリンクの非表示
  .footer-link {
    display: none;
  }
  .maincalendar {
    .d-none {
      display: block !important;
    }
    .hidden-desktop {
      display: none !important;
    }
  }
}

////////////////////////
//カレンダーの予定をクリックしたときのモーダル
////////////////////////

$modal-button-width: 280px;
$modal-button-height: 55px;

.pagelayout-mydashboard {
  .modal {
    .calendar_event_course {
      background: $cl-graylightest;
    }
    .modal-body {
      padding: 16px 16px 48px !important;
    }
  }
  .summary-modal-container {
    //ダミー用の画像
    .aa img {
      width: 100%;
      border-radius: $border-radius-middle;
    }
    .col-1 {
      display: none;
    }
    .col-11 {
      flex: 1;
      max-width: 100%;
      padding: 0 5px !important;
    }
    .description-content img {
      width: 100%;
    }
    .row:nth-child(1),
    .row:nth-child(2),
    .row:nth-child(5) {
      display: none;
    }
    i {
      display: none;
    }
    .location-content {
      position: relative;
      display: block;
      height: $modal-button-height;
      width: $modal-button-width;
      margin: 32px 0 0;
      a {
        text-indent: -9999px;
        display: block;
        height: $modal-button-height;
        width: $modal-button-width;
        margin: 0 auto;
        &:focus,
        &:active {
          box-shadow: none;
          appearance: none;
          -webkit-tap-highlight-color: transparent;
        }
      }
      &:before {
        content: "授業を受講する";
        // position: absolute;
        background: $cl-waogreen;
        border-radius: $border-radius-small;
        width: $modal-button-width;
        height: $modal-button-height;
        text-align: center;
        color: white;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        position: absolute;
        left: 0;
        right: 0;
        pointer-events: none;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .description-content-img-eng {
      width: 95%;
      margin: 0 auto 25px;
      img {
        border-radius: 12px;
      }
    }
    .description-content-text-eng {
      font-size: 93%;
      width: 95%;
      margin: 0 auto 5px;
      // border-bottom: 1px solid;
    }
    .description-content-button {
      @include button-size-middle;
      width: $modal-button-width;
      height: $modal-button-height;
      margin: 0px auto 15px;
      a {
        width: $modal-button-width;
        height: $modal-button-height;
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover {
          text-decoration: none !important;
          opacity: 0.7;
        }
      }
      &.primary {
        background: $cl-waogreen;
        a {
          color: $cl-white;

          &:before {
            content: "";
            display: inline-block;
            width: 25px; /* アイコンの幅 */
            height: 25px; /* アイコンの高さ */
            background-image: url("https://go.waomirai.com/l/1026513/2025-03-19/hj31q/1026513/17423770567ZdVOJwz/icn_zoom.svg"); /* アイコン画像 */
            background-size: contain; /* 画像をボックス内に収める */
            background-repeat: no-repeat;
          }
        }
      }
      &.secondly {
        background: $cl-white;

        border: 2px solid $cl-waogreen;
        a {
          color: $cl-waogreen !important;
        }
      }
      &.zoom {
        a {
          &:before {
            content: "";
            display: inline-block;
            width: 25px; /* アイコンの幅 */
            height: 25px; /* アイコンの高さ */
            background-image: url("https://go.waomirai.com/l/1026513/2025-03-19/hj31q/1026513/17423770567ZdVOJwz/icn_zoom.svg"); /* アイコン画像 */
            background-size: contain; /* 画像をボックス内に収める */
            background-repeat: no-repeat;
          }
        }
      }
      // &.movie {
      //   a {
      //     &:before {
      //       content: "";
      //       display: inline-block;
      //       width: 25px; /* アイコンの幅 */
      //       height: 25px; /* アイコンの高さ */
      //       background-image: url("https://go.waomirai.com/l/1026513/2025-03-19/hj31t/1026513/1742377056S4g1Q8Gl/icn_movie.svg"); /* アイコン画像 */
      //       background-size: contain; /* 画像をボックス内に収める */
      //       background-repeat: no-repeat;
      //     }
      //   }
      // }
    }
  }
}

////////////////////////
//スマホ特有の画面定義
////////////////////////
.pagelayout-mydashboard {
  .dashboard-main {
    .dashboard-main-navi {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 16px;
      padding: 0 15px 48px;
      position: relative;
      background: white;
      &:before {
        position: absolute;
        z-index: 0;
        background: $cl-graylightest;
        width: 100%;
        height: 40px;
        content: "";
        top: 0;
      }
      .dashboard-main-navi-child {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 0 20px;
        border-radius: $border-radius-middle;
        position: relative;
        z-index: 1;
        @include lms-boxshadow;
        .dashboard-main-navi-child-arrow {
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          margin: auto;
          width: 30px;
          height: 30px;
          .dashboard-main-navi-child-arrow-wrap {
            position: relative;
            width: 30px;
            height: 30px;
            transform: rotate(90deg);
            &::before,
            &::after {
              content: "";
              position: absolute;
              top: calc(50% - 2px);
              left: 0;
              right: 0;
              right: 0;
              margin: auto;
              width: 10px;
              height: 2px;
              border-radius: 9999px;
              background-color: $cl-graylight;
              transform-origin: calc(100% - 2px) 50%;
            }
            &::before {
              transform: rotate(45deg);
            }
            &::after {
              transform: rotate(-45deg);
              top: calc(50% - 0.5px);
            }
          }
        }
        .dashboard-main-navi-child-img {
          width: 30px;
          margin: 0 auto 4px;
        }
        .dashboard-main-navi-child-text {
          text-align: center;
          color: $cl-gray;
          font-size: $lms-font-size-s;
        }
      }
    }
    .dashboard-main-class {
      background: white;
      padding: 0px 15px 48px !important;
      border-radius: $border-radius-big;
      padding: 20px 15px 18px !important;
      @include responsive-style(768px) {
        border-radius: 0px;
        padding: 0px 15px 48px !important;
      }
    }
    #todays-event-class-scheduled,
    #dashboard-main-upcoming-class-scheduled {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .dashboard-main-class-content-lesson {
      padding: 16px;
      // border: 1px solid $cl-graylight;
      border-radius: $border-radius-middle;
      display: flex;
      flex-direction: column;
      gap: 8px;
      @include lms-boxshadow;
      &.philosophy {
        border-left: 4px $cl-philosophy solid;
        border-radius: 2px;
      }
      &.science {
        border-left: 4px $cl-science solid;
        border-radius: 2px;
      }

      &.economy {
        border-left: 4px $cl-economy solid;
        border-radius: 2px;
      }
      &.english {
        border-left: 4px $cl-english solid;
        border-radius: 2px;
      }
      &.programming {
        border-left: 4px $cl-programming solid;
        border-radius: 2px;
      }
    }
    #todays-event-class-scheduled {
      a {
        @include button-size-middle;
        @include button-style-primary;
        outline: none;
        border: none;
        width: 100%;
      }
    }
    .dashboard-main-class-content-lesson-title {
      color: $cl-gray;
      font-weight: bold;
    }
    .dashboard-main-class-content-lesson-details {
      span:first-child {
        margin: 0 10px 0 0;
      }
    }
  }
  #dashboard-sp-content {
    width: 100%;
    @include responsive-style(769px) {
      // padding: 0 20px;
    }
    .dashboard-left-block {
      padding: 20px 0px 0px !important;
      background: white;
      .dashboard-left-block-title {
        // background: red;
        font-weight: bold;
        margin: 0 0px 0px !important;
        padding: 0px 35px 0px !important;
        @extend .card-title;
      }
    }
  }
}

////////////////////////
//期間限定の表示
////////////////////////

.pagelayout-mydashboard {
  //未来塾、4月6日に開校
  .dashboard-main-info {
    background: white;
    border-radius: 12px;
    padding: 20px 15px 25px !important;
    margin-bottom: 1rem !important;
    position: relative;
    @include responsive-style(769px) {
      border-radius: 0px;
      padding: 20px 15px 0px !important;
      margin-bottom: 2rem !important;
    }
    .card-title {
      position: relative;
      z-index: 2;
    }
    .dashboard-main-info-text {
      position: relative;
      z-index: 2;
      margin: 0 6px;
      line-height: $lineheight-normal;
      width: 60%;
      @include responsive-style(769px) {
        width: 100%;
        margin: 0 6px;
      }
    }
    .dashboard-main-info-button a {
      @include button-size-middle;
      @include button-style-primary;
      position: relative;
      z-index: 2;
      width: 220px;
      margin: 16px 4px 0;
      &:hover {
        text-decoration: none;
      }
    }
    .dashboard-main-info-right {
      &::before {
        content: ""; /* 疑似要素に必須 */
        width: 75%; /* 幅いっぱい */
        height: 100%; /* 高さいっぱい */
        display: block; /* 高さを指定するためにブロック要素にする */
        background: linear-gradient(
          270deg,
          rgba(255, 255, 255, 0) 0,
          #fff 75%
        ); /* 徐々に透明にする */
        position: absolute; /*  */
        top: 0;
        right: 0;
        z-index: 1;
      }
      img {
        position: absolute;
        right: 0;
        top: 10px;
        bottom: 0;
        width: 75%;
        margin: auto;
        z-index: 0;
      }
    }
  }
  .dashboard-main-info-bottom {
    margin: 30px -20px 0;
    position: relative;
    &::before {
      content: ""; /* 疑似要素に必須 */
      width: 100%; /* 幅いっぱい */
      height: 80%; /* 高さいっぱい */
      display: block; /* 高さを指定するためにブロック要素にする */
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0,
        #fff 100%
      ); /* 徐々に透明にする */
      position: absolute; /*  */
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}
