/* デフォルト: plan-oldを非表示、plan-newを表示 */
.summary-modal-container {
  .plan-old {
    display: none;
  }
  .plan-new {
    display: block;
  }
  .eng-admin {
    display: none;
  }
}
/* body に course-id-329(6600円受講） がある時: plan-oldを表示、plan-newを非表示 */
body.course-id-329 .summary-modal-container .plan-old {
  display: block;
}
body.course-id-329 .summary-modal-container .plan-new {
  display: none;
}

/* body に course-id-277(管理者）がある時: plan-oldを表示、plan-newを表示 */
body.course-id-277 .summary-modal-container .plan-old {
  display: block !important;
}
body.course-id-277 .summary-modal-container .plan-new {
  display: block !important;
}
body.course-id-277 .summary-modal-container .eng-admin {
  display: block !important;
  text-align: center;
  color: #999;
  font-size: 80%;
}
body.course-id-277 .summary-modal-container .eng-admin01 {
  margin: 0px auto 10px;
}
body.course-id-277 .summary-modal-container .eng-admin02 {
  margin: 28px auto 10px;
}
