- var linkUrl = 'https://go.waomirai.com/english-trial-form'
//- include _mixin-lp-english.pug
noscript
  iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C", height="0", width="0", style="display:none;visibility:hidden")
// End Google Tag Manager (noscript)
header 
      div 
        img(src="https://go.waomirai.com/l/1026513/2024-08-08/gzqmq/1026513/1723103182E5MU9Ijy/waomirai_logo__1_.svg")

//子どもがうまくならない理由
section.section-el-second.section-el-second-why
  .section-el-second-top.section-el-second-top-enjoy 
    .section-el-second-top-text
     |WHY?
  .section-el-second-content
    div(style='width:100%; padding:50px 0 100px; text-align:center;')
      |ここにコンテンツ      

section.section-el-second.section-el-second-enjoy
  .section-el-second-top.section-el-second-top-enjoy 
    .section-el-second-top-text
     |Enjoy English 
  .section-el-second-content
    .section-el-second-content-title 
       .section-el-second-content-title-text
        |グローバル英語は楽しく学ぶ仕組みがいっぱい
    .section-el-second-content-text 
       |英語を勉強したけどそもそも続かない・・とお悩みの方も多いのではないのでしょうか。
       br
       |グローバル英語では子どもたちが遊ぶような感覚で続けられる仕組みがいっぱいあります
  .section-el-second-content-grid.section-el-second-content-grid-one 
     .section-el-second-content-grid-left 
        .section-el-second-content-grid-title 
          |脱授業！
          br
          |ライブ形式のレッスンで
          br
          |楽しく学べる
        .section-el-second-content-grid-txt 
          |日本語の通じるネイティブ講師＆日本人講師が、ユーモアたっぷりに英語を教えてくれるから、レッスンの時間が待ち遠しくなる！ゲームやアクティビティを交えながら、まるで遊んでいるかのように学べるライブレッスン。子どもたちは自然と口から英語が出てきて、会話がどんどん楽しくなる。リアルな英語を生き生きと教えてくれます！
     .section-el-second-content-grid-right 
       .section-el-second-content-grid-img
          img(src='https://storage.pardot.com/1026513/1726560689Gs8441WB/img_3reason_01.png')
  .section-el-second-content-grid.section-el-second-content-grid-two
     .section-el-second-content-grid-left 
       .section-el-second-content-grid-iframe.
                <iframe src="https://player.vimeo.com/video/907721397?autoplay=1&muted=1&background=1"
        frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

     .section-el-second-content-grid-right 
        .section-el-second-content-grid-title 
          |脱授業！
          br
          |ライブ形式のレッスンで
          br
          |楽しく学べる
        .section-el-second-content-grid-txt 
          |日本語の通じるネイティブ講師＆日本人講師が、ユーモアたっぷりに英語を教えてくれるから、レッスンの時間が待ち遠しくなる！ゲームやアクティビティを交えながら、まるで遊んでいるかのように学べるライブレッスン。子どもたちは自然と口から英語が出てきて、会話がどんどん楽しくなる。リアルな英語を生き生きと教えてくれます！
  .section-el-second-content-grid.section-el-second-content-grid-one 
     .section-el-second-content-grid-left 
        .section-el-second-content-grid-title 
          |脱授業！
          br
          |ライブ形式のレッスンで
          br
          |楽しく学べる
        .section-el-second-content-grid-txt 
          |日本語の通じるネイティブ講師＆日本人講師が、ユーモアたっぷりに英語を教えてくれるから、レッスンの時間が待ち遠しくなる！ゲームやアクティビティを交えながら、まるで遊んでいるかのように学べるライブレッスン。子どもたちは自然と口から英語が出てきて、会話がどんどん楽しくなる。リアルな英語を生き生きと教えてくれます！
     .section-el-second-content-grid-right 
       .section-el-second-content-grid-img
          img(src='https://storage.pardot.com/1026513/1726560689Gs8441WB/img_3reason_01.png')
 
section.section-movie 
     |子どもが英語を楽しく身につける方法を動画で紹介

section.section-el-second.section-el-second-ability
  .section-el-second-top.section-el-second-top-ability
    .section-el-second-top-text
     |ABILITY
  .section-el-second-content
    div(style='width:100%; padding:150px 0; text-align:center;')
      |ここにコンテンツ ああ