//////////////////////////////
//
// stg用(テスト)のscss
// dart sass 3.0.0にするとimportが使えなくなるので注意
// importが使えないとstgとlmsで分けるのが超きつい気がするので、対策が必要
//
//////////////////////////////

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900");
@import "foundation/_mixin"; //よく使う関数など定義したもの
@import "foundation/_constant"; //色などの変数定義
@import "foundation/_reset"; //reset
@import "object/project/project-lms-moodle/setting/_lms-settings-variable";
@import "object/project/project-lms-moodle/parts/_lms-parts-button.scss";

@media screen and (max-width: 3000px) and (min-width: 769px) {
  .c-pc-hidden {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .c-sp-hidden {
    display: none !important;
  }
}

body#lmswaomirai-contact {
  padding: 0px 0 90px;
  font-family: "Noto Sans JP", sans-serif;
  color: $cl-black;
}

main {
  text-align: center;
  
  margin: 0 auto;
  .main-box{
    // background: $cl-graylightest;
    background: $cl-white;
    padding: 45px 0;
    margin: 0 auto 0px;

    .main-box-wrapper{
      max-width: 960px;
      width: 100%;
      margin: 0 auto 0;
      padding: 0 0 60px;
      text-align: left;
      border-bottom: 2px solid $cl-graylightest;
      h2 {
        margin: 0 auto 20px;
        letter-spacing: 1px;
      }
      .main-p {
        margin: 0 auto 0px;
        line-height: 2.5;
        @include text-m-black;
        a {
          color: $cl-waogreen !important;
        }
      }
    }
  }

  .contact-title{
    @include text-l-black;
    text-align: left;
    margin: 0 auto 30px;
    // padding:0 0 30px;
    // border-bottom: 2px solid $cl-graylightest;
    max-width: 960px;
  }
  .contact-columns {
    max-width: 960px;
    display: grid;                                     // 変更
    gap: 30px;            
    margin: 0 auto 60px;                             // そのまま
    grid-template-columns: repeat(3, 1fr);  // 2 列固定
    @include responsive-style(768px) {
 grid-template-columns: 1fr;           // 1 列に
  
    }
    .contact-columns-box {
      flex: 1 1 260px;        // 幅の下限を指定（例 260px）
      // @include lms-boxshadow;
      border: 2px solid $cl-graylightest;
      border-radius: $border-radius-middle;
      padding: 30px 25px 40px;
      @include responsive-style(768px) {
        width: 90%;
      }
      .contact-columns-title {
        margin: 0 auto 0px;
        @include text-l-black;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $cl-waogreen !important;
        letter-spacing: 1px;
        font-weight: 500;
        @include responsive-style(768px) {
          @include text-l-black;
        }
      }
      a {
        height: 44px;
        border-radius: $border-radius-small;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $lms-font-size-m !important;
        border-radius: $border-radius-small;
        @include button-style-primary;
        text-decoration: none;
        // @include text-m-black;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
