//////////////////////////////
//
// テストテナント(defalut tenant)のscss
// dart sass 3.0.0にするとimportが使えなくなるので注意
// importが使えないとstgとlmsで分けるのが超きつい気がするので、対策が必要
//
//////////////////////////////

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900");
@import "foundation/_mixin"; //よく使う関数など定義したもの
@import "foundation/_constant"; //色などの変数定義
@import "object/project/project-lms-moodle/setting/_lms-settings-variable"; //色などの変数定義
@import "object/project/project-lms-moodle/setting/_lms-settings-animation"; //アニメーション
@import "object/project/project-lms-moodle/setting/_lms-settings-courseid"; //コースidの定義
@import "object/project/project-lms-moodle/setting/_lms-settings-drawer"; //moodleのドロワー撲滅
@import "object/project/project-lms-moodle/parts/_lms-parts-button"; //ボタン
@import "object/project/project-lms-moodle/parts/_lms-parts-subject-cards"; //教科カード
@import "object/project/project-lms-moodle/parts/_lms-parts-alert"; //アラートバー
@import "object/project/project-lms-moodle/parts/_lms-parts-modal"; //モーダル

html[data-tenantid="1"] {
  .c-modal {
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    z-index: 99999;
    width: 90%;
    max-width: 450px;
    display: inline-table;
    border-radius: $border-radius-middle;
    height: auto;
    background: white;
    &:has(.c-modal-wrap-line-connection) {
      max-width: 340px;
    }
    &-wrap-subject {
      padding: 0px 0px 30px !important;
      .c-modal-wrap-image {
        margin: 0 auto 0px !important;
      }
      img {
        border-radius: 8px 8px 0 0 !important;
        margin: 0px 0px 0px !important;
      }
      .c-modal-wrap-button {
        margin: 0px 30px 5px !important;
        height: 55px;
        font-size: $lms-font-size-l !important;
        width: auto !important;
      }
    }
    //通常のモーダルのclass
    &-wrap {
      position: relative;
      padding: 48px 20px 40px;
      &-title {
        @include text-l-black;
        margin: 0 auto 16px;
        font-weight: bold;
        text-align: center;
      }
      &-image {
        margin: 0 auto 32px;
      }

      &-text {
        @include text-m-black;
        margin: 0 auto 8px;
      }
      &-closetxt {
        color: $cl-graylight;
        text-decoration: underline;
        text-align: center;
        margin: 10px auto 0px;
        cursor: pointer;
      }

      &-button-wrap {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        padding: 24px 0 0;
        a {
          width: 100%;
          cursor: pointer;
        }
      }

      &-button {
        @include button-style-primary;
        @include button-size-middle;
        padding: 0 20px;
        margin: 0 auto;
        display: flex;
        &:hover {
          text-decoration: none !important;
        }
      }

      &-close {
        position: absolute;
        right: 13px;
        top: 13px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        &::before,
        &::after {
          position: absolute;
          left: 15px;
          content: " ";
          height: 26px;
          width: 2px;
          background-color: $cl-graylight;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
    //LINE登録モーダルのclass
    .c-modal-wrap-wrapline {
      padding: 0px 20px 30px !important;
      @include responsive-style(768px) {
        padding: 0px 12px 40px !important;
      }
      .c-modal-wrap-title {
        background: $cl-brand-line;
        margin: 0 -20px 20px !important;
        padding: 12px 0;
        border-radius: 8px 8px 0 0 !important;
        color: $cl-white !important;
        @include text-m-black;
        @include responsive-style(768px) {
          margin: 0 -12px 30px !important;
          padding: 15px 0;
        }
      }
      .c-modal-wrap-text {
        text-align: center;

        @include text-m-black;
        margin: 0 auto 20px;
        @include responsive-style(768px) {
          margin: 0px auto 5px !important;
        }
        span {
          color: $cl-brand-line;
          font-weight: bold;
        }
      }
      .c-modal-wrap-qr {
        text-align: center;
        img {
          margin: -10px 0 10px !important;
          width: 230px;
          margin: 0 auto;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        }
      }
      .c-modal-wrap-text-notice {
        text-align: center;
        font-size: 14px;
        // @include text-m-black;
        color: $cl-alert;
        font-weight: bold;
        margin: 0 auto 18px;
        line-height: $lineheight-relaxed;
        @include responsive-style(768px) {
          font-size: 12px;
        }
      }
      .c-modal-wrap-close {
        top: 4px !important;
        right: 6px !important;
        opacity: 0.7;
        &::before,
        &::after {
          background-color: $cl-white;
        }
      }
      .c-modal-wrap-button-close {
        width: 220px;
        background: $cl-graylight !important;
        font-size: 14px !important;
        height: 42px;
      }
      .c-modal-button-line {
        width: 280px;
        height: 54px;
        background: $cl-brand-line;
        font-weight: bold;
        margin: 30px auto 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-middle;
        cursor: pointer;
        img {
          width: 160px;
        }
        &:hover {
          text-decoration: none !important;
        }
      }
    }
    .c-modal-wrap-line-connection {
      padding: 20px 20px 30px !important;
      @include responsive-style(768px) {
        padding: 0px 12px 40px !important;
      }
      .c-modal-wrap-linetitle {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        gap: 18px;
        @include responsive-style(768px) {
          margin: 20px auto 20px !important;
        }
        img {
          width: 55px;
        }
        .c-modal-wrap-linetitle-text {
          font-size: 20px;
        }
      }
      .c-modal-wrap-text {
        text-align: center;
        color: $cl-alert;
        font-size: $lms-font-size-m !important;
        font-weight: 600;
        // @include text-m-black;
        margin: 0 auto 25px;
        @include responsive-style(768px) {
          margin: 0px auto 5px !important;
        }
      }
      .c-modal-wrap-qr {
        text-align: center;
        img {
          margin: 20px 0 30px !important;
          width: 230px;
          margin: 0 auto;
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        }
      }
      .c-modal-wrap-text-notice {
        text-align: center;
        font-size: 14px;
        // @include text-m-black;
        color: $cl-alert;
        font-weight: bold;
        margin: 0 auto 18px;
        line-height: $lineheight-relaxed;
        @include responsive-style(768px) {
          font-size: 12px;
        }
      }
      .c-modal-wrap-close {
        top: 4px !important;
        right: 6px !important;
        opacity: 0.7;
        &::before,
        &::after {
          background-color: $cl-white;
        }
      }
      .c-modal-wrap-button-close {
        width: 220px;
        background: $cl-graylight !important;
        font-size: 14px !important;
        height: 42px;
      }
      .c-modal-button-line {
        width: 280px;
        height: 54px;
        background: $cl-brand-line;
        font-weight: bold;
        margin: 30px auto 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-middle;
        cursor: pointer;
        img {
          width: 160px;
        }
        &:hover {
          text-decoration: none !important;
        }
      }
    }
    .c-modal-wrap-wrap-campaign {
      .c-modal-wrap-text {
        text-align: center;
      }
    }
  }

  .c-modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background: $overlay;
  }
}
