//////////////////////////////
//
// lms用(本番)のscss
// dart sass 3.0.0にするとimportが使えなくなるので注意
// importが使えないとstgとlmsで分けるのが超きつい気がするので、対策が必要
//
//////////////////////////////

// //間違って本番に出してしまいそうなのでコメントアウトしておく
$tenant: "lms";

//管理者向けにカレンダーのセルの高さを設定
.course-id-277 .calendarwrapper td > div {
  min-height: 250px !important; //admin限定でダッシュボードのカレンダーの高さ変更
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900");
body {
  font-family: "Noto Sans JP", sans-serif;
}

html[data-tenantidnumber="lmswaomirai"] {
  @import "object/project/project-lms-moodle/_lms-scss-global";
}