extends ../_layout_moodle.pug
block variables
  - var title = '授業への参加方法は？'
  - var template = 'help' //_layout_moodle.pugでhelpテンプレを指定
block contents
  //- .howto-block
  //-   .howto-table-contents 
  //-     p|目次
  //-     a.scroll-to-section-1(href="#")
  //-       |1.哲学/科学/経済の場合
  //-     br
  //-     a.scroll-to-section-2(href="#")
  //-       |2.グローバル英語の場合
  //- .howto-block.section-1
  //-   h2
  //-     |哲学/科学/経済の場合
  p 
    |受講時間になったら受講カレンダーの予定をクリックし受講ページに行くと受講が可能です
  div.howto-image 
    img(src='https://go.waomirai.com/l/1026513/2024-12-05/h92qt/1026513/173337570135ZFVJkq/howto_attend_img_2_1.png')
  //- .howto-block.section-2
  //-   h2
  //-     |グローバル英語の場合
  //-   p 
  //-     |受講時間になったら受講カレンダーの予定をクリックし受講ページに行くと受講が可能です
  //-   div.howto-image 
  //-     img(src='https://go.waomirai.com/l/1026513/2024-12-05/h92qt/1026513/173337570135ZFVJkq/howto_attend_img_2_1.png')