extends ../_layout_moodle.pug
block variables
  - var title = '１週間に同じ授業が２つあります。どれに参加すればいいですか？'
  - var template = 'help' //_layout_moodle.pugでhelpテンプレを指定
block contents

  .howto-block
    p 
      |ワオ未来塾の授業はライブ授業で同じ内容の授業を週２回配信しています。
      br
      |どちらかお好きな授業をご参加いただけたらと思います。
    div.howto-image 
      img(src=ImgPageFaq05Whichclass01)
  //- .howto-block
  //-   p 
  //-     |またはアーカイブから授業を見直すことも可能です。
  //-     br
  //-     |アーカイブ授業の参加方法はこちら