extends ../_layout_moodle.pug
block variables
  - var title = '授業への参加方法は？'
  - var template = 'help' //_layout_moodle.pugでhelpテンプレを指定
block contents
  .howto-table-contents 
    p|目次
    a.scroll-to-section-1(href="#")
      |1.購入した科目の受講レベルを設定する
    br
    a.scroll-to-section-2(href="#")
      |2.受講時間になったら参加する
  br
  br
  .howto-block.section-1
    h2
      |1.購入した科目の受講レベルを設定する
    p 
      |科目を購入後、マイページで受講レベルを設定する必要があります。以下の手順で設定を進めてください。
      br
      |すでに購入している場合は、「2.受講時間になったら参加する」を参照してください。
    //- .c-alert-banner.alert
    //-   .c-alert-banner-left  
    //-       .c-alert-banner-left-icon
    //-           i.icon.fa.fa-solid.fa-circle-exclamation
    //-       .c-alert-banner-text-title
    //-           .c-alert-banner-text-read
    //-               |この手順を行わないと、ダッシュボードに授業の予定が表示されないため必ず行なってください。 
    //- .c-alert-banner.alert
    //-   .c-alert-banner-left  
    //-       .c-alert-banner-left-icon
    //-           i.icon.fa.fa-solid.fa-circle-exclamation
    //-       .c-alert-banner-text-title
    //-           .c-alert-banner-text-read
    //-               |この手順を行わないと、ダッシュボードに授業の予定が表示されないため必ず行なってください。 
      .c-alert-banner-right
        a(href='')
          |ここにボタンだよ
  .howto-block
    h3
      |ヘッダーの「マイページ」→ユーザ詳細にある「登録情報の変更」をクリック
    div.howto-image 
      img(src='https://go.waomirai.com/l/1026513/2025-03-13/hhs9f/1026513/1741917761YlVAHr6s/howto_change_level_01.png')
  .howto-block
    h3
      |③受講変更欄にあるレベルを変更する
    div.howto-image 
      img(src='https://go.waomirai.com/l/1026513/2025-03-13/hhslj/1026513/1741920909E3wAasfg/howto_attend_class_02.png')
  .howto-block
    h3
      |④ヘッダーの「受講カレンダー」をクリック
    div.howto-image 
      img(src='https://go.waomirai.com/l/1026513/2025-03-13/hhslf/1026513/1741920909RIvRwcpg/howto_attend_class_03.png')
  .howto-block
    h3
      |⑤受講カレンダー内のカレンダーに購入した科目の受講スケジュールが表示されます
    div.howto-image 
      img(src='https://go.waomirai.com/l/1026513/2025-03-13/hhslb/1026513/1741920909m57qMLND/howto_attend_class_04.png')
  .howto-block.section-2
    h2
      |2.受講時間になったら参加する
    p 
      |受講時間になったらマイページ内のカレンダーの予定をクリックし受講ページに行くと受講が可能です
    div.howto-image 
      img(src='https://go.waomirai.com/l/1026513/2024-12-05/h92qt/1026513/173337570135ZFVJkq/howto_attend_img_2_1.png')