$pc-pcmax-width:1000px;
$font-size-l:24px;
$font-size-m:18px;
$font-size-s:14px;
$font-size-ss:10px;

h2{
    margin: 0 auto 20px;
    text-align: center;
    font-size: $font-size-l;
    letter-spacing: 1.5px;
}

h2.underline:after{
    display: block;
    width: 60px;
    height: 3px;
    content: "";
    background: $cl-main-orange;
    margin: 14px auto 0px;
}

.hapitas-section{
    padding: 90px 0;
    .hapitas-section-group {
        margin: 60px auto 90px;
    }
    .hapitas-section-text p{
        max-width: 600px;
        margin: 0 auto;
        line-height: 1.5 !important;
        font-size: $font-size-m;
    }
}

.hapitas-section-gray{
    background: $cl-graylight;
}





.hapitas-section-group-step{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    max-width: $pc-pcmax-width;
    margin: 0 auto;
    padding: 0 20px;
    .hapitas-section-group-step-child {
        border: 2px solid $cl-main-orange;
        padding: 45px 0 0;
        position: relative;
        border-radius: 10px;
        margin: 45px 0 0;
        background: white;
        .hapitas-section-group-step-child-img {
            width: 100px;
            margin: 50px auto;
        }
        .hapitas-section-group-step-child-number {
            position: absolute;
            top: -20px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            display: block;
            background: $cl-main-orange;
            width: 46px;
            height: 46px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: $font-size-l;
        }
        .hapitas-section-group-step-child-text {
            text-align: center;
            color:$cl-black;
            margin: 0 0 30px;
            font-weight: bold;
            font-size: $font-size-m;
           
        }
    }
}

.hapitas-section-group-tab{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
    max-width: $pc-pcmax-width;
    margin: 0 auto;
    padding: 0 20px;
    .hapitas-section-group-tab-child{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        height: 50px;
        font-size: $font-size-m;
        font-weight: bold;
        position: relative;
        &.active{
            &:after{
                content: "";
                display: block;
                height: 0px;
                width: 0px;
                border: 20px solid transparent;
                position: absolute;
                bottom: -35px;
                left: 0;
                right: 0;
                margin: auto;
            }
        } 
    }
    #tab-economiy{
        border:3px $cl-economiy solid;
        color:$cl-economiy;
        background: white;  
        &.active{
            color:white !important;
            background: $cl-economiy !important;
            &:after{
                border-top-color: $cl-economiy;
            }
        } 
    }
    #tab-philosophy{
        border:3px $cl-philosophy solid;
        color:$cl-philosophy;
        background: white;  
        &.active{
            color:white !important;
            background:$cl-philosophy !important;
            &:after{
                border-top-color: $cl-philosophy;
            }
        } 
    }
    #tab-science{
        border:3px $cl-science solid;
        color:$cl-science;
        background: white;  
        &.active{
            color:white !important;
            background:$cl-science !important;
            &:after{
                border-top-color: $cl-science;
            }
        } 
    }
}

.hapitas-section-group-tab-content {
    max-width: $pc-pcmax-width;
    margin: 20px auto 0;
    border-radius: 10px;
    background: white;
    // &.tab-content-economiy{
    //     border:3px solid $cl-economiy;
    // }
    // &.tab-content-philosophy{
    //     border:3px solid $cl-philosophy;
    // }
    // &.tab-content-science{
    //     border:3px solid $cl-science;
    // }
}

.tab-content-child{
    width: 700px;
    margin: 0px auto 20px;
    h3{
        margin: 0px auto 15px;
        padding: 45px 0 0;
        text-align: center;
        font-size: $font-size-l;
    }
    iframe{
        width: 100%;
        aspect-ratio: 16 / 9;
    }
    .hapitas-section-group-tab-content-form{
        padding-bottom: 120px;
        text-align: center;
    }
}