mixin day-content
      div(data-region='day-content')
        ul
          li(data-region='event-item' data-event-component='' data-event-eventtype='course' data-event-folded='false' data-eventtype-course='1' draggable='true' data-drag-type='move' data-min-day-timestamp='1731682800' data-min-day-error='コース開始日前にイベントを設定できません')
            a(data-action='view-event' data-event-id='469' href='https://lms.waomirai.com/course/view.php?id=212' title='17:30 哲学Week1')
              span.calendar-circle.calendar_event_course
              span.eventname 17:30 &#x54F2;&#x5B66;Week1
          li(data-region='event-item' data-event-component='' data-event-eventtype='course' data-event-folded='false' data-eventtype-course='1' draggable='true' data-drag-type='move' data-min-day-timestamp='1731682800' data-min-day-error='コース開始日前にイベントを設定できません')
            a(data-action='view-event' data-event-id='466' href='https://lms.waomirai.com/course/view.php?id=211' title='18:30 科学week1')
              span.calendar-circle.calendar_event_course
              span.eventname 18:30 &#x79D1;&#x5B66;week1
          li(data-action='view-more-events' style='display: none')
            strong
              a.aalink.day(data-action='view-day-link' href='#' aria-label='2024年 12月 17日 イベント' data-year='2024' data-month='12' data-day='17' data-courseid='1' data-categoryid='0' data-timestamp='1734361200')
                | &#x3055;&#x3089;&#x306B;  &#x4EF6;

- var currentYear = new Date().getFullYear()
- var currentMonth = new Date().getMonth() + 1
p #{currentMonth}
div あああ
#yui_3_18_1_1_1732844965795_22.card-text.content.mt-3
                #yui_3_18_1_1_1732844965795_21.maincalendar(data-region='calendar')
                  #calendar-month-67491da5b9c2b67491da5b9c2d1-1(data-template='core_calendar/month_detailed')
                    .header.d-flex.flex-wrap.p-1
                      label.sr-only(for='calendar-course-filter-1') &#x30B3;&#x30FC;&#x30B9;&#x4E00;&#x89A7;
                      select#calendar-course-filter-1.select.custom-select.cal_courses_flt.ml-1.mr-auto(name='course')
                        option(selected='selected' value='1') &#x3059;&#x3079;&#x3066;&#x306E;&#x30B3;&#x30FC;&#x30B9;

                    //-   button.btn.btn-primary.float-sm-right.float-right(data-context-id='2' data-action='new-event-button')
                    //-     | &#x65B0;&#x3057;&#x3044;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                    .calendarwrapper(data-courseid='1' data-context-id='2' data-month='12' data-year='2024' data-view='monthblock')
                      #month-navigation-1-1.controls
                        .calendar-controls
                          a.arrow_link.previous(href='https://lms.waomirai.com/calendar/view.php?view=month&time=1730386800' title='前月' data-year='2024' data-month='11' data-drop-zone='nav-link')
                            span.arrow(aria-hidden='true') &#x25C0;&#xFE0E;
                            span.arrow_text 11&#x6708;
                          span.hide  | 
                          h4.current #{currentYear}&#x5E74; #{currentMonth}
                          span.hide  | 
                          a.arrow_link.next(href='https://lms.waomirai.com/calendar/view.php?view=month&time=1735657200' title='来月' data-year='2025' data-month='1' data-drop-zone='nav-link')
                            span.arrow_text 1&#x6708;
                            span.arrow(aria-hidden='true') &#x25B6;&#xFE0E;
                      span.overlay-icon-container.hidden(data-region='overlay-icon-container')
                        span.loading-icon.icon-no-margin
                          i.icon.fa.fa-circle-o-notch.fa-spin.fa-fw(title='読み込み中' role='img' aria-label='読み込み中' aria-hidden='true')
                          span.sr-only &#x8AAD;&#x307F;&#x8FBC;&#x307F;&#x4E2D;
                      table#month-detailed-1-1.calendarmonth.calendartable.mb-0
                        thead
                          tr
                            th.header.text-xs-center
                              span.sr-only &#x6708;&#x66DC;&#x65E5;
                              span(aria-hidden='true') &#x6708;
                            th.header.text-xs-center
                              span.sr-only &#x706B;&#x66DC;&#x65E5;
                              span(aria-hidden='true') &#x706B;
                            th.header.text-xs-center
                              span.sr-only &#x6C34;&#x66DC;&#x65E5;
                              span(aria-hidden='true') &#x6C34;
                            th.header.text-xs-center
                              span.sr-only &#x6728;&#x66DC;&#x65E5;
                              span(aria-hidden='true') &#x6728;
                            th.header.text-xs-center
                              span.sr-only &#x91D1;&#x66DC;&#x65E5;
                              span(aria-hidden='true') &#x91D1;
                            th.header.text-xs-center
                              span.sr-only &#x571F;&#x66DC;&#x65E5;
                              span(aria-hidden='true') &#x571F;
                            th.header.text-xs-center
                              span.sr-only &#x65E5;&#x66DC;&#x65E5;
                              span(aria-hidden='true') &#x65E5;
                        tbody
                          tr(data-region='month-view-week')
                            td.dayblank &nbsp;
                            td.dayblank &nbsp;
                            td.dayblank &nbsp;
                            td.dayblank &nbsp;
                            td.dayblank &nbsp;
                            td.dayblank &nbsp;
                            td.day.text-sm-center.text-md-left.weekend.clickable(data-day='1' data-day-timestamp='1732978800' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733017768')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 01&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 1
                                  +day-content
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 01&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 1

                          tr(data-region='month-view-week')
                            td.day.text-sm-center.text-md-left.clickable(data-day='2' data-day-timestamp='1733065200' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733104168')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 02&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 2
                                  +day-content
                            td.day.text-sm-center.text-md-left.clickable.hasevent(data-day='3' data-day-timestamp='1733151600' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733190568' data-title='2024年 12月 03日 イベント')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only 3 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 03&#x65E5;
                                a.aalink.day(data-action='view-day-link' href='#' aria-label='2024年 12月 03日 イベント' data-year='2024' data-month='12' data-day='3' data-courseid='1' data-categoryid='0' data-timestamp='1733151600')
                                  span.day-number-circle
                                    span.day-number 3
                                +day-content
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 03&#x65E5;
                                a.day.aalink(data-action='view-day-link' href='#' aria-label='2024年 12月 03日 イベント' data-year='2024' data-month='12' data-day='3' data-courseid='1' data-categoryid='0' data-timestamp='1733151600')
                                  span.day-number-circle
                                    span.day-number 3
                            td.day.text-sm-center.text-md-left.clickable(data-day='4' data-day-timestamp='1733238000' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733276968')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 04&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 4
                                  +day-content
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 04&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 4
                            td.day.text-sm-center.text-md-left.clickable.hasevent(data-day='5' data-day-timestamp='1733324400' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733363368' data-title='2024年 12月 05日 イベント' data-original-title='' title='')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 05&#x65E5;
                                a.aalink.day(data-action='view-day-link' href='#' aria-label='2024年 12月 05日 イベント' data-year='2024' data-month='12' data-day='5' data-courseid='1' data-categoryid='0' data-timestamp='1733324400')
                                  span.day-number-circle
                                    span.day-number 5
                                +day-content
                                .hidden
                                  div(data-popover-eventtype-course='1')
                                    i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                    span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                    |                                                 17:30 &#x54F2;&#x5B66;Week1
                                  div(data-popover-eventtype-course='1')
                                    i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                    span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                    |                                                 18:30 &#x79D1;&#x5B66;week1
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 05&#x65E5;
                                a.day.aalink(data-action='view-day-link' href='#' aria-label='2024年 12月 05日 イベント' data-year='2024' data-month='12' data-day='5' data-courseid='1' data-categoryid='0' data-timestamp='1733324400')
                                  span.day-number-circle
                                    span.day-number 5
                            td.day.text-sm-center.text-md-left.clickable(data-day='6' data-day-timestamp='1733410800' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733449768')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 06&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 6
                                  +day-content
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 06&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 6
                            td.day.text-sm-center.text-md-left.weekend.clickable(data-day='7' data-day-timestamp='1733497200' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733536168')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 07&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 7
                                  +day-content
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 07&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 7
                            td.day.text-sm-center.text-md-left.weekend.clickable(data-day='8' data-day-timestamp='1733583600' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733622568')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 08&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 8
                                  +day-content
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 08&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 8
                          tr(data-region='month-view-week')
                            td.day.text-sm-center.text-md-left.clickable(data-day='9' data-day-timestamp='1733670000' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733708968')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 09&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 9
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 09&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 9
                            td.day.text-sm-center.text-md-left.clickable.hasevent(data-day='10' data-day-timestamp='1733756400' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733795368' data-title='2024年 12月 10日 イベント')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 10&#x65E5;
                                a.aalink.day(data-action='view-day-link' href='#' aria-label='2024年 12月 10日 イベント' data-year='2024' data-month='12' data-day='10' data-courseid='1' data-categoryid='0' data-timestamp='1733756400')
                                  span.day-number-circle
                                    span.day-number 10

                                  .hidden
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 17:30 &#x54F2;&#x5B66;Week1
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 18:30 &#x79D1;&#x5B66;week1
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 10&#x65E5;
                                a.day.aalink(data-action='view-day-link' href='#' aria-label='2024年 12月 10日 イベント' data-year='2024' data-month='12' data-day='10' data-courseid='1' data-categoryid='0' data-timestamp='1733756400')
                                  span.day-number-circle
                                    span.day-number 10
                            td.day.text-sm-center.text-md-left.clickable(data-day='11' data-day-timestamp='1733842800' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733881768')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 11&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 11

                                  .hidden
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 17:30 &#x54F2;&#x5B66;Week1
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 18:30 &#x79D1;&#x5B66;week1
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 11&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 11

                            td.day.text-sm-center.text-md-left.clickable.hasevent(data-day='12' data-day-timestamp='1733929200' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1733968168' data-title='2024年 12月 12日 イベント')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 12&#x65E5;
                                a.aalink.day(data-action='view-day-link' href='#' aria-label='2024年 12月 12日 イベント' data-year='2024' data-month='12' data-day='12' data-courseid='1' data-categoryid='0' data-timestamp='1733929200')
                                  span.day-number-circle
                                    span.day-number 12

                                  .hidden
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 17:30 &#x54F2;&#x5B66;Week1
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 18:30 &#x79D1;&#x5B66;week1
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 12&#x65E5;
                                a.day.aalink(data-action='view-day-link' href='#' aria-label='2024年 12月 12日 イベント' data-year='2024' data-month='12' data-day='12' data-courseid='1' data-categoryid='0' data-timestamp='1733929200')
                                  span.day-number-circle
                                    span.day-number 12
                            td.day.text-sm-center.text-md-left.clickable(data-day='13' data-day-timestamp='1734015600' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734054568')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 13&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 13
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 13&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 13
                            td.day.text-sm-center.text-md-left.weekend.clickable(data-day='14' data-day-timestamp='1734102000' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734140968')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 14&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 14
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 14&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 14
                            td.day.text-sm-center.text-md-left.clickable.hasevent.today(data-day='15' data-day-timestamp='1734361200' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734400168' data-title='2024年 12月 15日 イベント')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 15&#x65E5;
                                a.aalink.day(data-action='view-day-link' href='#' aria-label='2024年 12月 17日 イベント' data-year='2024' data-month='12' data-day='17' data-courseid='1' data-categoryid='0' data-timestamp='1734361200')
                                  span.day-number-circle
                                    span.day-number 15

                          tr(data-region='month-view-week')
                            td.day.text-sm-center.text-md-left.clickable(data-day='16' data-day-timestamp='1734274800' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734313768')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 16&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 16
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 16&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 16
                            td.day.text-sm-center.text-md-left.clickable.hasevent(data-day='17' data-day-timestamp='1734361200' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734400168' data-title='2024年 12月 17日 イベント')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 17&#x65E5;
                                a.aalink.day(data-action='view-day-link' href='#' aria-label='2024年 12月 17日 イベント' data-year='2024' data-month='12' data-day='17' data-courseid='1' data-categoryid='0' data-timestamp='1734361200')
                                  span.day-number-circle
                                    span.day-number 17

                                  .hidden
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 17:30 &#x54F2;&#x5B66;Week1
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 18:30 &#x79D1;&#x5B66;week1
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 17&#x65E5;
                                a.day.aalink(data-action='view-day-link' href='#' aria-label='2024年 12月 17日 イベント' data-year='2024' data-month='12' data-day='17' data-courseid='1' data-categoryid='0' data-timestamp='1734361200')
                                  span.day-number-circle
                                    span.day-number 17
                            td.day.text-sm-center.text-md-left.clickable(data-day='18' data-day-timestamp='1734447600' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734486568')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 18&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 18
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 18&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 18
                            td.day.text-sm-center.text-md-left.clickable.hasevent(data-day='19' data-day-timestamp='1734534000' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734572968' data-title='2024年 12月 19日 イベント')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 19&#x65E5;
                                a.aalink.day(data-action='view-day-link' href='#' aria-label='2024年 12月 19日 イベント' data-year='2024' data-month='12' data-day='19' data-courseid='1' data-categoryid='0' data-timestamp='1734534000')
                                  span.day-number-circle
                                    span.day-number 19

                                  .hidden
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 17:30 &#x54F2;&#x5B66;Week1
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 18:30 &#x79D1;&#x5B66;week1
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only 2 &#x30A4;&#x30D9;&#x30F3;&#x30C8; 2024&#x5E74; 12&#x6708; 19&#x65E5;
                                a.day.aalink(data-action='view-day-link' href='#' aria-label='2024年 12月 19日 イベント' data-year='2024' data-month='12' data-day='19' data-courseid='1' data-categoryid='0' data-timestamp='1734534000')
                                  span.day-number-circle
                                    span.day-number 19
                            td.day.text-sm-center.text-md-left.clickable(data-day='20' data-day-timestamp='1734620400' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734659368')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 20&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 20

                                  .hidden
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 17:30 &#x54F2;&#x5B66;Week1
                                    div(data-popover-eventtype-course='1')
                                      i.icon.fa.fa-graduation-cap.fa-fw(title='コースイベント' role='img' aria-label='コースイベント' aria-hidden='true')
                                      span.sr-only &#x30B3;&#x30FC;&#x30B9;&#x30A4;&#x30D9;&#x30F3;&#x30C8;
                                      |                                                 18:30 &#x79D1;&#x5B66;week1
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 20&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 20
                            td.day.text-sm-center.text-md-left.weekend.clickable(data-day='21' data-day-timestamp='1734706800' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734745768')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 21&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 21
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 21&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 21
                            td.day.text-sm-center.text-md-left.weekend.clickable(data-day='22' data-day-timestamp='1734793200' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734832168')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 22&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 22
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 22&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 22
                          tr(data-region='month-view-week')
                            td.day.text-sm-center.text-md-left.clickable(data-day='23' data-day-timestamp='1734879600' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1734918568')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 23&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 23


                            td.day.text-sm-center.text-md-left.clickable(data-day='24' data-day-timestamp='1734966000' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1735004968')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 24&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 24
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 24&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 24
                            td.day.text-sm-center.text-md-left.clickable(data-day='25' data-day-timestamp='1735052400' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1735091368')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 25&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 25
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 25&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 25
                            td.day.text-sm-center.text-md-left.clickable(data-day='26' data-day-timestamp='1735138800' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1735177768')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 26&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 26
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 26&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 26
                            td.day.text-sm-center.text-md-left.clickable(data-day='27' data-day-timestamp='1735225200' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1735264168')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 27&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 27

                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 27&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 27
                            td.day.text-sm-center.text-md-left.weekend.clickable(data-day='28' data-day-timestamp='1735311600' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1735350568')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 28&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 28

                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 28&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 28
                            td.day.text-sm-center.text-md-left.weekend.clickable(data-day='29' data-day-timestamp='1735398000' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1735436968')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 29&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 29
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 29&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 29
                          tr(data-region='month-view-week')
                            td.day.text-sm-center.text-md-left.clickable(data-day='30' data-day-timestamp='1735484400' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1735523368')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 30&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 30

                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 30&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 30
                            td.day.text-sm-center.text-md-left.clickable(data-day='31' data-day-timestamp='1735570800' data-drop-zone='month-view-day' data-region='day' data-new-event-timestamp='1735609768')
                              .d-none.d-md-block.hidden-phone.text-xs-center
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 31&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 31
                              .d-md-none.hidden-desktop.hidden-tablet
                                span.sr-only &#x30A4;&#x30D9;&#x30F3;&#x30C8;&#x306A;&#x3057; 2024&#x5E74; 12&#x6708; 31&#x65E5;
                                span(aria-hidden='true')
                                  span.day-number-circle
                                    span.day-number 31
                            td.dayblank &nbsp;
                            td.dayblank &nbsp;
                            td.dayblank &nbsp;
                            td.dayblank &nbsp;
                            td.dayblank &nbsp;
                .footer
                  .bottom
                    span.footer-link
                      a(href='https://lms.waomirai.com/calendar/view.php?view=month&time=1732844965') &#x30D5;&#x30EB;&#x30AB;&#x30EC;&#x30F3;&#x30C0;&#x30FC;
