
extends ../_layout_moodle.pug
block variables
  - var title = 'ダッシュボード'  // 変数の定義
  - var status = 'purchased'
  - var calender = 'events-include' //今日予定あり
  - var calenderAfterTomorrow = '' //明日以降予定なし
  - var SubjectIds = env === 'stg' ? [213] : env === 'lmswaomirai' ? [1001] : []
block contents
  include _parts-main-dashboard.pug
