extends ../_layout_moodle.pug
block variables
  - var title = '経済のみ受講｜ダッシュボード | stg'  // 変数の定義
  - var status = 'purchased'
  - var calender = 'events-one'
  // SubjectIds 配列の定義
  - var SubjectIds = [236]
block contents
  include _parts-main-dashboard.pug
