extends ../_layout_moodle.pug
block variables
  - var title = '何も科目買っていないダッシュボード | stg'  // 変数の定義
  - var calender = 'events-none' //カレンダーなし
  // SubjectIds 配列の定義
  - var SubjectIds = []
block contents
  include _parts-main-dashboard.pug
