extends ../_layout_moodle.pug
block variables
  - var title = '２科目受講｜ダッシュボード | stg'  // 変数の定義
  - var status = 'purchased'
  - var calender = 'events-include'
  // SubjectIds 配列の定義
  - var SubjectIds = [228]
block contents
  include _parts-main-dashboard.pug
