extends ../_layout_moodle.pug
block variables
  - var title = 'ダッシュボード'  // 変数の定義
  - var status = 'purchased'
  - var calender = 'events-include'
  // SubjectIds 配列の定義
  - var SubjectIds = env === 'stg' ? [211] : env === 'lmswaomirai' ? [265] : []
block contents
  include _parts-main-dashboard.pug