.
  <div class="modal moodle-has-zindex show" data-region="modal-container" role="dialog" aria-modal="true" aria-labelledby="6-modal-title" tabindex="-1" style="z-index: 1052;">
      <div class="modal-dialog modal-dialog-scrollable" data-region="modal" tabindex="0" data-type="event">
          <div class="modal-content">
              <div class="modal-header calendar_event_course" data-region="header">

                      <h5 id="6-modal-title" class="modal-title" data-region="title">17:30 英語L1⑥｜(平日コース)</h5>
                  <button type="button" class="btn-close" data-action="hide" aria-label="閉じる">
                    <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body" data-region="body" style=""><div class="summary-modal-container" data-region="summary-modal-container" data-event-id="1648" data-event-title="17:30 英語L1⑥｜(平日コース)" data-event-count="" data-event-="" data-action-event="false" data-edit-url="https://lms.waomirai.com/calendar/event.php?action=edit&amp;id=1648&amp;course=130">
      <div class="container-fluid">


          <div class="row">
              <div class="col-1"><i class="icon fa-regular fa-clock fa-fw " title="期日" role="img" aria-label="期日" aria-hidden="true"></i><span class="sr-only">期日</span></div>
              <div class="col-11"><a href="https://lms.waomirai.com/calendar/view.php?view=day&amp;time=1763628900">2025年 11月 20日</a>, 17:30 <strong>»</strong> 17:55</div>
          </div>
              <div class="row mt-1">
                  <div class="col-1"><i class="icon fa-regular fa-calendar fa-fw " title="イベントタイプ" role="img" aria-label="イベントタイプ" aria-hidden="true"></i><span class="sr-only">イベントタイプ</span></div>
                  <div class="col-11">コースイベント</div>
              </div>
              <div class="row mt-1">
                  <div class="col-1"><i class="icon fa fa-align-left fa-fw " title="説明" role="img" aria-label="説明" aria-hidden="true"></i><span class="sr-only">説明</span></div>
                  <div class="description-content col-11"><div>
      <div class="description-content-img-eng"><img src="https://waomirai.com/lp/assets/class-thumbnails/eng_lesson_06.png" alt="eng_lesson_06.png"></div>
      <div class="description-content-text-eng">今回は授業の最終週です。授業が終わったら今月の授業の振返りを記入しよう！回答するとスペシャルなバッジがゲットできます！<br><br>
      </div>
      <div class="description-content-button primary zoom"><a href="https://us02web.zoom.us/j/82682367575?pwd=Qqd5zmaCYXozBDoDecPcU8cuCMYT48.1" target="_blank" rel="noreferrer noopener">授業を受講する(zoom)</a></div>
      <div class="description-content-button primary"><a href="https://lms.waomirai.com/mod/questionnaire/complete.php?id=2125" target="_blank" rel="noreferrer noopener">授業の振返りを記入する</a></div>
      <div class="description-content-button secondly movie"><a href="https://vimeo.com/showcase/11296073" target="_blank" rel="noreferrer noopener">トレーニング動画 (vimeo) </a></div>
      <div class="description-content-text-eng-note">トレーニング動画のパスワードは「mirai」です</div>
  </div></div>
              </div>
              <div class="row mt-1">
                  <div class="col-1"><i class="icon fa fa-graduation-cap fa-fw " title="コース" role="img" aria-label="コース" aria-hidden="true"></i><span class="sr-only">コース</span></div>
                  <div class="col-11"><a href="https://lms.waomirai.com/course/view.php?id=130">グローバル英語 LEVEL1 LOCAL STAGE</a></div>
              </div>
      </div>
  </div></div>
              <div class="modal-footer hidden" data-region="footer">


                  </div>
          </div>
      </div>
  </div>

.
  <div><div class="modal-backdrop in show" aria-hidden="true" data-region="modal-backdrop" style="z-index: 1051;"></div></div>