.card-body.p-3
    h5#instance-302-header.card-title.d-inline &#x6700;&#x65B0;&#x30D0;&#x30C3;&#x30B8;
    .card-text.content.mt-3
      ul.badges
        li
          a(title='2025年9月：「殺すな」は普遍的ルールか？' href='https://lms.waomirai.com/badges/badge.php?hash=e39d6983f8c0fa7bd6f539825c0fdf58d4213208')
            img.badge-image(src='https://lms.waomirai.com/pluginfile.php/2640/badges/badgeimage/186/f3' alt='')
            .badge-actions
            span.badge-name 2025&#x5E74;9&#x6708;&#xFF1A;&#x300C;&#x6BBA;&#x3059;&#x306A;&#x300D;&#x306F;&#x666E;&#x904D;&#x7684;&#x30EB;&#x30FC;&#x30EB;&#x304B;&#xFF1F;
        li
          a(title='2025年8月：制約が生み出す「自由」' href='https://lms.waomirai.com/badges/badge.php?hash=6ced454808dc5a175075500180b4a519bb581a26')
            img.badge-image(src='https://lms.waomirai.com/pluginfile.php/2640/badges/badgeimage/185/f3' alt='')
            .badge-actions
            span.badge-name 2025&#x5E74;8&#x6708;&#xFF1A;&#x5236;&#x7D04;&#x304C;&#x751F;&#x307F;&#x51FA;&#x3059;&#x300C;&#x81EA;&#x7531;&#x300D;
        li
          a(title='2025年7月：「事実」と「真実」信じるならどっち？' href='https://lms.waomirai.com/badges/badge.php?hash=263e2c9d7e19730f107d20271ef82cdc6af3c87c')
            img.badge-image(src='https://lms.waomirai.com/pluginfile.php/2640/badges/badgeimage/184/f3' alt='')
            .badge-actions
            span.badge-name 2025&#x5E74;7&#x6708;&#xFF1A;&#x300C;&#x4E8B;&#x5B9F;&#x300D;&#x3068;&#x300C;&#x771F;&#x5B9F;&#x300D;&#x4FE1;&#x3058;&#x308B;&#x306A;&#x3089;&#x3069;&#x3063;&#x3061;&#xFF1F;
        //- li
        //-   a(title='2025年6月：嘘はどこまで許される？' href='https://lms.waomirai.com/badges/badge.php?hash=36c0577ce39200f9de70b4aff0e8171ebdc35e6e')
        //-     img.badge-image(src='https://lms.waomirai.com/pluginfile.php/2640/badges/badgeimage/183/f3' alt='')
        //-     .badge-actions
        //-     span.badge-name 2025&#x5E74;6&#x6708;&#xFF1A;&#x5618;&#x306F;&#x3069;&#x3053;&#x307E;&#x3067;&#x8A31;&#x3055;&#x308C;&#x308B;&#xFF1F;
        //- ////////////////////////////////
        //- //哲学｜L4想定
        //- ////////////////////////////////
        //- li
        //-   a(title='2025年9月：「具体と抽象」が生み出す価値' href='https://lms.waomirai.com/badges/badge.php?hash=2c61fe516547e93a777595357e6d338d30bfaff7')
        //-     img.badge-image(src='https://lms.waomirai.com/pluginfile.php/2640/badges/badgeimage/93/f3' alt='')
        //-     .badge-actions
        //-     span.badge-name 2025&#x5E74;9&#x6708;&#xFF1A;&#x300C;&#x5177;&#x4F53;&#x3068;&#x62BD;&#x8C61;&#x300D;&#x304C;&#x751F;&#x307F;&#x51FA;&#x3059;&#x4FA1;&#x5024;
        //- li
        //-   a(title='2025年9月：古代ギリシャの数学者の偉業' href='https://lms.waomirai.com/badges/badge.php?hash=e79dc0361bbd7e4a4f3b327748511046eb2d633e')
        //-     img.badge-image(src='https://lms.waomirai.com/pluginfile.php/2659/badges/badgeimage/215/f3' alt='')
        //-     .badge-actions
        //-     span.badge-name 2025&#x5E74;9&#x6708;&#xFF1A;&#x53E4;&#x4EE3;&#x30AE;&#x30EA;&#x30B7;&#x30E3;&#x306E;&#x6570;&#x5B66;&#x8005;&#x306E;&#x5049;&#x696D;
        //- li
        //-   a(title='2025年8月：知っておきたい ! 遺伝子組み換え食品の光と影' href='https://lms.waomirai.com/badges/badge.php?hash=7cb7a0fbb86618cb073b9a297253f1fa76decb10')
        //-     img.badge-image(src='https://lms.waomirai.com/pluginfile.php/2659/badges/badgeimage/214/f3' alt='')
        //-     .badge-actions
        //-     span.badge-name 2025&#x5E74;8&#x6708;&#xFF1A;&#x77E5;&#x3063;&#x3066;&#x304A;&#x304D;&#x305F;&#x3044; ! &#x907A;&#x4F1D;&#x5B50;&#x7D44;&#x307F;&#x63DB;&#x3048;&#x98DF;&#x54C1;&#x306E;&#x5149;&#x3068;&#x5F71;
        //- ////////////////////////////////
        //- //科学｜L4想定
        //- ////////////////////////////////
        //- li
        //-   a(title='2025年9月：微生物学の天才の世界' href='https://lms.waomirai.com/badges/badge.php?hash=c294d7b2665e970a7942815a894995c27689f929')
        //-     img.badge-image(src='https://lms.waomirai.com/pluginfile.php/2659/badges/badgeimage/213/f3' alt='')
        //-     .badge-actions
        //-     span.badge-name 2025&#x5E74;9&#x6708;&#xFF1A;&#x5FAE;&#x751F;&#x7269;&#x5B66;&#x306E;&#x5929;&#x624D;&#x306E;&#x4E16;&#x754C;
        //- li
        //-   a(title='2025年月：人間の手足が再生できるのって本当 ?' href='https://lms.waomirai.com/badges/badge.php?hash=0d55648ee0942aa0d3264813ee88c91016c8f7d1')
        //-     img.badge-image(src='https://lms.waomirai.com/pluginfile.php/2659/badges/badgeimage/212/f3' alt='')
        //-     .badge-actions
        //-     span.badge-name 2025&#x5E74;9&#x6708;&#xFF1A;&#x4EBA;&#x9593;&#x306E;&#x624B;&#x8DB3;&#x304C;&#x518D;&#x751F;&#x3067;&#x304D;&#x308B;&#x306E;&#x3063;&#x3066;&#x672C;&#x5F53; ?
        //- li
        //-   a(title='2025年5月：毒と薬は紙一重 !?' href='https://lms.waomirai.com/badges/badge.php?hash=cbd84955fef46b93cde5ff44d58bde82e26d0b66')
        //-     img.badge-image(src='https://lms.waomirai.com/pluginfile.php/2659/badges/badgeimage/97/f3' alt='')
        //-     .badge-actions
        //-     span.badge-name 2025&#x5E74;5&#x6708;&#xFF1A;&#x6BD2;&#x3068;&#x85AC;&#x306F;&#x7D19;&#x4E00;&#x91CD; !?
