.c-alert-banner {
  padding: 0px 12px;
  border-radius: $border-radius-middle;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  position: relative;

  @include responsive-style(768px) {
    display: block;
  }
  .c-alert-banner-close-change-course {
    position: absolute;
    right: -6px;
    top: -11px;
    width: 30px;
    height: 30px;
    border-radius: $border-radius-full;
    background: $cl-white;
    display: block;
    /* Ellipse 71 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    &::before,
    &::after {
      position: absolute;
      left: 15px;
      top: 5px;
      content: " ";
      height: 20px;
      width: 1.5px;
      background-color: $cl-graylight;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  .c-alert-banner-left {
    display: flex;
    align-items: center;
    padding: 12px 0;
    flex: 1;
    @include responsive-style(768px) {
      align-items: flex-start;
    }
  }
  .c-alert-banner-left-icon {
    width: 24px;
    height: 24px;
    margin: 0 10px 0 3px;
    @include responsive-style(768px) {
      margin: 5px 10px 0 3px;
    }
    i {
      font-size: 24px;
      display: block;
      line-height: 1;
    }
  }
  .c-alert-banner-text-title {
    font-size: 15px;
    color: $cl-black;
    font-weight: 500;
    a {
      text-decoration: underline;
    }
  }
  .c-alert-banner-text-read {
    font-size: $lms-font-size-ml;
  }
  .c-alert-banner-right a {
    @include button-size-middle;
    font-weight: bold;
    border: none !important;
    flex: 1;
    width: 200px;
    &:hover {
      text-decoration: none !important;
      opacity: 0.7;
    }
    @include responsive-style(768px) {
      margin: 0 0 16px 36px;
    }
  }
  &.alert {
    // background: $cl-alert;
    border: 2px solid $cl-alert;
    background: white;
    .c-alert-banner-left-icon {
      i {
        color: $cl-alert;
      }
    }
    .c-alert-banner-text-read {
      color: $cl-alert !important;
      font-weight: bold;
    }
    .c-alert-banner-right a {
      background: $cl-alert;
      color: white;
    }
  }
  &#alert-change-course {
    // background: $cl-alert;
    border: 1.5px solid $cl-main-orange;
    background: #fffde7;
    margin: 0 auto 15px;
  }
  &.alert-buy-course {
    // background: $cl-alert;
    border: 1.5px solid $cl-waogreen;
    background: #edfbf5;
    .c-alert-banner-left-icon {
      i {
        color: $cl-waogreen;
      }
    }
  }
  .c-alert-banner-right a {
    background: $cl-waogreen;
  }
}
