.lms-index-contents-block-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 0 20px 10px;

  @include responsive-style(768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 20px;
  }

  .common-contents-block-cards-course {
    background: white;
    border-radius: $border-radius-middle !important;
    @include lms-boxshadow;
    transition: all 300ms;

    &:hover {
      transform: translateY(-5px);
      opacity: 0.7;
      text-decoration: none !important;
    }

    .common-contents-block-cards-course-img-overlay {
      position: relative;
      overflow: hidden;
    }

    .common-contents-block-cards-course-img-text {
      position: absolute;
      left: 12px;
      top: 12px;
      color: white;
      z-index: 1;
      padding: 4px 12px;
      display: flex;
      font-size: $lms-font-size-m;
      letter-spacing: 2px;
      font-weight: normal;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 4px !important;
    }

    .common-contents-block-cards-course-img img {
      border-radius: 10px 10px 0 0 !important;
      height: 180px;
      object-fit: cover;
      width: 100%;
      @include responsive-style(768px) {
        height: 90px;
      }
    }
  }

  .common-contents-block-cards-course-detail {
    padding: 13px 20px 20px;
    text-align: left !important;
    position: relative;

    @include responsive-style(768px) {
      padding: 4px 10px 8px;
    }

    .common-contents-block-cards-course-detail-wrap {
      padding: 0 0 0 20px;
      position: relative;

      @include responsive-style(768px) {
        padding: 0;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 6px;
        height: 100%;
        border-radius: 100px;
        display: block;
        z-index: 1;

        @include responsive-style(768px) {
          width: 4px;
          display: none;
        }
      }
    }

    .common-contents-block-cards-course-detail-title {
      font-size: $lms-font-size-l;
      font-weight: bold;
      line-height: 1.5;
      color: $cl-black;
      margin: 5px 0;
      position: relative;

      @include responsive-style(768px) {
        font-size: $lms-font-size-ml;
        padding: 0 0 0 12px;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 5px;
        height: 100%;
        border-radius: 100px;
        background: #000;

        @include responsive-style(768px) {
          background: none;
        }
      }
    }

    .common-contents-block-cards-course-detail-text {
      font-size: $lms-font-size-m;
      color: $cl-black;
      line-height: 1.5;

      @include responsive-style(768px) {
        font-size: $lms-font-size-s;
      }
    }
  }

  // ブロックカラー設定
  @each $block,
    $color
      in (
        "philosophy": $cl-philosophy,
        "science": $cl-science,
        "economy": $cl-economy,
        "english": $cl-english,
        "programming": $cl-programming
      )
  {
    .block-#{$block} {
      &:before {
        background: $color;
      }

      .common-contents-block-cards-course-detail-title {
        &:before {
          @include min-responsive-style(769px) {
            display: none;
          }
          background: $color;
        }
      }
    }
  }
}
h6 {
  margin: 30px 10px 0px !important;
  display: block !important;
  font-size: $lms-font-size-l !important;
  position: relative;
}
.dashboard-main-contents-subtitle {
  margin: 6px 10px 0px !important;
  display: block !important;
  font-size: $lms-font-size-m !important;
  position: relative;
}

.dashboard-main-contents-block-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 24px;
  padding: 20px 10px 10px;
  margin: 0 0 30px;
  &.dashboard-main-contents-block-cards-normargin {
    margin: 0 0 0px !important;
  }
  @include responsive-style(768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px 5px 10px;
  }

  .common-contents-block-cards-course {
    background: white;
    border-radius: $border-radius-middle !important;
    @include lms-boxshadow;
    transition: all 300ms;

    &:hover {
      transform: translateY(-5px);
      opacity: 0.7;
      text-decoration: none !important;
    }

    .common-contents-block-cards-course-img-overlay {
      position: relative;
      overflow: hidden;
    }

    .common-contents-block-cards-course-img-text {
      position: absolute;
      left: 12px;
      top: 12px;
      color: white;
      z-index: 1;
      padding: 4px 12px;
      display: flex;
      font-size: $lms-font-size-s;
      letter-spacing: 2px;
      font-weight: normal;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 4px !important;
    }

    .common-contents-block-cards-course-img img {
      border-radius: 10px 10px 0 0 !important;
      height: 95px;
      object-fit: cover;
      width: 100%;
      @include responsive-style(768px) {
        height: 90px;
      }
    }
  }

  .common-contents-block-cards-course-detail {
    padding: 10px 15px 14px;
    text-align: left !important;
    position: relative;

    @include responsive-style(768px) {
      padding: 4px 10px 8px;
    }

    .common-contents-block-cards-course-detail-wrap {
      padding: 0 0 0 16px;
      position: relative;

      @include responsive-style(768px) {
        padding: 0;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 6px;
        height: 100%;
        border-radius: 100px;
        display: block;
        z-index: 1;

        @include responsive-style(768px) {
          width: 4px;
          display: none;
        }
      }
    }

    .common-contents-block-cards-course-detail-title {
      font-size: $lms-font-size-ml;
      font-weight: bold;
      line-height: $lineheight-tight;
      color: $cl-black;
      margin: 5px 0 3px;
      position: relative;

      @include responsive-style(768px) {
        font-size: $lms-font-size-ml;
        padding: 0 0 0 12px;
        line-height: $lineheight-tight;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 5px;
        height: 100%;
        border-radius: 100px;
        background: #000;

        @include responsive-style(768px) {
          background: none;
        }
      }
    }

    .common-contents-block-cards-course-detail-text {
      font-size: $lms-font-size-s;
      color: $cl-black;
      line-height: 1.5;

      @include responsive-style(768px) {
        font-size: $lms-font-size-s;
      }
    }
  }

  // ブロックカラー設定
  @each $block,
    $color
      in (
        "philosophy": $cl-philosophy,
        "science": $cl-science,
        "economy": $cl-economy,
        "english": $cl-english,
        "programming": $cl-programming
      )
  {
    .block-#{$block} {
      &:before {
        background: $color;
      }

      .common-contents-block-cards-course-detail-title {
        &:before {
          @include min-responsive-style(769px) {
            display: none;
          }
          background: $color;
        }
      }
    }
  }
}

.enrol-index-contents-block-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  padding: 0px 0px 0px;
  &:focus,
  &:active {
    background-color: inherit !important;
    outline: none;
  }
  @include responsive-style(768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px 5px 10px;
  }

  .common-contents-block-cards-course {
    background: white;
    border-radius: $border-radius-middle !important;
    @include lms-boxshadow;
    transition: all 300ms;
    position: relative;
    &:hover {
      transform: translateY(-5px);
      opacity: 0.7;
      text-decoration: none !important;
    }
    .common-contents-block-cards-course-link a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      &:focus,
      &:active {
        background-color: inherit !important;
        outline: none;
      }
    }
    .common-contents-block-cards-course-img-overlay {
      position: relative;
      overflow: hidden;
    }

    .common-contents-block-cards-course-img-text {
      position: absolute;
      left: 12px;
      top: 12px;
      color: white;
      z-index: 1;
      padding: 4px 12px;
      display: flex;
      font-size: $lms-font-size-s;
      letter-spacing: 2px;
      font-weight: normal;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 4px !important;
    }

    .common-contents-block-cards-course-img img {
      border-radius: 10px 10px 0 0 !important;
      height: 120px;
      object-fit: cover;
      width: 100%;
      @include responsive-style(768px) {
        height: 90px;
      }
    }
  }

  .common-contents-block-cards-course-detail {
    padding: 13px 20px 20px;
    text-align: left !important;
    position: relative;

    @include responsive-style(768px) {
      padding: 4px 10px 8px;
    }

    .common-contents-block-cards-course-detail-wrap {
      padding: 0 0 0 20px;
      position: relative;

      @include responsive-style(768px) {
        padding: 0;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 6px;
        height: 100%;
        border-radius: 100px;
        display: block;
        z-index: 1;

        @include responsive-style(768px) {
          width: 4px;
          display: none;
        }
      }
    }

    .common-contents-block-cards-course-detail-title {
      font-size: $lms-font-size-l;
      font-weight: bold;
      line-height: 1.5;
      color: $cl-black;
      margin: 5px 0;
      position: relative;

      @include responsive-style(768px) {
        font-size: $lms-font-size-ml;
        padding: 0 0 0 12px;
        line-height: $lineheight-tight;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 5px;
        height: 100%;
        border-radius: 100px;
        background: #000;

        @include responsive-style(768px) {
          background: none;
        }
      }
    }

    .common-contents-block-cards-course-detail-text {
      font-size: $lms-font-size-m;
      color: $cl-black;
      line-height: 1.5;

      @include responsive-style(768px) {
        font-size: $lms-font-size-s;
      }
    }
  }

  // ブロックカラー設定
  @each $block,
    $color
      in (
        "philosophy": $cl-philosophy,
        "science": $cl-science,
        "economy": $cl-economy,
        "english": $cl-english,
        "programming": $cl-programming
      )
  {
    .block-#{$block} {
      &:before {
        background: $color;
      }

      .common-contents-block-cards-course-detail-title {
        &:before {
          @include min-responsive-style(769px) {
            display: none;
          }
          background: $color;
        }
      }
    }
  }
}
