//- include _mixin-lp-english.pug
noscript
  iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C", height="0", width="0", style="display:none;visibility:hidden")
// End Google Tag Manager (noscript)
section.lp-section-intro.lp-section-bgyellow
    h2.lp-section-title-h2
     |こんな悩みありませんか？
    .lp-section-intro-columns
      .lp-section-intro-columns-box 
        .lp-section-intro-columns-box-title 
          |英語を勉強していても
          br
          |話せるようにならない
        .lp-section-intro-columns-box-image
            img(src='https://www.nteeth.com/wp-content/uploads/2013/11/dummy-image-square1.jpg')
      .lp-section-intro-columns-box 
        .lp-section-intro-columns-box-title 
          |学校のテストの点数は
          br
          |悪くないのに、発音できない。
        .lp-section-intro-columns-box-image
            img(src='https://www.nteeth.com/wp-content/uploads/2013/11/dummy-image-square1.jpg')        
      .lp-section-intro-columns-box 
        .lp-section-intro-columns-box-title 
          |英語がどうしても
          br
          |聞き取れない
        .lp-section-intro-columns-box-image
            img(src='https://www.nteeth.com/wp-content/uploads/2013/11/dummy-image-square1.jpg')  
    .lp-section-intro-arrow 
        img(src='https://www.nteeth.com/wp-content/uploads/2013/11/dummy-image-square1.jpg')  
    .lp-section-intro-foot 
      |グローバル英語でそのお悩み解決します！
section.lp-section.lp-section-bgwhite
  .lp-section-title-bgdecoration
    h2
     |グローバル英語で英語が身に付く
     span.purple-large|3
     span.purple|つの理由
    .lp-section-title-txt
      |3 reason
  .lp-section-reason
    .lp-section-reason-left 
      .lp-section-reason-left-number
       |01
      .lp-section-reason-left-title 
         |脱授業！
         br
         |ライブ形式のレッスンで楽しく学べる
      .lp-section-reason-left-text
        |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .lp-section-reason-right 
               img(src='https://www.nteeth.com/wp-content/uploads/2013/11/dummy-image-square1.jpg') 
  .lp-section-reason
    .lp-section-reason-left 
      .lp-section-reason-left-number
       |02
      .lp-section-reason-left-title 
         |「文法」ではなく
         br
         |「音」から学ぶので自然に習得できる
      .lp-section-reason-left-text
        |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .lp-section-reason-right 
               img(src='https://www.nteeth.com/wp-content/uploads/2013/11/dummy-image-square1.jpg') 
  .lp-section-reason
    .lp-section-reason-left 
      .lp-section-reason-left-number
       |03
      .lp-section-reason-left-title 
         |子供が楽しく
         br
         |英語を学べるオリジナル教材
      .lp-section-reason-left-text
        |テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
    .lp-section-reason-right 
        img(src='https://www.nteeth.com/wp-content/uploads/2013/11/dummy-image-square1.jpg') 
section.lp-section.lp-section-bgpaleyellow
  .lp-section-title-bgdecoration
    h2|授業コース
    .lp-section-title-txt
      |Course
  .lp-section-text
    |英語初挑戦なら、LEVEL1:LOCAL STAGEで自分の周りに焦点を当てて会話スキルを身につけましょう。英語が少し話せるなら、LEVEL2:NATION STAGEで日本について説明できるフレーズを身につけていきます。 体験授業では両方のステージを受講することができ、体験授業終了後にどちらかのステージを選択することができます。まずは両方受講し自分に合ったステージを決めましょう。
  .lp-section-voice-box
    .lp-section-voice-box-image 
       img(src='https://www.nteeth.com/wp-content/uploads/2013/11/dummy-image-square1.jpg') 
    .lp-section-voice-box-image 
        img(src='https://www.nteeth.com/wp-content/uploads/2013/11/dummy-image-square1.jpg') 
    
section.lp-section.lp-section-bglightgray
  .lp-section-title-bgdecoration
    h2|授業スケジュール
    .lp-section-title-txt
      |Course
  .lp-section-schedule
section.lp-section.lp-section-bgwhite
  .lp-section-title-bgdecoration
    h2|学習の流れ
    .lp-section-title-txt
      |Course
  .lp-section-study-process
section.lp-section.lp-section-bgpaleyellow
  .lp-section-title-bgdecoration
    h2|お客様からの声
    .lp-section-title-txt
      |Voice
  .lp-section-voice-box
section.lp-section.lp-section-bgwhite
  .lp-section-title-bgdecoration
    h2|費用
    .lp-section-title-txt
      |Price
  .lp-section-voice-box
section.lp-section.lp-section-bglightgray
  .lp-section-title-bgdecoration
    h2|無料体験レッスンまでの流れ
    .lp-section-title-txt
      |Trial Flow 
  .lp-section-trial-flow-    
     
div.lp-cv
    .lp-cv-title
      .lp-cv-title-text 
        |9/30に申し込むと10月中は
        br
        |オンラインレッスンが受け放題
      .lp-cv-title-note
        |※有料プランへの自動入会はございません
    .lp-cv-lessonday 
       .lp-cv-lessonday-title 
         |最短のオンラインレッスン開催日
       .lp-cv-lessonday-time 
          .lp-cv-lessonday-time-day 
            span.lp-cv-lessonday-time-day-monthday|10
            span.lp-cv-lessonday-time-day-slash|/
            span.lp-cv-lessonday-time-day-monthday|1
          .lp-cv-lessonday-time-week
              |火
          .lp-cv-lessonday-time-hourrange
              |17:00~17:25
    .lp-cv-button 
       a(href="#")
           .lp-cv-button-sub 
              |かんたん1分
           .lp-cv-button-main
              |無料体験授業はこちら
div.lp-faq
  |よくある質問
footer 
  |footer
.fixed-button(style='display:none;')
  a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
      button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
