//- include _mixin-lp-english.pug
noscript
  iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C", height="0", width="0", style="display:none;visibility:hidden")
// End Google Tag Manager (noscript)
section.lp-section.lp-section-bgyellow
  .lp-section-title 
    h2|こんな悩みありませんか？
    .lp-section-title-txt
      |texttext 
section.lp-section.lp-section-bgwhite
  .lp-section-title 
    h2|こんな悩みありませんか？
    .lp-section-title-txt
      |texttext 
section.lp-section.lp-section-bgpaleyellow
  .lp-section-title 
    h2|こんな悩みありませんか？
    .lp-section-title-txt
      |texttext 
section.lp-section.lp-section-bglightgray
  .lp-section-title 
    h2|こんな悩みありませんか？
    .lp-section-title-txt
      |texttext 
div.lp-cv
    .lp-cv-title
      .lp-cv-title-text 
        |9/30に申し込むと10月中は
        br
        |オンラインレッスンが受け放題
      .lp-cv-title-note
        |※有料プランへの自動入会はございません
    .lp-cv-lessonday 
       .lp-cv-lessonday-title 
         |最短のオンラインレッスン開催日
       .lp-cv-lessonday-time 
          .lp-cv-lessonday-time-day 
            span.lp-cv-lessonday-time-day-monthday|10
            span.lp-cv-lessonday-time-day-slash|/
            span.lp-cv-lessonday-time-day-monthday|1
          .lp-cv-lessonday-time-week
              |火
          .lp-cv-lessonday-time-hourrange
              |17:00~17:25
    .lp-cv-button 
       a(href="#")
           .lp-cv-button-sub 
              |かんたん1分
           .lp-cv-button-main
              |無料体験授業はこちら
div.lp-faq
  |よくある質問
footer 
  |footer
.fixed-button(style='display:none;')
  a(href="https://lms.waomirai.com/course/view.php?id=135&tenant=lmswaomirai",onclick="gtag('event', 'click', {'event_category': 'click','event_label': 'click-english-lp-button'});" target='_blank')
      button.m0a.whiteT.purpleB.fs-xs.applyBtn 無料体験授業はこちら！
