////////////////////////
// 共通のスタイルデータ
////////////////////////

// 各コースカテゴリごとのスタイル設定を定義
// 各カテゴリには以下の3つの情報を持たせる
// - main-color: メインカラー（背景色などに使用）
// - pale-color: 淡い色（補助的なデザイン要素に使用）
// - img-worksheet: ワークシートのサムネ
// - background-image: 背景画像のURL

$common-course-styles: (
  "economy": (
    // 経済カテゴリのスタイル
    main-color: $cl-economy,
    pale-color: $cl-economy-pale,
    pale-light-color: $cl-economy-pale-light,
    button-textcolor-worksheet: $cl-economy,
    img-worksheet:
      url("https://waomirai.com/lp/assets/moodle/icn-worksheet-economy.svg"),
    background-image: asset-url("subject_economy.jpg"),
  ),
  "science": (
    // 科学カテゴリのスタイル
    main-color: $cl-science,
    pale-color: $cl-science-pale,
    pale-light-color: #f0fbca,
    //既存ルールだと色が微妙に合わないので微調整している
    button-textcolor-worksheet: #a1be2a,
    //既存ルールだと色が微妙に合わないので微調整している
    img-worksheet:
      url("https://waomirai.com/lp/assets/moodle/icn-worksheet-science.svg"),
    background-image: asset-url("subject_science.jpg"),
  ),
  "philosophy": (
    // 哲学カテゴリのスタイル
    main-color: $cl-philosophy,
    pale-color: $cl-philosophy-pale,
    pale-light-color: #fff6ce,
    //既存ルールだと色が微妙に合わないので微調整している
    button-textcolor-worksheet: $cl-english,
    img-worksheet:
      url("https://waomirai.com/lp/assets/moodle/icn-worksheet-philosophy.svg"),
    background-image: asset-url("subject_philosophy.jpg"),
  ),
  "english": (
    // 英語カテゴリのスタイル
    main-color: $cl-english,
    pale-color: $cl-english-pale,
    pale-light-color: $cl-english-pale,
    button-textcolor-worksheet: $cl-english,
    img-worksheet: url(""),
    background-image: asset-url("subject_english.jpg"),
  ),
  "programming": (
    // プログラミングカテゴリのスタイル
    main-color: $cl-programming,
    pale-color: $cl-programming,
    pale-light-color: $cl-programming,
    img-worksheet: url(""),
    background-image: asset-url("subject_programming.jpg"),
  ),
);

// コースIDとカテゴリー名の対応リスト
// 左側がCSSセレクタ（.category-XX など）で、右側が上記 $common-course-styles のキー名
// これにより、各カテゴリのスタイルを適用可能にする
$course-styles: (
  "economy": (
    ".category-53",
    ".category-48",
  ),
  "science": (
    ".category-52",
    ".category-49",
  ),
  "philosophy": (
    ".category-51",
    ".category-47",
  ),
  "english": (
    ".category-50",
    ".category-54",
  ),
  "programming": (
    /* カテゴリ未定 */ ".category-9999",
  ),
);

// メインカテゴリ（main）のコースID
// メインコースのIDとカテゴリー名の対応リスト（同じ構造で個別定義）

$main-courses: (
  "philosophy": (
    ".course-255",
    ".course-212",
  ),
  "economy": (
    ".course-260",
    ".course-213",
  ),
  "science": (
    ".course-265",
    ".course-211",
  ),
  "globalenglish": (
    ".course-135",
    ".course-236",
  ),
  "twosubjectpack": (
    ".course-270",
    ".course-228",
  ),
  "threesubjectpack": (
    ".course-271",
    ".course-229",
  ),
);

// サブカテゴリ（child）のコースID
// 子コースのIDとレベル名の対応リスト（個別定義）

$child-courses: (
  "philosophy-l1": (
    ".course-256",
    ".course-221",
  ),
  "philosophy-l2": (
    ".course-257",
    ".course-225",
  ),
  "philosophy-l3": (
    ".course-258",
    ".course-242",
  ),
  "philosophy-l4": (
    ".course-259",
    ".course-243",
  ),
  "economy-l1": (
    ".course-261",
    ".course-226",
  ),
  "economy-l2": (
    ".course-262",
    ".course-227",
  ),
  "economy-l3": (
    ".course-263",
    ".course-246",
  ),
  "economy-l4": (
    ".course-264",
    ".course-247",
  ),
  "science-l1": (
    ".course-266",
    ".course-223",
  ),
  "science-l2": (
    ".course-267",
    ".course-222",
  ),
  "science-l3": (
    ".course-268",
    ".course-244",
  ),
  "science-l4": (
    ".course-269",
    ".course-245",
  ),
  "globalenglish-l1": (
    ".course-130",
    ".course-253",
  ),
  "globalenglish-l2": (
    ".course-138",
    ".course-254",
  ),
);
