doctype html
html(lang="jp")
  head
    title %%title%%
    script.
       (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
       'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
       })(window,document,'script','dataLayer','GTM-W3X8CG9C');
    link(href="static/css/sass/waomirai-english-portal.css?undefined", rel="stylesheet")
    script(src="https://storage.pardot.com/1026513/1724128460RuzGLFou/jquery_3.7.1.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js")
    meta(name="viewport", content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")
  body
    div(style='width:450px; margin:60px auto;') 
      h2 お子様の英語のレベルを教えてください
      div
        a(href="english-portal.html") 
          |LEVEL 1
        br
        br
        a(href="english-portal.html?via=level-2") 
          |LEVEL 2