doctype html
html(lang="jp")
  head
    title ワオ未来塾
    link(href="static/css/sass/waomirai-hapitas-lp.css?undefined", rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")
  body
    .wrapper-hapitas
       div 
        img(src='https://go.waomirai.com/hapitas2024/image/miraijukutop.png')
       section.hapitas-section.hapitas-section-gray
         p|ワオ未来塾とは 
       section.hapitas-section
         p|サービスの特徴 
       section.hapitas-section.hapitas-section-gray
         h2.underline|授業動画を見てポイントをゲット！
         .hapitas-section-group 
           h2|ポイントもらうまでの簡単3ステップ
           .hapitas-section-group-merit
              .hapitas-section-group-merit-child 
                .hapitas-section-group-merit-child-number 
                  |01
                .hapitas-section-group-merit-child-img 
                  img(src='https://go.waomirai.com/hapitas2024/image/playbutton.png')                
                .hapitas-section-group-merit-child-text 
                  |動画を見る
              .hapitas-section-group-merit-child 
                .hapitas-section-group-merit-child-number 
                  |02
                .hapitas-section-group-merit-child-img 
                  img(src='https://go.waomirai.com/hapitas2024/image/playbutton.png')               
                .hapitas-section-group-merit-child-text 
                  |フォームを入力する
              .hapitas-section-group-merit-child 
                .hapitas-section-group-merit-child-number 
                  |03
                .hapitas-section-group-merit-child-img 
                  img(src='https://go.waomirai.com/hapitas2024/image/playbutton.png')                   
                .hapitas-section-group-merit-child-text 
                  |ポイントゲット
