doctype html
html(lang="jp")
  head
  body
    heads
      title テストページのまとめ
      link(href="static/css/application.css?undefined", rel="stylesheet")
      meta(name="viewport", content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
      meta(charset="UTF-8")
      meta(name="robots", content="noindex,nofollow")
      meta(name="apple-mobile-web-app-capable", content="yes")
      meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js")
    div(style="width:90%; margin:30px auto 30px; padding:40px 20px 60px; box-shadow:0 10px 10px #ccc;")
      ul(style="margin:10px auto 0;")
        li WAO未来塾
          br
          | ├ 英語LP
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="english-lp-improved-second.html") 英語LP 改善版Second
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="english-lp-improved-first.html") 英語LP 改善版first
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="english-lp.html") 英語LP Original
          br
          br
          | ├ ハピタスLP
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="hapitas-lp.html") ハピタスLP
          br
          |<span style="padding:0 0 0 20px;">├</span>
          a(href="hapitas-thanks-page.html") ハピタスLP サンクスページ
          br
          br
          | ├ 英語ポータル
          br
          |<span style="padding:0 0 0 20px;">├フォーム</span>
          br
          |<span style="padding:0 0 0 40px;">├</span>
          a(href="english-portal-form-2024nov.html") 11月生募集
          br
          br
          |<span style="padding:0 0 0 20px;">├英語ポータル</span>
          br
          |<span style="padding:0 0 0 40px;">├</span>
          a(href="english-portal-2024oct.html") 英語ポータル10月
          br
          |<span style="padding:0 0 0 40px;">├</span>
          a(href="english-portal-2024nov.html") 英語ポータル11月
          br
          br
          |<span style="padding:0 0 0 20px;">├その他</span>
          br
          |<span style="padding:0 0 0 40px;">├</span>
          a(href="howto-payment.html") 有料会員登録の説明ページ