doctype html
html(lang="jp")
  head
  body
    heads
      title テストページのまとめ
      link(href="static/css/application.css?undefined", rel="stylesheet")
      meta(name="viewport", content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
      meta(charset="UTF-8")
      meta(name="robots", content="noindex,nofollow")
      meta(name="apple-mobile-web-app-capable", content="yes")
      meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js")
      script(src="//jpostal-1006.appspot.com/jquery.jpostal.js", type="text/javascript")
    div(style="width:90%; margin:30px auto 30px; padding:20px; box-shadow:0 10px 10px #ccc;")
      h2 LP
      ul(style="margin:10px auto 0;")
        li テスト
          br
          | ├
          a(href="hapitas-lp.html") ハピタスLP

