.howto-table-contents 
  p|目次
  a(href="#section-1")
    |1.購入した科目の受講レベルを設定する
  br
  a(href="#section-2")
    |2.受講時間になったら参加する
br
br
.howto-block
  h2
    |1.購入した科目の受講レベルを設定する
  p 
    |科目を購入後、マイページで受講レベルを設定する必要があります。以下の手順で設定を進めてください
  .c-alert-banner.alert
    .c-alert-banner-left  
        .c-alert-banner-left-icon
            i.icon.fa.fa-solid.fa-circle-exclamation
        .c-alert-banner-text-title
            .c-alert-banner-text-read
                |この手順を行わないと、ダッシュボードに授業の予定が表示されないため必ず行なってください。 
  .c-alert-banner.alert
    .c-alert-banner-left  
        .c-alert-banner-left-icon
            i.icon.fa.fa-solid.fa-circle-exclamation
        .c-alert-banner-text-title
            .c-alert-banner-text-read
                |この手順を行わないと、ダッシュボードに授業の予定が表示されないため必ず行なってください。 
    .c-alert-banner-right
       a(href='')
         |ここにボタンだよ
.howto-block
  h3#section-1
    |①ヘッダーの「マイページ」をクリック
  div.howto-image 
     img(src='https://go.waomirai.com/l/1026513/2024-12-05/h92r1/1026513/1733375701TRU80WEt/howto_attend_img_1_1.png')
.howto-block
  h3
    |②ユーザ詳細にある「登録情報の変更」をクリック
  div.howto-image 
     img(src='https://go.waomirai.com/l/1026513/2024-12-05/h92r4/1026513/1733375702NeUsqIOi/howto_attend_img_1_2.png')
.howto-block
  h3
    |③受講変更欄にあるレベルを変更する
  div.howto-image 
     img(src='https://go.waomirai.com/l/1026513/2024-12-05/h92qm/1026513/1733375701LPzGnEfa/sample.png')
  p.p-alert 
    |↑↑↑ここの画面は仕様詰め中なので完成したら作成
.howto-block
  h3
    |④ヘッダーの「ダッシュボード」をクリック
  div.howto-image 
     img(src='https://go.waomirai.com/l/1026513/2024-12-05/h92qx/1026513/1733375701as5pPIdO/howto_attend_img_1_4.png')
.howto-block
  h3
    |⑤ダッシュボード内のカレンダーに購入した科目の受講スケジュールが表示されます
  div.howto-image 
     img(src='https://go.waomirai.com/l/1026513/2024-12-05/h92qq/1026513/1733375701lC5NeblS/howto_attend_img_1_5.png')
.howto-block
  h2#section-2
    |2.受講時間になったら参加する
  p 
    |受講時間になったらマイページ内のカレンダーの予定をクリックし受講ページに行くと受講が可能です
  div.howto-image 
     img(src='https://go.waomirai.com/l/1026513/2024-12-05/h92qt/1026513/173337570135ZFVJkq/howto_attend_img_2_1.png')