
link(href="../../static/css/sass/stg-moodle.css", rel="stylesheet")    
link(href="../static/css/sass/stg-moodle.css", rel="stylesheet")
link(href="../../static/css/sass/lms-moodle.css", rel="stylesheet")    
link(href="../static/css/sass/lms-moodle.css", rel="stylesheet")
script(src="https://code.jquery.com/jquery-3.3.1.js")
case js 
    when 'no-js'
        //jsないよ
    default
        script(src="../../static/js/stg.js")
        script(src="../static/js/stg.js")
        script(src="../../static/js/lmswaomirai.js")
        script(src="../static/js/lmswaomirai.js")