
link(href="../../static/css/sass/stg.css", rel="stylesheet")    
link(href="../static/css/sass/stg.css", rel="stylesheet")
link(href="../../static/css/sass/lmswaomirai.css", rel="stylesheet")    
link(href="../static/css/sass/lmswaomirai.css", rel="stylesheet")
script(src="https://waomirai.com/lp/assets/commonjs/jquery_3.7.1.js")
script(src="https://waomirai.com/lp/assets/commonjs/jquery.cookie.min.js")
case js 
    when 'no-js'
        //jsないよ
    default
        script(src="../../static/js/stg.js")
        script(src="../static/js/stg.js")
        script(src="../../static/js/lmswaomirai.js")
        script(src="../static/js/lmswaomirai.js")