.c-modal
  .c-modal-wrap
    .c-modal-wrap-close 
    .c-modal-wrap-title
      |モーダルタイトルモーダル
    .c-modal-wrap-text
      |モーダルのテキスト、モーダルのテキストモーダルのテキストモーダルのテキストモーダルのテキスト
    button.c-modal-wrap-button 
        |ボタンのテキスト
.c-modal-bg