body {}

#page-mod-questionnaire-view {
    .navigation {
        max-width: 830px !important;
        margin: 0 auto;
    }
    #page-content {
        max-width: 830px !important;
        margin: 0 auto;
    }
}