/* 全体の幅 */

$body-width:1200px;

/* フォント */

$lms-font-size-s:12px;
$lms-font-size-m:14px;
$lms-font-size-l:20px;
$lms-font-size-xl:24px;

/* border-radius */

$border-radius-small:4px;
$border-radius-middle:8px;