// .course-235 {
//     #page.drawers {
//         &:before {
//             background: #FFE9B8 !important;
//             // background: $cl-graylightest;
//         }
//     }
// }
// .course-236 {
//     #page.drawers {
//         &:before {
//             background: #faeefa !important;
//             // background: $cl-graylightest;
//         }
//     }
// }
// .course-232 {
//     #page.drawers {
//         &:before {
//             background: #FFE9B8!important;
//             // background: $cl-graylightest;
//         }
//     }
// }
// .course-232 {
//     #page.drawers {
//         &:before {
//             background: #FFE9B8!important;
//             // background: $cl-graylightest;
//         }
//     }
// }
// .course-211 {
//     #page.drawers {
//         &:before {
//             background: #f5ffcd!important;
//             // background: $cl-graylightest;
//         }
//     }
// }
//コース購入
$subject-sidebar-width: 250px; // サイドバーの幅
$subject-body-padding: 40px; // サイドバーとの距離
$subject-default-max-width: 1120px; // 最大幅
#page-enrol-index {
    .enrol_fee_payment_region {
        right: calc((100vw - 1120px)/2);
        @include responsive-style($default-max-width) {
            right: 15px !important;
        }
    }
    #page.drawers {
        padding: 0 !important;
    }
    #page.drawers .main-inner {
        padding: 0 !important;
        margin-left: calc((100vw - 1120px)/2);
        background: transparent;
        @include responsive-style($default-max-width) {
            margin-left: 15px;
            max-width: calc(100vw - #{$subject-sidebar-width + $subject-body-padding + 15px}) !important;
        }
    }
}

#page-enrol-index,
#page-admin-tool-catalogue-courseinfo {
    #page-navbar {
        display: none;
    }
    #page.drawers {
        // &:before {
        //     width: 100%;
        //     height: 250px;
        //     position: absolute;
        //     z-index: -1;
        //     top: 0;
        //     // background: #FFE9B8;
        //     background: $cl-graylightest;
        //     content: "";
        // }
    }
    #page.drawers div[role="main"] {
        padding: 0 !important;
    }
    .header-maxwidth {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    a[aria-controls="covercollapsec-dates"] {
        display: none;
        +h3 {
            display: none !important;
        }
    }
    // div[data-region="catalogue-pagesection"] {
    //     display: none;
    // }
    .lesson-detail-img {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .enrol_buy_as_a_set {
        position: fixed;
        top: calc(5rem + 330px);
        right: calc((100% - $subject-default-max-width)/2);
        max-width: 250px !important;
        width: 100%;
        padding: 20px 20px;
        background: white;
        @include lms-boxshadow;
        border-radius: $border-radius-middle;
        z-index: 3;
        @include responsive-style($default-max-width) {
            max-width: 250px !important;
        }
        .enrol_buy_as_a_set_img {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px auto 15px;
            .enrol_buy_as_a_set_img_child {
                width: 80px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $border-radius-middle;
                background: $cl-graylightest;
                font-size: $lms-font-size-s;
            }
        }
        .enrol_buy_as_a_set_detail {
            border-top: 1px solid $cl-graylight;
            padding: 15px 0 0;
            font-size: $lms-font-size-s !important;
            a {
                color: $cl-waogreen !important;
            }
        }
    }
    .enrol_fee_payment_region {
        max-width: 250px !important;
        background: #fff !important;
        border-radius: $border-radius-middle;
        padding: 0px 20px 5px;
        // height: 270px;
        text-align: left !important;
        line-height: 1.65 !important;
        font-weight: normal !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1) !important;
        z-index: 99;
        font-size: $lms-font-size-m;
        width: 100%;
        @include responsive-style($default-max-width) {
            max-width: 235px !important;
            right: 15px;
            margin: 2em auto !important;
            p {
                display: block !important;
            }
        }
        &::before {
            content: "プラン登録" !important;
            position: relative;
            display: inline-table;
            font-size: $lms-font-size-l;
            margin: 0 0 20px !important;
        }
        b {
            display: none;
        }
        p:nth-child(2) {
            margin: 0 auto 15px !important;
        }
        .btn.btn-secondary {
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $lms-font-size-m !important;
            background: $cl-waogreen !important;
            border-radius: $border-radius-small;
        }
        .page-enrol-set-discount {
            margin: 20px 0 0px;
            padding: 20px 0 0;
            border-top: 1px dashed $cl-graylight;
            line-height: 1.5 !important;
            a {
                margin: 7px 0 0 !important;
                color: $cl-waogreen;
                text-decoration: underline !important;
                display: block;
            }
        }
    }
}

//ここに英語
#page-enrol-index,
#page-admin-tool-catalogue-courseinfo {
    div {
        color: $cl-waogreen;
        font-size: $lms-font-size-m;
    }
}

.global-english-inner {
    display: grid;
}

.global-english-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* 自動調整で横並び */
    gap: 20px;
    /* 各アイテム間のスペース */
    padding: 20px;
    /* グリッド全体の余白 */
}

.global-english-item {
    background-color: #f9f9f9;
    /* 背景色 */
    padding: 20px;
    /* 内側余白 */
    border: 1px solid #ddd;
    /* 境界線 */
    border-radius: 5px;
    /* 角丸 */
    box-sizing: border-box;
    /* 幅計算にパディングを含める */
}

.lesson-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    /* タイトル下の余白 */
}

.global-english-desc {
    font-size: 14px;
    line-height: 1.6;
    /* 行間 */
    color: #333;
    /* テキスト色 */
}

.global-english-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* 自動調整で横並び */
    gap: 20px;
    /* 各アイテム間のスペース */
    padding: 20px;
    /* グリッド全体の余白 */
}

.global-english-item {
    background-color: #f9f9f9;
    /* 背景色 */
    padding: 20px;
    /* 内側余白 */
    border: 1px solid #ddd;
    /* 境界線 */
    border-radius: 5px;
    /* 角丸 */
    box-sizing: border-box;
    /* 幅計算にパディングを含める */
}

.lesson-title {
    @include text-xl-black;
    font-weight: bold;
    margin-bottom: 10px;
    /* タイトル下の余白 */
}

.global-english-desc {
    @include text-m-black;
    line-height: 1.6;
    /* 行間 */
    color: #333;
    /* テキスト色 */
}