// $tenant-styles: ( "stg": ( background-color: blue, font-size: 16px), "lms": ( background-color: green, font-size: 14px));
// // 条件分岐でマップから値を取得
// @mixin apply-tenant-styles {
//     $styles: map-get($tenant-styles, $tenant);
//     body {
//         background-color: map-get($styles, background-color) !important;
//         font-size: map-get($styles, font-size);
//     }
// }
// @include apply-tenant-styles;

/* 全体の幅 */

$body-width:1200px;

/* フォント */

$lms-font-size-s:12px;
$lms-font-size-m:14px;
$lms-font-size-ml:16px;
$lms-font-size-l:20px;
$lms-font-size-xl:24px;
$lms-font-size-xxl:30px;

/* border-radius */

$border-radius-small:4px;
$border-radius-middle:8px;
$border-radius-big:16px;

/* parts */

$overlay:rgba(0, 0, 0, 0.7);

/* parts */

@mixin lms-left-waogreen {
    width: 7px;
    height: 30px;
    content: "";
    background: $cl-waogreen;
    display: block;
    position: absolute;
    left: 20px;
    top: -12px;
    bottom: 0;
    margin: auto;
    border-radius: 4px;
}


/* boxshadow */

@mixin lms-boxshadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15) !important;
}


/* other */

@mixin focus-tapblack-none {
    box-shadow: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}