//コース購入
#page-admin-tool-catalogue-courseinfo,
#page-enrol-index {
    //不要なもの消す
    .customfield,
    .customfield_is_payment {
        display: none !important;
    }
    //不要なもの消す
    a[aria-controls="covercollapsec-dates"] {
        display: none;
        +h3 {
            display: none !important;
        }
    }
    //不要なもの消す
    #covercollapsec-dates {
        display: none !important;
    }
    // div[data-region="catalogue-pagesection"] {
    //     display: none;
    // }
    .lesson-detail-img {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .enrol_buy_as_a_set {
        position: fixed;
        top: calc(5rem + 330px);
        right: 1rem;
        width: 250px !important;
        padding: 20px 20px;
        background: white;
        @include lms-boxshadow;
        border-radius: $border-radius-middle;
        z-index: 3;
        .enrol_buy_as_a_set_img {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px auto 15px;
            .enrol_buy_as_a_set_img_child {
                width: 80px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $border-radius-middle;
                background: $cl-graylightest;
                font-size: $lms-font-size-s;
            }
        }
        .enrol_buy_as_a_set_detail {
            border-top: 1px solid $cl-graylight;
            padding: 15px 0 0;
            font-size: $lms-font-size-s !important;
            a {
                color: $cl-waogreen !important;
            }
        }
    }
    .enrol_fee_payment_region {
        width: 250px !important;
        background: #fff !important;
        border-radius: $border-radius-middle;
        padding: 30px 20px;
        height: 270px;
        text-align: left !important;
        line-height: 1.75 !important;
        font-weight: normal !important;
        @include lms-boxshadow;
        p {}
        p:nth-child(2) {
            margin: 0 auto 15px !important;
        }
        .btn.btn-secondary {
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $lms-font-size-m !important;
            background: $cl-waogreen !important;
            border-radius: $border-radius-small;
        }
    }
}