/* 共通追従フッター削除 */

#forced-footer {
    display: none !important;
}

.logininfo {
    display: none
}

footer.footer-popover {
    .container div.footer-popover,
    div.footer-popover,
    .container {
        div:nth-child(3) {
            display: none;
        }
    }
}


/* 授業詳細 */

#page-mod-questionnaire-view {
    .page-header-image {
        display: none;
    }
    #region-main {
        >h2 {
            display: none;
        }
    }
}


/* 授業購入画面(まだ買っていない) */

#page-admin-tool-catalogue-courseinfo,
#page-enrol-index {
    //不要なもの消す
    .customfield,
    .customfield_is_payment {
        display: none !important;
    }
    #covercollapsec-dates {
        display: none !important;
    }
}

#page-course-view-flexsections {
    @each $course-id,
    $common-style-key in $course-styles-for-tenant {
        // スタイルを取得
        $styles: map-get($common-course-styles, $common-style-key);
        // コースIDに基づいてスタイルを適用
        &.#{$course-id} {
            #section-0 {
                border: none !important;
                .course-section-header {
                    display: none !important;
                }
                .my-3 {
                    display: none;
                }
                .flexsections-level-0>.course-section.main {
                    .activity.activity-wrapper.forum {
                        display: none !important;
                    }
                }
            }
        }
    }
}

#page-login-index {
    footer.footer-popover {
        .container div.footer-popover,
        div.footer-popover,
        .container {
            div:nth-child(2) {
                display: none;
            }
            div:nth-child(3) {
                display: block !important;
            }
        }
    }
}