///////////////////////////////
// stg 哲学232 科学211 経済233 英語236 プログラミング235
// lms　
///////////////////////////////
// 共通セレクタを定義
$target-pages: ( "#page-course-view-flexsections", "#page-admin-tool-catalogue-courseinfo", "#page-enrol-index");
#{join($target-pages, ", ")} {
    @each $course-id,
    $common-style-key in $course-styles-for-tenant {
        $styles: map-get($common-course-styles, $common-style-key);
        &.#{$course-id} {
            // ヘッダーの背景スタイル
            .page-header-headings {
                background: map-get($styles, background-color) !important;
                &:before {
                    background-image: map-get($styles, background-image);
                }
            }
            // 共通要素のスタイル適用
            .mr-auto,
            .mx-auto {
                width: 100%;
            }
            .page-context-header {
                .page-header-image {
                    display: none !important;
                }
                .page-header-headings {
                    width: 100%;
                    position: relative;
                    height: 320px;
                    border-radius: $border-radius-middle;
                    display: flex;
                    align-items: center;
                    margin: 0 0 48px !important;
                    h1 {
                        color: white !important;
                        padding: 0 0 0 40px;
                        font-size: $lms-font-size-xxl !important;
                    }
                    &:before {
                        right: 0;
                        top: 0;
                        width: 50%;
                        height: 320px;
                        object-fit: contain;
                        border-radius: 0px 8px 8px 0;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        display: block;
                        content: "";
                        position: absolute;
                    }
                }
            }
            .h5.mt-4 {
                display: none;
            }
        }
    }
}