$lms-font-size-s:12px;
$lms-font-size-m:14px;
$lms-font-size-l:20px;
$lms-font-size-xl:26px;
// body {
//     background: red !important;
// }
//検証テナントのダッシュボードのみにscssを適応
.context-2497 {
    background: #f6f6f6 !important;
    #page.drawers .main-inner {
        background: transparent;
    }
    .card.block {
        border: none;
    }
    @media (min-width: 768px) {
        #page.drawers .main-inner,
        body.limitedwidth #page.drawers .main-inner {
            max-width: 1000px !important;
        }
    }
    .block_calendar_month .card-title {
        display: none !important;
    }
    .calendarmonth {
        // border-collapse: separate !important;
        border-radius: 8px;
        // overflow: hidden;
        border: none;
        position: relative;
        &:before {
            content: "";
            width: 100%;
            height: 100%;
            // background: red;
            z-index: 9;
            position: absolute;
            top: 0;
            border-radius: 8px;
            border: 1px solid #dee2e6;
            pointer-events: none;
        }
    }
    .maincalendar .calendarmonth th {
        text-align: left;
        padding-left: 16px;
        background: $cl-graylightest !important;
        padding: 10px 10px;
    }
    .maincalendar .calendarmonth tr td:last-child {
        border-right: none;
    }
    .maincalendar .calendarmonth tr td:first-child {
        border-right: none;
    }
    .maincalendar .calendarmonth tr :last-child td {
        border-bottom: none;
    }
    .maincalendar .calendarmonth th,
    .maincalendar .calendarmonth td {
        color: $cl-graylight;
        font-size: $lms-font-size-m !important;
    }
    .maincalendar .calendarmonth tr th {
        border: none;
        font-size: $lms-font-size-s !important;
    }
    .maincalendar .calendarmonth tr th:first-child {
        border-top-left-radius: 10px;
    }
    .maincalendar .calendarmonth tr th:last-child {
        border-top-right-radius: 10px;
    }
    .maincalendar tbody tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
        border: none;
    }
    .maincalendar tbody tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
        border: none;
        // background: red;
    }
    .footer-link {
        display: none;
    }
}