nav.navbar.fixed-top.navbar-light.bg-white.navbar-expand(aria-label="サイトナビゲーション")
  button.navbar-toggler.aabtn.d-block.d-md-none.my-1.mr-2(data-toggler="drawers", data-action="toggle", data-target="theme_boost-drawers-primary")
    span.navbar-toggler-icon
    span.sr-only サイドパネル
  a.navbar-brand.d-none.d-md-flex.align-items-center.m-0.mr-3.p-0.aabtn(href="page-index.html")
    img.logo.mr-1(src="https://lms.waomirai.com/pluginfile.php/1/tool_tenant/headerlogo/2/%E7%84%A1%E9%A1%8C.png", alt="stg")
  ul.navbar-nav.d-none.d-md-flex.mr-3.tenantswitch
  .primary-navigation
    nav.navigation
      ul.nav.more-nav.navbar-nav(role="menubar")
        li.nav-item(data-key="home", role="none", data-forceintomoremenu="false")
          a.nav-link(role="menuitem", href="page-index.html", tabindex="-1")
            | ホーム
        li.nav-item(data-key="myhome", role="none", data-forceintomoremenu="false")
          a.nav-link.active(role="menuitem", href="page-dashboard.html", aria-current="true")
            | ダッシュボード
        li.nav-item(data-key="mycourses", role="none", data-forceintomoremenu="false")
          a.nav-link(role="menuitem", href="page-course-payment.html", tabindex="-1")
            | 講座購入
        li.nav-item(data-key="mycourses", role="none", data-forceintomoremenu="false")
          a.nav-link(role="menuitem", href="page-course-member.html", tabindex="-1")
            | 講座詳細
        li.nav-item(role="none", data-forceintomoremenu="false")
          a.nav-link(role="menuitem", href="https://lms.waomirai.com/user/profile.php", tabindex="-1")
            | マイページ
        li.nav-item(role="none", data-forceintomoremenu="false")
          a.nav-link(role="menuitem", href="https://lms.waomirai.com/user/preferences.php", tabindex="-1")
            | ユーザ設定
        li.nav-item.dropdown.dropdownmoremenu.d-none(role="none", data-region="morebutton")
          a#moremenu-dropdown-67490eb9241e2.dropdown-toggle.nav-link(href="#", role="menuitem", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false", tabindex="-1")
            | さらに
          ul.dropdown-menu.dropdown-menu-left(data-region="moredropdown", aria-labelledby="moremenu-dropdown-67490eb9241e2", role="menu")
  ul.navbar-nav.d-none.d-md-flex.my-1.px-1
    // page_heading_menu
  #usernavigation.navbar-nav.ml-auto
    #nav-notification-popover-container.popover-region.collapsed.popover-region-notifications(data-userid="772", data-region="popover-region")
      .popover-region-toggle.nav-link.icon-no-margin(data-region="popover-region-toggle", role="button", aria-controls="popover-region-container-67490eb92d6a567490eb928bc33", aria-haspopup="true", aria-label=" 新しい通知のない通知ウィンドウを表示する   ", tabindex="0")
        i.icon.fa.fa-bell-o.fa-fw(title="通知メニューに切り替える", role="img", aria-label="通知メニューに切り替える")
        .count-container.hidden(data-region="count-container", aria-hidden="true")
          | 0
      #popover-region-container-67490eb92d6a567490eb928bc33.popover-region-container(data-region="popover-region-container", aria-expanded="false", aria-hidden="true", aria-label="通知ウィンドウ", role="region")
        .popover-region-header-container
          h3.popover-region-header-text(data-region="popover-region-header-text") 通知
          .popover-region-header-actions(data-region="popover-region-header-actions")
            a.mark-all-read-button(href="#", title="すべてを既読にする", data-action="mark-all-read", role="button", aria-label="すべてを既読にする")
              span.normal-icon
                i.icon.fa.fa-check.fa-fw(aria-hidden="true")
              span.loading-icon.icon-no-margin
                i.icon.fa.fa-circle-o-notch.fa-spin.fa-fw(title="読み込み中", role="img", aria-label="読み込み中")
        .popover-region-content-container(data-region="popover-region-content-container")
          .popover-region-content(data-region="popover-region-content")
            .all-notifications(data-region="all-notifications", role="log", aria-busy="false", aria-atomic="false", aria-relevant="additions")
            .empty-message(tabindex="0", data-region="empty-message") あなたに通知はありません。
          span.loading-icon.icon-no-margin
            i.icon.fa.fa-circle-o-notch.fa-spin.fa-fw(title="読み込み中", role="img", aria-label="読み込み中")
        a.see-all-link(href="https://lms.waomirai.com/message/output/popup/notifications.php")
          .popover-region-footer-container
            .popover-region-seeall-text すべてを表示する
    .d-flex.align-items-stretch.usermenu-container(data-region="usermenu")
      .usermenu
        .dropdown.show
          a#user-menu-toggle.btn.dropdown-toggle(href="#", role="button", data-toggle="dropdown", aria-label="ユーザメニュー", aria-haspopup="true", aria-controls="user-action-menu")
            span.userbutton
              span.avatars
                span.avatar.current
                  span.userinitials.size-35 小謙
          #user-action-menu.dropdown-menu.dropdown-menu-right
            #usermenu-carousel.carousel.slide(data-touch="false", data-interval="false", data-keyboard="false")
              .carousel-inner
                #carousel-item-main.carousel-item.active(role="menu", tabindex="-1", aria-label="ユーザ")
                  a.dropdown-item(href="https://lms.waomirai.com/user/profile.php", role="menuitem", tabindex="-1")
                    | 
                    | マイページ
                  a.dropdown-item(href="https://lms.waomirai.com/grade/report/overview/index.php", role="menuitem", tabindex="-1")
                    | 
                    | 評定
                  a.dropdown-item(href="https://lms.waomirai.com/calendar/view.php?view=month", role="menuitem", tabindex="-1")
                    | 
                    | カレンダー
                  a.dropdown-item(href="https://lms.waomirai.com/user/files.php", role="menuitem", tabindex="-1")
                    | 
                    | プライベートファイル
                  a.dropdown-item(href="https://lms.waomirai.com/reportbuilder/index.php", role="menuitem", tabindex="-1")
                    | 
                    | レポート
                  .dropdown-divider
                  a.dropdown-item(href="https://lms.waomirai.com/user/preferences.php", role="menuitem", tabindex="-1")
                    | 
                    | ユーザ設定
                  .dropdown-divider
                  a.dropdown-item(href="https://lms.waomirai.com/login/logout.php?sesskey=oHzOfm3NB9", role="menuitem", tabindex="-1")
                    | 
                    | ログアウト