style(type="text/css").

.header-banner.alert-setting-level(style='display:none;')
    .header-banner-left 
        .header-banner-left-icon
            //- i.fa-solid.fa-ice-cream.fa-5x
            i.icon.fa.fa-solid.fa-triangle-exclamation
        .header-banner-text 
            .header-banner-text-title 
                 |科目のレベルを設定しましょう
            .header-banner-text-read
                |レベルを設定しないと授業を受講できません
    .header-banner-right 
        a(href='https://lms.waomirai.com/admin/tool/catalogue/courseinfo.php?id=231')
            |科目のレベルを設定するには？ 