
-
  // 当月授業の画像URL

  //哲学
  var imgPhLv1Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcjl/1026513/1747271517oaV1wotC/phi_lv1_month3_week1.jpg";
  var imgPhLv1Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcjs/1026513/1747271517kQUCoWUq/phi_lv1_month3_week2.jpg";
  var imgPhLv1Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcjp/1026513/1747271517yt4o2Wa6/phi_lv1_month3_week3.jpg";
  var imgPhLv2Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmck3/1026513/1747271518V9HphLom/phi_lv2_month3_week1.jpg";
  var imgPhLv2Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcjz/1026513/17472715181oyY0C8o/phi_lv2_month3_week2.jpg";
  var imgPhLv2Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcjw/1026513/1747271518MVCWf0On/phi_lv2_month3_week3.jpg";
  var imgPhLv3Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmck6/1026513/1747271518NmAqzRve/phi_lv3_month3_week1.jpg";
  var imgPhLv3Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmck9/1026513/1747271518pzfMKAQ3/phi_lv3_month3_week2.jpg";
  var imgPhLv3Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmckd/1026513/17472715181pQ7JyLP/phi_lv3_month3_week3.jpg";
  var imgPhLv4Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmckh/1026513/1747271519Eg0zSeWT/phi_lv4_month3_week1.jpg";
  var imgPhLv4Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmckp/1026513/1747271519z1B12WCz/phi_lv4_month3_week2.jpg";
  var imgPhLv4Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmckl/1026513/1747271519myUlSB3K/phi_lv4_month3_week3.jpg";

  //科学
  var imgScLv1Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcks/1026513/1747271519NgCtCW94/sci_lv1_month3_week1.jpg";
  var imgScLv1Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmckw/1026513/17472715199yrnDvo7/sci_lv1_month3_week2.jpg";
  var imgScLv1Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmckz/1026513/1747271519FhzOqnvd/sci_lv1_month3_week3.jpg";
  var imgScLv2Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcl3/1026513/1747271520NEbSk5mw/sci_lv2_month3_week1.jpg";
  var imgScLv2Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcl6/1026513/17472715207PewYOYe/sci_lv2_month3_week2.jpg";
  var imgScLv2Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcl9/1026513/1747271520n9N0JlmV/sci_lv2_month3_week3.jpg"; 
  var imgScLv3Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcld/1026513/1747271520ElNegvJw/sci_lv3_month3_week1.jpg";
  var imgScLv3Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcll/1026513/1747271520Orwt5F52/sci_lv3_month3_week2.jpg";
  var imgScLv3Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmclh/1026513/1747271520To3jaOuJ/sci_lv3_month3_week3.jpg";
  var imgScLv4Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmclp/1026513/174727152184quGYTh/sci_lv4_month3_week1.jpg";
  var imgScLv4Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmclw/1026513/17472715219QBirzyC/sci_lv4_month3_week2.jpg";
  var imgScLv4Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcls/1026513/1747271521YNVRy6fW/sci_lv4_month3_week3.jpg";
  
  //経済
  var imgEcLv1Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmchl/1026513/1747271515HEaUnJGc/eco_lv1_month3_week1.jpg";
  var imgEcLv1Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmchd/1026513/17472715153pGMrbCD/eco_lv1_month3_week2.jpg";
  var imgEcLv1Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmchh/1026513/1747271515SkzhHBtB/eco_lv1_month3_week3.jpg";
  var imgEcLv2Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmchs/1026513/1747271515ivnadc6I/eco_lv2_month3_week1.jpg";
  var imgEcLv2Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmchp/1026513/1747271515JP0UoJvt/eco_lv2_month3_week2.jpg";
  var imgEcLv2Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmchw/1026513/17472715151LMHeQmY/eco_lv2_month3_week3.jpg";
  var imgEcLv3Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcj3/1026513/1747271516nZi1Isj3/eco_lv3_month3_week1.jpg";
  var imgEcLv3Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmchz/1026513/1747271516U0LemdVE/eco_lv3_month3_week2.jpg";
  var imgEcLv3Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcj6/1026513/17472715162IPF94CV/eco_lv3_month3_week3.jpg";
  var imgEcLv4Week1 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcjd/1026513/1747271517mQPHbJBF/eco_lv4_month3_week1.jpg";
  var imgEcLv4Week2 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcj9/1026513/1747271517lkSw68sN/eco_lv4_month3_week2.jpg";
  var imgEcLv4Week3 = "https://go.waomirai.com/l/1026513/2025-05-14/hmcjh/1026513/1747271517cczmWzWi/eco_lv4_month3_week3.jpg";  
  


-
  // 授業データ（レベル、学年、レッスン内容）
  var thisMonthLessons = {
    //哲学
    philosophy: [
      {
        level: "1", // レベル名
        grade: "小3-4", // 対象学年
        lessons: [
          { week: "1周目", banner: imgPhLv1Week1, text: "鬼に勝つってどういうこと？" },
          { week: "2周目", banner: imgPhLv1Week2, text: "自分に勝つってどういうこと？" },
          { week: "3周目", banner: imgPhLv1Week3, text: "フィードバック" }
        ]
      },
      {
        level: "2",
        grade: "小5-6",
        lessons: [
          { week: "1周目", banner: imgPhLv2Week1, text: "いじめは人間の本能なの!?" },
          { week: "2周目", banner: imgPhLv2Week2, text: "加害者にも被害者もならない！" },
          { week: "3周目", banner: imgPhLv2Week3, text: "フィードバック" }
        ]
      },
       {
        level: "3", // レベル名
        grade: "中学生", // 対象学年
        lessons: [
          { week: "1周目", banner: imgPhLv3Week1, text: "SNSから見る「承認」" },
          { week: "2周目", banner: imgPhLv3Week2, text: "トラブルを回避するためには" },
          { week: "3周目", banner: imgPhLv3Week3, text: "フィードバック" }
        ]
      },
      {
        level: "4",
        grade: "高校生",
        lessons: [
          { week: "1周目", banner: imgPhLv4Week1, text: "正しく生きるとは何か" },
          { week: "2周目", banner: imgPhLv4Week2, text: "カントかベンサムか" },
          { week: "3周目", banner: imgPhLv4Week3, text: "フィードバック" }
        ]
      }
    ],
    //科学
    science: [
      {
        level: "1",
        grade: "小3-4",
        lessons: [
          { week: "1周目", banner: imgScLv1Week1, text: "電球について知ろう" },
          { week: "2周目", banner: imgScLv1Week2, text: "LEDの誕生秘話" },
          { week: "3周目", banner: imgScLv1Week3, text: "フィードバック" }
        ]
      },
      {
        level: "2",
        grade: "小5-6",
        lessons: [
          { week: "1周目", banner: imgScLv2Week1, text: "紫外線対策はしたほうがいいの?" },
          { week: "2周目", banner: imgScLv2Week2, text: "紫外線を有効活用してみよう" },
          { week: "3周目", banner: imgScLv2Week3, text: "フィードバック" }
        ]
      },
      {
        level: "3",
        grade: "中学生",
        lessons: [
          { week: "1周目", banner: imgScLv3Week1, text: "光の速さは〇〇〇?" },
          { week: "2周目", banner: imgScLv3Week2, text: "光の正体は波動? それとも粒子?" },
          { week: "3周目", banner: imgScLv3Week3, text: "フィードバック" }
        ]
      },
      {
        level: "4",
        grade: "高校生",
        lessons: [
          { week: "1周目", banner: imgScLv4Week1, text: "ES 細胞のひみつ" },
          { week: "2周目", banner: imgScLv4Week2, text: "iPS 細胞と山中伸弥教授" },
          { week: "3周目", banner: imgScLv4Week3, text: "フィードバック" }
        ]
      },
    ],
    //経済
    economy: [
      {
        level: "1",
        grade: "小3-4",
        lessons: [
            { week: "1周目", banner: imgEcLv1Week1, text: "お金の貸し借りの注意点" },
            { week: "2周目", banner: imgEcLv1Week2, text: "お金を借りることは悪いこと?" },
            { week: "3周目", banner: imgEcLv1Week3, text: "フィードバック" }
          ]
      },
      {
        level: "2",
        grade: "小5-6",
        lessons: [
            { week: "1周目", banner: imgEcLv2Week1, text: "欲はどこから発生する?" },
            { week: "2周目", banner: imgEcLv2Week2, text: "人はなぜ物を欲しがる?" },
            { week: "3周目", banner: imgEcLv2Week3, text: "フィードバック" }
          ]
      },
      {
        level: "3",
        grade: "中学生",
        lessons: [
            { week: "1周目", banner: imgEcLv3Week1, text: "銀行の役割" },
            { week: "2周目", banner: imgEcLv3Week2, text: "どのように経済をコントロールするか?" },
            { week: "3周目", banner: imgEcLv3Week3, text: "フィードバック" }
          ]
      },
      {
        level: "4",
        grade: "高校生",
        lessons: [
            { week: "1周目", banner: imgEcLv4Week1, text: "企業の「価値」と「成長」をどう測るか?" },
            { week: "2周目", banner: imgEcLv4Week2, text: "企業は誰のものか?（コーポレート・ガバナンス）" },
            { week: "3周目", banner: imgEcLv4Week3, text: "フィードバック" }
          ]
      },
    ],
    //英語
    globalenglish: [
      {
        level: "1",
        grade: "英語初挑戦の方",
        lessons: [
            { week: "1周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg", text: "Letの発音は”レット”じゃダメ!音を止める練習をしよう" },
            { week: "2周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg", text: "「家で」はatかinどちらを使う?カタマリで覚えればもう悩まない!" },
            { week: "3周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg",text: "「欲しいもの」「自転車に乗った」などを英語で" }
          ]
      },
      {
        level: "2",
        grade: "英語が少し話せる方",
        lessons: [
            { week: "1周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg", text: "want toは”わな”。リエゾン(音のつながり)で脱カタカナ英語" },
            { week: "2周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg", text: "「したい」を伝える時は「キモチ」カードのI want toをチョイス!" },
            { week: "3周目", banner: "https://go.waomirai.com/l/1026513/2025-02-05/hdw9n/1026513/17388115572akwZ6Km/thumbnail_ph.jpg",text: "「楽しかった」「〇〇できたらな」などを英語で" }
          ]
      }
    ]
  };


  // 年間の授業カリキュラムデータ（月ごとの内容）
  var yearCurriculum = {
    //哲学
    philosophy: {
      level1: [
        {
            "month": 4,
            "title": "自己紹介が好きになる魔法の言葉",
            "subcontents1": "自分だけの物語を語る",
            "subcontents2": "伝えるときの極意",
            "subcontents3": "フィードバック"
          },
          {
            "month": 5,
            "title": "「正義」はダレが決める？",
            "subcontents1": "アナタが裁く「昔話桃太郎」",
            "subcontents2": "桃太郎退治に行く鬼たち",
            "subcontents3": "フィードバック"
          },
          {
            "month": 6,
            "title": "アニメヒーロー強さの秘密",
            "subcontents1": "鬼に勝つってどういうこと？",
            "subcontents2": "自分に勝つってどういうこと？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 7,
            "title": "ポジティブ思考は無敵の生き方",
            "subcontents1": "ネガティブは排除すべき？",
            "subcontents2": "「自信」はどこから？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 8,
            "title": "ネコ型ロボットと友だちになる未来が来る？",
            "subcontents1": "AIは敵？　味方？",
            "subcontents2": "AIは人間の解放者？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 9,
            "title": "ルールは破るためにある？",
            "subcontents1": "世の中ルールが多すぎる？",
            "subcontents2": "今あるルールが変わるとき",
            "subcontents3": "フィードバック"
          },
          {
            "month": 10,
            "title": "ひとは一人で生きられる？",
            "subcontents1": "他人の注射が痛いわけ",
            "subcontents2": "助け合いは人間の本能？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 11,
            "title": "見える存在vs見えない存在",
            "subcontents1": "「妖怪」は存在するのか？",
            "subcontents2": "「妖怪」を求める気持ちとは？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 12,
            "title": "あなたが描く未来の仕事は？",
            "subcontents1": "未来の人気仕事カタログ",
            "subcontents2": "アナタの目指す職業は!?",
            "subcontents3": "フィードバック"
          },
          {
            "month": 1,
            "title": "友だち関係のトラブル、どうする？",
            "subcontents1": "トラブルにも個性がある？",
            "subcontents2": "アナタにぴったりの克服方法",
            "subcontents3": "フィードバック"
          },
          {
            "month": 2,
            "title": "優劣は「個性」とちがいますか？",
            "subcontents1": "順位を決めなければ平等？",
            "subcontents2": "優劣は個性じゃないの？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 3,
            "title": "あなたが描く未来社会の人物像は？",
            "subcontents1": "未来の社会を予言する",
            "subcontents2": "アナタの目指す人物像は!?",
            "subcontents3": "フィードバック"
          }
      ],
      level2: [
          {
            "month": 4,
            "title": "友だちって何ですか？",
            "subcontents1": "哲学者も考えた友だちの意味",
            "subcontents2": "いい人間関係ってどういう関係？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 5,
            "title": "人類とウィルス・菌たちの深い関係",
            "subcontents1": "感染症が人類の歴史を変える？",
            "subcontents2": "ウィルスは寄生する？　共生する？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 6,
            "title": "いじめをなくすただ一つの方法",
            "subcontents1": "いじめは人間の本能なの!?",
            "subcontents2": "加害者にも被害者もならない！",
            "subcontents3": "フィードバック"
          },
          {
            "month": 7,
            "title": "見た目が9割ってホント？",
            "subcontents1": "第一印象、何で決める？",
            "subcontents2": "中身は外見に表われる？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 8,
            "title": "SDGｓは地球を救うのか？",
            "subcontents1": "だれひとり取り残さない",
            "subcontents2": "自分ごととして考える",
            "subcontents3": "フィードバック"
          },
          {
            "month": 9,
            "title": "進化を続けるAIとどうつき合う？",
            "subcontents1": "ChatGPT許可か禁止か",
            "subcontents2": "AIが「人工」でなくなる日⁉",
            "subcontents3": "フィードバック"
          },
          {
            "month": 10,
            "title": "勝ちたい心に価値がある？",
            "subcontents1": "人はなぜゲームに勝ちたいのか",
            "subcontents2": "勝ちたい理由、負ける意味",
            "subcontents3": "フィードバック"
          },
          {
            "month": 11,
            "title": "ホントに「みんな違って、みんないい」？",
            "subcontents1": "みんな違って、みんないい？",
            "subcontents2": "仲良くならなくてもいい？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 12,
            "title": "あなたのSNSルールどう決める？",
            "subcontents1": "ネット被害なぜなくならない？",
            "subcontents2": "わが家のSNSルール",
            "subcontents3": "フィードバック"
          },
          {
            "month": 1,
            "title": "アンガーマネジメントって何？",
            "subcontents1": "「怒り」って抑えた方がいい？",
            "subcontents2": "「怒り」と向き合ってみる",
            "subcontents3": "フィードバック"
          },
          {
            "month": 2,
            "title": "クラスカーストは存在しますか？",
            "subcontents1": "クラスカーストができる理由",
            "subcontents2": "序列社会でどう生きる？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 3,
            "title": "哲学＝知を愛する心、を考える",
            "subcontents1": "哲人ソクラテスの悩み",
            "subcontents2": "アナタは何を貫き通す？",
            "subcontents3": "フィードバック"
          }
      ],
      level3: [ 
        {
            "month": 4,
            "title": "学校の勉強は社会で役立つの？",
            "subcontents1": "あなたは何のために学ぶ？",
            "subcontents2": "脳が喜ぶ勉強法があるとしたら？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 5,
            "title": "「常識」を疑うのって「非常識」？",
            "subcontents1": "常識の基準、非常識の基準",
            "subcontents2": "認知バイアスに負けるな！",
            "subcontents3": "フィードバック"
          },
          {
            "month": 6,
            "title": "SNSとの向き合い方",
            "subcontents1": "SNSから見る「承認」",
            "subcontents2": "トラブルを回避するためには",
            "subcontents3": "フィードバック"
          },
          {
            "month": 7,
            "title": "好き嫌いから眺める多様性社会の歩き方",
            "subcontents1": "人によって異なる好き嫌い",
            "subcontents2": "多様性社会を生きていくために",
            "subcontents3": "フィードバック"
          },
          {
            "month": 8,
            "title": "自分で校則を決められるなら？",
            "subcontents1": "そもそもルールとは？",
            "subcontents2": "ルールメイキング思考",
            "subcontents3": "フィードバック"
          },
          {
            "month": 9,
            "title": "戦争はなくせる？なくせない？",
            "subcontents1": "トゥキュディデスの３つの戦争動機",
            "subcontents2": "戦争を抑止するには",
            "subcontents3": "フィードバック"
          },
          {
            "month": 10,
            "title": "人はどこまでAIに判断を委ねる？",
            "subcontents1": "自動運転の事故の責任は？",
            "subcontents2": "事前逮捕で犯罪ゼロに？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 11,
            "title": "外見至上主義をどう読み解く？",
            "subcontents1": "美の基準とルッキズム",
            "subcontents2": "見た目差別の何が問題か",
            "subcontents3": "フィードバック"
          },
          {
            "month": 12,
            "title": "もしも命に値段がつけられたら",
            "subcontents1": "自殺者２万人社会を考える",
            "subcontents2": "死んではいけない理由とは",
            "subcontents3": "フィードバック"
          },
          {
            "month": 1,
            "title": "議論がどんどん深まる思考法",
            "subcontents1": "問いを立てる、考えを深める",
            "subcontents2": "ヘーゲルの弁証法で考える",
            "subcontents3": "フィードバック"
          },
          {
            "month": 2,
            "title": "ラブソングで考える「愛」",
            "subcontents1": "愛され続ける「ラブソング」",
            "subcontents2": "愛に理由はある？",
            "subcontents3": "フィードバック"
          },
          {
            "month": 3,
            "title": "未来を生きる「志向性」",
            "subcontents1": "日本の若者は「内向き志向」か？",
            "subcontents2": "自身の「志向性」を探る",
            "subcontents3": "フィードバック"
          }

       ],
      level4: [ 
        {
          "month": 4,
          "title": "自由意志は存在しないってホント？",
          "subcontents1": "「我思う」が揺らぐ？",
          "subcontents2": "論争の先にみえる自由",
          "subcontents3": "フィードバック"
        },
        {
          "month": 5,
          "title": "「具体と抽象」が生み出す価値",
          "subcontents1": "コミュニケーションギャップを解消",
          "subcontents2": "斬新な発想の秘密",
          "subcontents3": "フィードバック"
        },
        {
          "month": 6,
          "title": "嘘はどこまで許される？",
          "subcontents1": "正しく生きるとは何か",
          "subcontents2": "カントかベンサムか",
          "subcontents3": "フィードバック"
        },
        {
          "month": 7,
          "title": "「事実」と「真実」信じるならどっち？",
          "subcontents1": "価値とはなにか",
          "subcontents2": "あなたは何で価値を決める？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 8,
          "title": "制約が生み出す「自由」",
          "subcontents1": "守られるのか、奪われるのか",
          "subcontents2": "デモクラシーは未完成？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 9,
          "title": "「殺すな」は普遍的ルールか？",
          "subcontents1": "戦争が正当化される条件",
          "subcontents2": "人々に通底する根源へ",
          "subcontents3": "フィードバック"
        },
        {
          "month": 10,
          "title": "「コミュ力がある」ってどういうこと？",
          "subcontents1": "人間関係とコミュニケーション",
          "subcontents2": "現代はコミュ力至上主義社会？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 11,
          "title": "少数派から多数派へ贈る言葉",
          "subcontents1": "最大多数の最大幸福って何？",
          "subcontents2": "不当な抑圧、正当な抑圧？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 12,
          "title": "「武士道」VS「騎士道」選ぶなら？",
          "subcontents1": "武士道と騎士道、どう違う？",
          "subcontents2": "命をかけて守る義、あり？",
          "subcontents3": "フィードバック"
        },
        {
          "month": 1,
          "title": "成功も失敗もない世界",
          "subcontents1": "成功と失敗は紙一重？",
          "subcontents2": "スピノザ思想の生かし方",
          "subcontents3": "フィードバック"
        },
        {
          "month": 2,
          "title": "自由と平等は、普遍的価値？",
          "subcontents1": "サルトルが描いた「自由」",
          "subcontents2": "世界は「自由で平等」か",
          "subcontents3": "フィードバック"
        },
        {
          "month": 3,
          "title": "君たちはどう生きるか",
          "subcontents1": "昭和と令和をつなぐ意志",
          "subcontents2": "あなたはどう生きるか",
          "subcontents3": "フィードバック"
        }
      ]
    },
    //科学
    science: {
        level1: 
          [
            {
              "month": 4,
              "title": "恐竜がいたらペットにできる ?",
              "subcontents1": "現代科学でわかった恐竜の生態",
              "subcontents2": "実際にペットにするならどの恐竜",
              "subcontents3": "フィードバック"
            },
            {
              "month": 5,
              "title": "10万ボルトの強さはどのくらい ?",
              "subcontents1": "発電する動物はどうしているの？",
              "subcontents2": "10万ボルトができること",
              "subcontents3": "フィードバック"
            },
            {
              "month": 6,
              "title": "人が明かりを手に入れるまで",
              "subcontents1": "電球について知ろう",
              "subcontents2": "LEDの誕生秘話",
              "subcontents3": "フィードバック"
            },
            {
              "month": 7,
              "title": "地球以外に住める惑星はあるの ?",
              "subcontents1": "宇宙に行くにはどんな準備が必要？",
              "subcontents2": "火星移住計画に必要なこと",
              "subcontents3": "フィードバック"
            },
            {
              "month": 8,
              "title": "お肉をやおいしく焼くにはどうすればいい?",
              "subcontents1": "タンパク質の仕組みと変性",
              "subcontents2": "スパイスの歴史",
              "subcontents3": "フィードバック"
            },
            {
              "month": 9,
              "title": "ダイナマイトが世界の科学を変えた!",
              "subcontents1": "平和と発明の象徴　ノーベル賞",
              "subcontents2": "アルフレッド・ノーベルの生涯と発明",
              "subcontents3": "フィードバック"
            },
            {
              "month": 10,
              "title": "ゲーム対戦する CPU って AI なの ?",
              "subcontents1": "AI ってなんだろう",
              "subcontents2": "いまの AI はなにができるの？",
              "subcontents3": "フィードバック"
            },
            {
              "month": 11,
              "title": "苦い野菜をおいしく食べる方法はあるの ?",
              "subcontents1": "人間の味覚ってどんなもの？",
              "subcontents2": "苦みを少なくする方法とは？",
              "subcontents3": "フィードバック"
            },
            {
              "month": 12,
              "title": "空飛ぶ乗り物が命を救う",
              "subcontents1": "人が空を飛べるとようになるまで",
              "subcontents2": "空の道が人を助ける",
              "subcontents3": "フィードバック"
            },
            {
              "month": 1,
              "title": "太陽はなくなるとどうなる ?",
              "subcontents1": "太陽はなにからできているの ?",
              "subcontents2": "太陽は燃えているのか",
              "subcontents3": "フィードバック"
            },
            {
              "month": 2,
              "title": "携帯ゲーム機の充電を長持ちさせるには ?",
              "subcontents1": "最初に電池を作ったのはだれ ? 電池の歴史",
              "subcontents2": "繰り返し使える電池の誕生",
              "subcontents3": "フィードバック"
            },
            {
              "month": 3,
              "title": "ゼロがなかった時代",
              "subcontents1": "数字の表し方",
              "subcontents2": "ゼロ（0）の発見",
              "subcontents3": "フィードバック"
            }
          ],
        level2: [
          {
            "month": 4,
            "title": "映画のように恐竜のクローンは作れるのか？",
            "subcontents1": "クローン技術ってなに ?",
            "subcontents2": "恐竜は本当によみがえらせれる ?",
            "subcontents3": "フィードバック"
          },
          {
            "month": 5,
            "title": "「まぜるな危険」を混ぜてしまったらどうする?",
            "subcontents1": "やってはいけない科学をやってみた",
            "subcontents2": "キケンな化学反応の対処法",
            "subcontents3": "フィードバック"
          },
          {
            "month": 6,
            "title": "目に見えない紫外線について考えてみよう",
            "subcontents1": "紫外線対策はしたほうがいいの ?",
            "subcontents2": "紫外線を有効活用してみよう",
            "subcontents3": "フィードバック"
          },
          {
            "month": 7,
            "title": "巨大望遠鏡で宇宙の秘密に迫る !",
            "subcontents1": "宇宙観察と光学式巨大望遠鏡のひみつ",
            "subcontents2": "宇宙観察と電波望遠鏡のひみつ",
            "subcontents3": "フィードバック"
          },
          {
            "month": 8,
            "title": "キャラクターのすがたが理想的⁉",
            "subcontents1": "数学的美しさ　「白銀比」のひみつ",
            "subcontents2": "世界をミリョウした「黄金比」のひみつ",
            "subcontents3": "フィードバック"
          },
          {
            "month": 9,
            "title": "マスクの予防効果はどのくらい?",
            "subcontents1": "細菌とウイルスって何が違うの?",
            "subcontents2": "マスクはする必要があるの",
            "subcontents3": "フィードバック"
          },
          {
            "month": 10,
            "title": "車が考えて運転してくれる自動車ってあるの?",
            "subcontents1": "自動運転に期待されることってなんだろう?",
            "subcontents2": "完全自動運転にするにはどうすればいい?",
            "subcontents3": "フィードバック"
          },
          {
            "month": 11,
            "title": "ペットボトルの水を凍らすとどうして膨らむ?",
            "subcontents1": "水のふしぎな三変化",
            "subcontents2": "目に見えないつぶの形と結晶",
            "subcontents3": "フィードバック"
          },
          {
            "month": 12,
            "title": "さびないステンレスはすでにさびている?",
            "subcontents1": "金属の利用と歴史",
            "subcontents2": "サビない不思議な金属「ステンレス」のひみつ",
            "subcontents3": "フィードバック"
          },
          {
            "month": 1,
            "title": "ひとの睡眠の舞台裏",
            "subcontents1": "脳と体の不思議な連携",
            "subcontents2": "質の良い睡眠の手引き",
            "subcontents3": "フィードバック"
          },
          {
            "month": 2,
            "title": "地球温暖化から生まれたゲリラ豪雨",
            "subcontents1": "雲と雨のしくみ",
            "subcontents2": "天気予報のひみつ",
            "subcontents3": "フィードバック"
          },
          {
            "month": 3,
            "title": "江戸時代の人が楽しんだ算額",
            "subcontents1": "日本人は問題を解くのが大好きだった",
            "subcontents2": "算額にチャレンジ !!",
            "subcontents3": "フィードバック"
          }
        ],
        level3: [
                {
                  "month": 4,
                  "title": "暗黒物質とブラックホールの秘密にせまる",
                  "subcontents1": "未知なるものへの探求",
                  "subcontents2": "ダークマターっていったい何?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 5,
                  "title": "地球温暖化に気づいたのは日本人?",
                  "subcontents1": "地球温暖化は予想されていた",
                  "subcontents2": "世界の危機を救うには何をする",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 6,
                  "title": "光の正体をめぐる大論争",
                  "subcontents1": "光の速さは〇〇〇?",
                  "subcontents2": "光の正体は波動? それとも粒子?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 7,
                  "title": "いつかゲームの世界に入れるようになるの?",
                  "subcontents1": "現実と仮想空間",
                  "subcontents2": "バーチャル世界の未来",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 8,
                  "title": "アインシュタインの挑戦",
                  "subcontents1": "相対性理論を学ぼう",
                  "subcontents2": "現代物理学の父",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 9,
                  "title": "科学研究の功績と真実",
                  "subcontents1": "野口英世の真実",
                  "subcontents2": "目に見えないモノとのたたかい",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 10,
                  "title": "小さすぎて見えない世界",
                  "subcontents1": "原子の規則性",
                  "subcontents2": "元素に関わる科学者たち",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 11,
                  "title": "太陽の光で電気をつくることはエコになる?",
                  "subcontents1": "発電から見るSDGsの考え方",
                  "subcontents2": "クリーンエネルギーで目指す持続可能な社会",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 12,
                  "title": "国民の生命によりそう杖になる",
                  "subcontents1": "日本近代医学の父　北里柴三郎",
                  "subcontents2": "たくさんの生命を救った血清療法",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 1,
                  "title": "テクノロジーの心臓部って!?",
                  "subcontents1": "半導体のしくみと役割",
                  "subcontents2": "半導体の進化と展望",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 2,
                  "title": "病気にならないための食事はあるのか?",
                  "subcontents1": "体を丈夫にするための必要な栄養素",
                  "subcontents2": "病気予防のための賢い食事",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 3,
                  "title": "放射線はやはり危険なのか?",
                  "subcontents1": "放射線の発見と利用",
                  "subcontents2": "マリー・キュリーの一生",
                  "subcontents3": "フィードバック"
                }
              ],
        level4: [
                {
                  "month": 4,
                  "title": "ニュートンの科学革命",
                  "subcontents1": "動きの科学を学ぶ",
                  "subcontents2": "アイザック・ニュートンの生涯と発見",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 5,
                  "title": "毒と薬は紙一重 !?",
                  "subcontents1": "正しい薬の飲み方",
                  "subcontents2": "医療現場で使われる薬とは ?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 6,
                  "title": "人間の手足が再生できるのって本当?",
                  "subcontents1": "ES 細胞のひみつ",
                  "subcontents2": "iPS 細胞と山中伸弥教授",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 7,
                  "title": "微生物学の天才の世界",
                  "subcontents1": "目に見えない敵との闘い",
                  "subcontents2": "ルイ・パスツールの功績",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 8,
                  "title": "知っておきたい! 遺伝子組み換え食品の光と影",
                  "subcontents1": "品種改良と遺伝子組み換えの違い",
                  "subcontents2": "遺伝子組み換え食品の可能性と課題",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 9,
                  "title": "古代ギリシャの数学者の偉業",
                  "subcontents1": "三角形の秘密を解き明かす",
                  "subcontents2": "ピタゴラスの足跡",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 10,
                  "title": "未来のテクノロジー ! 量子コンピューター",
                  "subcontents1": "量子の不思議を解明",
                  "subcontents2": "量子コンピューターの可能性",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 11,
                  "title": "宝くじはどこで買っても変わらない?",
                  "subcontents1": "当たる確率と分析方法",
                  "subcontents2": "確率の不思議な世界",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 12,
                  "title": "地球はなぜ太陽の周りをまわっているのか?",
                  "subcontents1": "宇宙の法則",
                  "subcontents2": "太陽は公転していないの ?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 1,
                  "title": "ジェットコースターが落ちないのはなぜ?",
                  "subcontents1": "私たちの命守る微分積分の力",
                  "subcontents2": "もしも微分積分がなかったら生活は江戸のまま",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 2,
                  "title": "レモン3個分の食品添加物は体にいい？",
                  "subcontents1": "化学調味料と健康",
                  "subcontents2": "サプリメントと食事",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 3,
                  "title": "乾電池がバッテリーになるまで",
                  "subcontents1": "電池の歴史",
                  "subcontents2": "電池でノーベル賞を受賞した日本人",
                  "subcontents3": "フィードバック"
                }
              ]
    },
    //経済
    economy: {
        level1: [
          {
            "month": 4,
            "title": "お金ってなんで使えるの ?",
            "subcontents1": "お金になれるものとは?",
            "subcontents2": "君の「お金」を広めてみよう!",
            "subcontents3": "フィードバック"
          },
          {
            "month": 5,
            "title": "現金を使わずにお買い物!?",
            "subcontents1": "現金には問題がいっぱい!?",
            "subcontents2": "未来の支払い方法を考えよう",
            "subcontents3": "フィードバック"
          },
          {
            "month": 6,
            "title": "友だちから「100 円かして」と言われたら?",
            "subcontents1": "お金の貸し借りの注意点",
            "subcontents2": "お金を借りることは悪いこと?",
            "subcontents3": "フィードバック"
          },
          {
            "month": 7,
            "title": "家族旅行に行く計画を立ててみよう!",
            "subcontents1": "計画の準備をしていこう!",
            "subcontents2": "実際に計画を立てていこう!",
            "subcontents3": "フィードバック"
          },
          {
            "month": 8,
            "title": "YouTuber は本当にもうかるの?",
            "subcontents1": "YouTuberの稼ぎのひみつ",
            "subcontents2": "君はどう稼ぐ?",
            "subcontents3": "フィードバック"
          },
          {
            "month": 9,
            "title": "おうちのお金はどこから来るの?",
            "subcontents1": "働くこととお金の関係",
            "subcontents2": "給料はどう決まる ?",
            "subcontents3": "フィードバック"
          },
          {
            "month": 10,
            "title": "図書館ってなんでタダで使えるの?",
            "subcontents1": "図書館を支えているものとは?",
            "subcontents2": "税金をどう使う?",
            "subcontents3": "フィードバック"
          },
          {
            "month": 11,
            "title": "ムダづかいをやめるには?",
            "subcontents1": "お金を「見える化」してみよう",
            "subcontents2": "ムダづかいってどんなお金の使い方?",
            "subcontents3": "フィードバック"
          },
          {
            "month": 12,
            "title": "10 歳から知っておきたいゲーム課金",
            "subcontents1": "ただの小学生が150 万円も課金できたのはなぜ?",
            "subcontents2": "ゲーム課金とどう付き合う?",
            "subcontents3": "フィードバック"
          },
          {
            "month": 1,
            "title": "貯金をするのはなんのため?",
            "subcontents1": "貯金したのに、買えない!?",
            "subcontents2": "貯めたお金はいつ使う?",
            "subcontents3": "フィードバック"
          },
          {
            "month": 2,
            "title": "お手伝いで学ぶ、稼ぐ力",
            "subcontents1": "お手伝いでお金を稼げるのはなぜ?",
            "subcontents2": "お手伝いでお金を稼いでみよう！",
            "subcontents3": "フィードバック"
          },
          {
            "month": 3,
            "title": "「お金の大切さ」ってなんだ?",
            "subcontents1": "お金の大切さについて考えてみよう",
            "subcontents2": "お金が大切なのはなぜ?",
            "subcontents3": "フィードバック"
          }
          ],
        level2: [
                {
                  "month": 4,
                  "title": "消費税ってなんであるの?",
                  "subcontents1": "「消費税0%」の国、クウェートのナゾにせまる！",
                  "subcontents2": "理想の消費税は何% ?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 5,
                  "title": "チェーン店なのにお店ごとに値段が違うのはなぜ?",
                  "subcontents1": "値段が違う理由とは?",
                  "subcontents2": "どこでも値段が変わらない物とは?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 6,
                  "title": "あなたは「欲」とどう向き合う？",
                  "subcontents1": "欲はどこから発生する?",
                  "subcontents2": "人はなぜ物を欲しがる?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 7,
                  "title": "欲しいものはいつどこで買うといい?",
                  "subcontents1": "お店による値段の違い",
                  "subcontents2": "物の値段を上げる要素とは?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 8,
                  "title": "世界を動かす「金利」にせまる!",
                  "subcontents1": "金利と銀行のヒミツ",
                  "subcontents2": "「金利」のパワーに触れてみよう",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 9,
                  "title": "ダイヤモンドはなぜ高い?",
                  "subcontents1": "ただの小石が100 万円になるヒミツにせまる！",
                  "subcontents2": "「 値段」と「価値」、どうちがう？",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 10,
                  "title": "お金にも強さがある!?",
                  "subcontents1": "お金に与えられた“ パワー” とは!?",
                  "subcontents2": "日本と世界のお金の歴史",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 11,
                  "title": "あの人の給料はなぜ高い?",
                  "subcontents1": "職業ごとの給料の違い",
                  "subcontents2": "給料が高い人はどんな人?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 12,
                  "title": "経済のこと、お金のこと、君はなぜ学ぶ?",
                  "subcontents1": "知らないままだと損ばかり!?",
                  "subcontents2": "なんで学校にはお金の授業がないの?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 1,
                  "title": "モノの値段はどう決まる?",
                  "subcontents1": "セールに隠されたヒミツとは",
                  "subcontents2": "「お得」ってなんだろう？",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 2,
                  "title": "「アリとキリギリス」のアリは本当に正しいの?",
                  "subcontents1": "貯金ばかりで大丈夫?",
                  "subcontents2": "計画表を作ってみよう",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 3,
                  "title": "自分が一番幸せになるお金の使い道ってなに?",
                  "subcontents1": "お金で何を買う?",
                  "subcontents2": "不思議なお金の使い方",
                  "subcontents3": "フィードバック"
                }
              ],
        level3: [
                {
                  "month": 4,
                  "title": "お金とは何か?",
                  "subcontents1": "お金の機能",
                  "subcontents2": "ブロックチェーンと仮想通貨",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 5,
                  "title": "政治におけるお金の役割",
                  "subcontents1": "なぜ税金を納めるのか?",
                  "subcontents2": "政党の活動とお金の問題",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 6,
                  "title": "銀行の仕組みと金融政策",
                  "subcontents1": "銀行の役割",
                  "subcontents2": "どのように経済をコントロールするか?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 7,
                  "title": "貿易と外国為替",
                  "subcontents1": "貿易の仕組み",
                  "subcontents2": "為替レートはなぜ動くのか?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 8,
                  "title": "世界のニュースを「お金」で読む",
                  "subcontents1": "ジニ係数：格差をどう数値化するか?",
                  "subcontents2": "経済学 × 地政学で考える",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 9,
                  "title": "“儲かる仕組み” をどう作るか?",
                  "subcontents1": "ビジネスモデルの作り方",
                  "subcontents2": "経済学 × 心理学で考える（行動経済学）",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 10,
                  "title": "起業（会社を作る）という道",
                  "subcontents1": "なぜ起業するのか（社会的意味）",
                  "subcontents2": "資金調達から持続的成長へ",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 11,
                  "title": "人生の選択とお金：最適解をどう選ぶか?–1",
                  "subcontents1": "就職活動とお金",
                  "subcontents2": "結婚と子育て",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 12,
                  "title": "人生の選択とお金：最適解をどう選ぶか?–2",
                  "subcontents1": "持ち家か賃貸か",
                  "subcontents2": "保険と年金の種類",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 1,
                  "title": "お金の貯め方・使い方",
                  "subcontents1": "お金の貯め方と貯金の種類",
                  "subcontents2": "お金の使い方（消費・投資・浪費）と払い方",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 2,
                  "title": "お金の失敗をどう避けるか?",
                  "subcontents1": "推し活との付き合い方",
                  "subcontents2": "ギャンブルとの付き合い方",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 3,
                  "title": "お金のトラブルから身を守るために",
                  "subcontents1": "マルチ商法（ねずみ講）の手口",
                  "subcontents2": "なぜ優しい性格でも闇バイトをしてしまうのか?",
                  "subcontents3": "フィードバック"
                }
              ],
        level4: [
                {
                  "month": 4,
                  "title": "財務諸表1",
                  "subcontents1": "貸借対照表：資本主義の縮図を読み解く",
                  "subcontents2": "損益計算書：“成績” よりも “戦略” を見よ",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 5,
                  "title": "財務諸表2",
                  "subcontents1": "統計解析ソフトを使った分析",
                  "subcontents2": "キャッシュフロー計算書",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 6,
                  "title": "ファイナンス理論",
                  "subcontents1": "企業の「価値」と「成長」をどう測るか?",
                  "subcontents2": "企業は誰のものか?（コーポレート・ガバナンス）",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 7,
                  "title": "投資1",
                  "subcontents1": "投資とは何か?",
                  "subcontents2": "投機の技法（ポートフォリオ理論）",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 8,
                  "title": "投資2",
                  "subcontents1": "リスクを売買する方法とは？（デリバティブ）",
                  "subcontents2": "バブルの経済理論",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 9,
                  "title": "経済学史1",
                  "subcontents1": "アダム・スミスの『国富論』",
                  "subcontents2": "ミクロ経済学の基礎",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 10,
                  "title": "経済学史2",
                  "subcontents1": "J. M. ケインズの『一般理論』",
                  "subcontents2": "最新のマクロ経済学動向",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 11,
                  "title": "国際経済と外国為替",
                  "subcontents1": "ブレトンウッズ体制からEUまで",
                  "subcontents2": "為替レートと金利の分析",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 12,
                  "title": "西洋における資本主義と道徳1",
                  "subcontents1": "アヘン戦争：現代ビジネスの問題は何か?",
                  "subcontents2": "奴隷貿易：“安価な労働力” とは何か?",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 1,
                  "title": "西洋における資本主義と道徳2",
                  "subcontents1": "カール・マルクスの『資本論』",
                  "subcontents2": "マックス・ウェーバーの『プロ倫』",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 2,
                  "title": "日本における資本主義と道徳1",
                  "subcontents1": "鎌倉～江戸期の資本主義",
                  "subcontents2": "明治～昭和期の資本主義",
                  "subcontents3": "フィードバック"
                },
                {
                  "month": 3,
                  "title": "日本における資本主義と道徳2",
                  "subcontents1": "近江商人と「三方よし」",
                  "subcontents2": "渋沢栄一の『論語と算盤』",
                  "subcontents3": "フィードバック"
                }
          ],
    },
    //英語
    globalenglish: {
        level1: [
            {
              "month": 4,
              "title": "自分の欲しいものを英語でプレゼン【前半】",
              "subcontents1": "Letの発音は”レット”じゃダメ!音を止める練習をしよう",
              "subcontents2": "「家で」はatかinどちらを使う?カタマリで覚えればもう悩まない!",
              "subcontents3": "「欲しいもの」「自転車に乗った」などを英語で"
            },
            {
              "month": 5,
              "title": "自分の欲しいものを英語でプレゼン【後半】",
              "subcontents1": "マウンテンバイクwant toは”わな”。リエゾン(音のつながり)で脱カタカナ英語",
              "subcontents2": "「したい」を伝える時は「キモチ」カードのI want toをチョイス!",
              "subcontents3": "「楽しかった」「〇〇できたらな」などを英語で"
            },
            {
              "month": 6,
              "title": "家族に仕事の事を英語でインタビュー【前半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 7,
              "title": "家族に仕事の事を英語でインタビュー【後半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 8,
              "title": "人気スポットを英語でレポート【前半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 9,
              "title": "人気スポットを英語でレポート【後半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 10,
              "title": "自分の好きな事を英語でプレゼン【前半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 11,
              "title": "自分の好きな事を英語でプレゼン【後半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 12,
              "title": "習い事の先生にインタビュー【前半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 1,
              "title": "習い事の先生にインタビュー【後半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 2,
              "title": "人気のお店を英語でレポート【前半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            },
            {
              "month": 3,
              "title": "人気のお店を英語でレポート【後半】",
              "subcontents1": "",
              "subcontents2": "",
              "subcontents3": ""
            }
        ],
        level2: [
                {
                  "month": 4,
                  "title": "日本の食べ物を英語でプレゼン【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 5,
                  "title": "日本の食べ物を英語でプレゼン【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 6,
                  "title": "人気のキャラクターにインタビュー【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 7,
                  "title": "人気のキャラクターにインタビュー【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 8,
                  "title": "日本の人気スポットを英語でレポート【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 9,
                  "title": "日本の人気スポットを英語でレポート【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 10,
                  "title": "日本の文化を英語でプレゼン【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 11,
                  "title": "日本の文化を英語でプレゼン【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 12,
                  "title": "人気の偉人にインタビュー【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 1,
                  "title": "人気の偉人にインタビュー【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 2,
                  "title": "外国人に人気のスポットを英語でレポート【前半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                },
                {
                  "month": 3,
                  "title": "外国人に人気のスポットを英語でレポート【後半】",
                  "subcontents1": "",
                  "subcontents2": "",
                  "subcontents3": ""
                }
              ]
    },
  };


  // 曜日と時間割のデータ
  var weekdays = ['時間', '日', '月', '火', '水', '木', '金', '土'];
  var timeslots = {
    //哲学
    philosophy: [{
      time: '17:30 - 18:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: '哲学', level: 2 },
        { day: '水', subject: null },
        { day: '木', subject: null },
        { day: '金', subject: '哲学', level: 1 },
        { day: '土', subject: null }
      ]
      },{
      time: '18:30 - 19:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: '哲学', level: 1 },
        { day: '水', subject: null },
        { day: '木', subject: null },
        { day: '金', subject: '哲学', level: 2 },
        { day: '土', subject: null }
      ]
    },{
      time: '19:30 - 20:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: '哲学', level: 4 },
        { day: '水', subject: null },
        { day: '木', subject: null },
        { day: '金', subject: '哲学', level: 3 },
        { day: '土', subject: null }
      ]
    },{
      time: '20:30 - 21:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: '哲学', level: 3 },
        { day: '水', subject: null },
        { day: '木', subject: null },
        { day: '金', subject: '哲学', level: 4 },
        { day: '土', subject: null }
      ]
    },
    ],
    //科学
    science: [{
      time: '17:30 - 18:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null},
        { day: '水', subject: '科学', level: 1 },
        { day: '木', subject: null },
        { day: '金', subject: '科学', level: 2 },
        { day: '土', subject: null }
      ]
      },{
      time: '18:30 - 19:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '科学', level: 2  },
        { day: '木', subject: null },
        { day: '金', subject: '科学', level: 1 },
        { day: '土', subject: null }
      ]
    },{
      time: '19:30 - 20:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '科学', level: 3 },
        { day: '木', subject: null },
        { day: '金', subject: '科学', level: 4 },
        { day: '土', subject: null }
      ]
    },{
      time: '20:30 - 21:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '科学', level: 4 },
        { day: '木', subject: null },
        { day: '金', subject: '科学', level: 3 },
        { day: '土', subject: null }
      ]
    },
    ],
    //経済
    economy: [{
      time: '17:30 - 18:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null},
        { day: '水', subject: '経済', level: 2 },
        { day: '木', subject: '経済', level: 1 },
        { day: '金', subject: null },
        { day: '土', subject: null }
      ]
      },{
      time: '18:30 - 19:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '経済', level: 1 },
        { day: '木', subject: '経済', level: 2 },
        { day: '金', subject: null },
        { day: '土', subject: null }
      ]
    },{
      time: '19:30 - 20:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '経済', level: 4 },
        { day: '木', subject: '経済', level: 3 },
        { day: '金', subject: null},
        { day: '土', subject: null }
      ]
    },{
      time: '20:30 - 21:15', // 時間帯
      schedule: [
        { day: '日', subject: null },
        { day: '月', subject: null },
        { day: '火', subject: null },
        { day: '水', subject: '経済', level: 3 },
        { day: '木', subject: '経済', level: 4 },
        { day: '金', subject: null },
        { day: '土', subject: null }
      ]
    },
    ]
  };

