//-//////////////
//- URL
//-//////////////

//-
//- サンプルURL
//- var UrlLine = 'https://liff.line.me/2006716288-lL7QzGA3?loycus_urlc=vLo6';


//-//////////////
//- ImagePath
//-//////////////

//- サーバーのみ
- var pathServer = 'https://waomirai.com/lp/assets/lpimages/16_lp-event-2025techseeker'

- function img(filename) {
    return `${pathServer}/${filename}`;
  }

//-//////////////
//- バナー
//-//////////////
- var ImgBannerFrRef = img('banner_fr_ref.png');

//-//////////////
//- アイコン
//-//////////////
- var IcnWorksheetEconomy     = img('icn-worksheet-economy.svg');
- var IcnWorksheetPhilosophy  = img('icn-worksheet-philosophy.svg');
- var IcnWorksheetScience     = img('icn-worksheet-science.svg');
- var IcnWorksheetWao         = img('icn-worksheet-wao.svg');
- var IcnCalender             = img('icn_calender.svg');
- var IcnGuide                = img('icn_guide.svg');
- var IcnLine                 = img('icn_line.svg');
- var IcnSubject              = img('icn_subject.svg');

//-//////////////
//- モーダル
//-//////////////
- var ImgModalSubject = img('modal_subject.png');

//-//////////////
//- FAQ関連
//-//////////////
- var ImgFaqAttendclass01      = img('page_faq_attendclass_img_01.png');
- var ImgFaqAttendclass02      = img('page_faq_attendclass_img_02.png');
- var ImgFaqAttendclass03      = img('page_faq_attendclass_img_03.png');
- var ImgFaqAttendclass04      = img('page_faq_attendclass_img_04.png');
- var ImgFaqChangelevel01      = img('page_faq_changelevel_img_01.png');
- var ImgFaqHowtochangelevel01 = img('page_faq_howtochangelevel_01.png');
- var ImgFaqWhichclass01       = img('page_faq_whichclass_img_01.png');

//-//////////////
//- FV（ファーストビュー）
//-//////////////
- var ImgFvTopPc      = img('page_top_fv_img_pc.png');
- var ImgFvTopSp      = img('page_top_fv_sp.png');
- var ImgFvTopTextPc  = img('page_top_fv_text_pc.svg');
- var ImgFvSubjectTwo   = img('page_fv_subject_two.png');
- var ImgFvSubjectThree = img('page_fv_subject_three.png');

//-//////////////
//- How To Take
//-//////////////
- var ImgHowtoTake01 = img('page_icn_howto_take_01.svg');
- var ImgHowtoTake02 = img('page_icn_howto_take_02.svg');
- var ImgHowtoTake03 = img('page_icn_howto_take_03.svg');
- var ImgHowtoTake04 = img('page_icn_howto_take_04.svg');
- var ImgHowtoTake05 = img('page_icn_howto_take_05.svg');
- var ImgHowtoTake06 = img('page_icn_howto_take_06.svg');

//-//////////////
//- ステップ
//-//////////////
- var ImgStep01 = img('page_top_step_01.png');
- var ImgStep02 = img('page_top_step_02.png');
- var ImgStep03 = img('page_top_step_03.png');

//-//////////////
//- スケジュール
//-//////////////
- var ImgScheduleThree = img('page_threesubjectpack_schedule.svg');
- var ImgScheduleTwo   = img('page_twosubjectpack_schedule.svg');

//-//////////////
//- 各教科
//-//////////////
- var ImgSubjectEconomy     = img('subject_economy.jpg');
- var ImgSubjectEnglish     = img('subject_english.jpg');
- var ImgSubjectPhilosophy  = img('subject_philosophy.jpg');
- var ImgSubjectProgramming = img('subject_programming.jpg');
- var ImgSubjectScience     = img('subject_science.jpg');
- var ImgSubjectThreePack   = img('subject_threesubjectpack.png');
- var ImgSubjectTwoPack     = img('subject_twosubjectpack.png');
