extends _layout_moodle.pug
block contents
  - var title = '経済購入詳細 | stg'  // 変数の定義
  body#page-enrol-index(class="format-flexsections limitedwidth  path-enrol chrome dir-ltr lang-ja_wp yui-skin-sam yui3-skin-sam lms-waomirai-com pagelayout-incourse course-233 context-1603 category-4 theme uses-drawers")
    .toast-wrapper.mx-auto.py-0.fixed-top(role='status' aria-live='polite')
    #page-wrapper.d-print-block
      div
        a.sr-only.sr-only-focusable(href='#maincontent') &#x30E1;&#x30A4;&#x30F3;&#x30B3;&#x30F3;&#x30C6;&#x30F3;&#x30C4;&#x3078;&#x30B9;&#x30AD;&#x30C3;&#x30D7;&#x3059;&#x308B;
      script(src='https://lms.waomirai.com/lib/javascript.php/1732783105/lib/polyfills/polyfill.js')
      script(src='https://lms.waomirai.com/theme/yui_combo.php?rollup/3.18.1/yui-moodlesimple-min.js')
      script(src='https://lms.waomirai.com/lib/javascript.php/1732783105/lib/javascript-static.js')
      script.
        //<![CDATA[
        document.body.className += ' jsenabled';
        //]]>
      // Google Tag Manager (noscript)
      noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-W3X8CG9C' height='0' width='0' style='display:none;visibility:hidden')
      // End Google Tag Manager (noscript)
      include _parts-global-navigation.pug
      #theme_boost-drawers-primary.drawer.drawer-left.drawer-primary.d-print-none.not-initialized(data-region='fixed-drawer' data-preference='' data-state='show-drawer-primary' data-forceopen='0' data-close-on-resize='1')
        .drawerheader
          button.btn.drawertoggle.icon-no-margin.hidden(data-toggler='drawers' data-action='closedrawer' data-target='theme_boost-drawers-primary' data-toggle='tooltip' data-placement='right' title='ドロワを閉じる')
            i.icon.fa.fa-times.fa-fw(aria-hidden='true')
          img.logo.py-1.h-100(src='https://lms.waomirai.com/pluginfile.php/1/tool_tenant/headerlogo/3/%E3%83%AF%E3%82%AA%E6%9C%AA%E6%9D%A5%E5%A1%BE%E3%83%AD%E3%82%B3%E3%82%99A%EF%BC%88%E5%9F%BA%E6%9C%AC%E5%BD%A2%EF%BC%89.png' alt='lmswaomirai')
          .drawerheadercontent.hidden
        .drawercontent.drag-container(data-usertour='scroller')
          .list-group
            a.list-group-item.list-group-item-action(href='https://lms.waomirai.com/?redirect=0')
              | &#x30DB;&#x30FC;&#x30E0;
            a.list-group-item.list-group-item-action(href='https://lms.waomirai.com/my/')
              | &#x30C0;&#x30C3;&#x30B7;&#x30E5;&#x30DC;&#x30FC;&#x30C9;
            a.list-group-item.list-group-item-action(href='https://lms.waomirai.com/my/courses.php')
              | &#x767B;&#x9332;&#x6E08;&#x307F;&#x8B1B;&#x5EA7;
            a.list-group-item.list-group-item-action(href='https://lms.waomirai.com/user/profile.php')
              | &#x30DE;&#x30A4;&#x30DA;&#x30FC;&#x30B8;
            a.list-group-item.list-group-item-action(href='https://lms.waomirai.com/user/preferences.php')
              | &#x30E6;&#x30FC;&#x30B6;&#x8A2D;&#x5B9A;
          ul.position-absolute.fixed-bottom.navbar-nav.ml-3.tenantswitch
      #page.drawers.drag-container(data-region='mainpage' data-usertour='scroller')
        #topofscroll.main-inner
          .drawer-toggles.d-flex
          header#page-header.header-maxwidth.d-print-none
            .w-100
              .d-flex.flex-wrap
                #page-navbar
                  nav(aria-label='ナビゲーションバー')
                    ol.breadcrumb
                      li.breadcrumb-item
                        a(href='https://lms.waomirai.com/course/index.php?categoryid=4') &#x30EF;&#x30AA;&#x672A;&#x6765;&#x587E; &#x5B66;&#x7FD2;&#x30DD;&#x30FC;&#x30BF;&#x30EB;
                      li.breadcrumb-item
                        span &#x767B;&#x9332;&#x30AA;&#x30D7;&#x30B7;&#x30E7;&#x30F3;
                .ml-auto.d-flex
                #course-header
              .d-flex.align-items-center
                .mr-auto
                  .page-context-header
                    .page-header-image.mr-2
                      .border-radius.item-heading-image(style='background-image: url(https://lms.waomirai.com/pluginfile.php/1603/course/overviewfiles/%E7%84%A1%E9%A1%8C%20%285%29.png)')
                    .page-header-headings
                      h1.h2 経済
                .header-actions-container.ml-auto(data-region='header-actions-container')
          #page-content.pb-3.d-print-block
            #region-main-box
              section#region-main(aria-label='コンテンツ')
                span#user-notifications.notifications
                div(role='main')
                  span#maincontent
                  h2 &#x767B;&#x9332;&#x30AA;&#x30D7;&#x30B7;&#x30E7;&#x30F3;
                  .tool_catalogue-catalogue.course
                    .my-3(data-region='catalogue-pagesection')
                      .d-flex.align-items-start.position-relative
                        a.btn.btn-icon.mr-1.icons-collapse-expand.stretched-link.justify-content-center(role='button' data-toggle='collapse' href='#covercollapsec-about' aria-expanded='true' aria-controls='covercollapsec-about' aria-label='コース概要')
                          span.expanded-icon.icon-no-margin.p-2(title='折りたたむ')
                            i.icon.fa.fa-chevron-down.fa-fw(aria-hidden='true')
                          span.collapsed-icon.icon-no-margin.p-2(title='展開する')
                            span.dir-rtl-hide
                              i.icon.fa.fa-chevron-right.fa-fw(aria-hidden='true')
                            span.dir-ltr-hide
                              i.icon.fa.fa-chevron-left.fa-fw(aria-hidden='true')
                        h3.h5.d-flex.align-self-stretch.align-items-center.mb-0(data-region='pagesection-name')
                          | &#x30B3;&#x30FC;&#x30B9;&#x6982;&#x8981;
                        .d-none.d-sm-flex.align-self-stretch.align-items-center.text-muted.addon
                      #covercollapsec-about.pagesectioncontent.collapse.show
                        .mt-2
                          .mb-2
                            include parts-coursedetail.pug
                    .my-3(data-region='catalogue-pagesection')
                      .d-flex.align-items-start.position-relative
                        a.btn.btn-icon.mr-1.icons-collapse-expand.stretched-link.justify-content-center.collapsed(role='button' data-toggle='collapse' href='#covercollapsec-dates' aria-expanded='false' aria-controls='covercollapsec-dates' aria-label='コース期間')
                          span.expanded-icon.icon-no-margin.p-2(title='折りたたむ')
                            i.icon.fa.fa-chevron-down.fa-fw(aria-hidden='true')
                          span.collapsed-icon.icon-no-margin.p-2(title='展開する')
                            span.dir-rtl-hide
                              i.icon.fa.fa-chevron-right.fa-fw(aria-hidden='true')
                            span.dir-ltr-hide
                              i.icon.fa.fa-chevron-left.fa-fw(aria-hidden='true')
                        h3.h5.d-flex.align-self-stretch.align-items-center.mb-0(data-region='pagesection-name')
                          | &#x30B3;&#x30FC;&#x30B9;&#x671F;&#x9593;
                        .d-none.d-sm-flex.align-self-stretch.align-items-center.text-muted.addon
                      #covercollapsec-dates.pagesectioncontent.collapse
                        .mt-2
                          div
                            strong &#x958B;&#x59CB;&#x65E5;&#xFF1A;
                            |  24/04/06
                  hr
                  h3.h5.mt-4 &#x767B;&#x9332;&#x65B9;&#x6CD5;
                  .alert.alert-info.p-2.my-3
                    a(href='https://lms.waomirai.com/' style='text-align:center; display: block;') &#x30DB;&#x30FC;&#x30E0;&#x3078;&#x623B;&#x308B;
                  .box.py-3.generalbox
                    .enrol_fee_payment_region.text-center
                      p
                        | &#x767B;&#x9332;&#x6708;&#x306F;&#x7121;&#x6599;&#x3067;&#x3059;&#x3002;&#x7FCC;&#x6708;1&#x65E5;&#x3088;&#x308A;&#x6708;&#x984D;6,600&#x5186;&#x306E;&#x652F;&#x6255;&#x3044;&#x304C;&#x767A;&#x751F;&#x3057;&#x307E;&#x3059;&#x3002;
                        | &#x767B;&#x9332;&#x6708;&#x306E;25&#x65E5;&#x307E;&#x3067;&#x306B;&#x30AD;&#x30E3;&#x30F3;&#x30BB;&#x30EB;&#x3092;&#x3059;&#x308B;&#x3068;&#x3001;&#x6599;&#x91D1;&#x306F;&#x4E00;&#x5207;&#x304B;&#x304B;&#x308A;&#x307E;&#x305B;&#x3093;&#x3002;
                      p
                        b &yen;6,600
                      button#gateways-modal-trigger-674d0c3c3d28b674d0c3c3d28d1.btn.btn-secondary(type='button' data-action='core_payment/triggerPayment' data-component='enrol_fee' data-paymentarea='fee' data-itemid='758' data-cost='¥6,600' data-successurl='https://lms.waomirai.com/course/view.php?id=138' data-description='コース グローバル英語 LEVEL2 NATION STAGE の登録')
                        strong &#x4ECA;&#x3059;&#x3050;&#x7121;&#x6599;&#x30C8;&#x30E9;&#x30A4;&#x30A2;&#x30EB;
                          
        #goto-top-link
          a#backToTop.btn.btn-light(role='button' href='#' style='display:none')
            i.icon.fa.fa-arrow-up.fa-fw(title='トップへ戻る' role='img' aria-label='トップへ戻る')
        footer#page-footer.footer-popover.bg-white
          div(data-region='footer-container-popover')
            button.btn.btn-icon.bg-secondary.icon-no-margin.btn-footer-popover(data-action='footer-popover' aria-label='フッタを表示する')
              i.icon.fa.fa-question.fa-fw(aria-hidden='true')
          .footer-content-popover.container(data-region='footer-content-popover')
            .footer-section.p-3.border-bottom
              div
                a(href='https://lms.waomirai.com/user/contactsitesupport.php')
                  i.icon.fa.fa-envelope-o.fa-fw(aria-hidden='true')
                  a(href='https://go.waomirai.com/contact' target='_blank') &#x30B5;&#x30DD;&#x30FC;&#x30C8;&#x306B;&#x9023;&#x7D61;
            .footer-section.p-3.border-bottom
              .logininfo
                .logininfo
                  | &#x30ED;&#x30B0;&#x30A4;&#x30F3;&#x30E6;&#x30FC;&#x30B6;&#x30FC;&#x540D;&#xFF1A;
                  a(href='https://lms.waomirai.com/user/profile.php?id=581' title='プロファイルを表示する') &#x5C0F;&#x6797; &#x8B19;&#x592A;&#x90CE;
                  |  &#x3055;&#x3093; (
                  a(href='https://lms.waomirai.com/login/logout.php?sesskey=94QFG3ybsJ') &#x30ED;&#x30B0;&#x30A2;&#x30A6;&#x30C8;
                  | )
              .tool_usertours-resettourcontainer
              br
              p
                a(href='https://lms.waomirai.com/course/view.php?id=112' target='_blank' style='text-decoration: revert-layer;') &#xFF1E;&#x3088;&#x304F;&#x3042;&#x308B;&#x3054;&#x8CEA;&#x554F;&#xFF08;&#x304A;&#x554F;&#x3044;&#x5408;&#x308F;&#x305B;&#xFF09;
              p
                a(href='https://waomirai.com/commerce_law' target='_blank' style='text-decoration: revert-layer;')
                  | &#xFF1E;&#x7279;&#x8A31;&#x5546;&#x53D6;&#x5F15;&#x6CD5;&#x306B;&#x57FA;&#x3065;&#x304F;&#x8868;&#x8A18;
                  i.fa-solid.fa-up-right-from-square
              p
                a(href='https://www.wao-corp.com/privacy/' target='_blank' style='text-decoration: revert-layer;')
                  | &#xFF1E;&#x30D7;&#x30E9;&#x30A4;&#x30D0;&#x30B7;&#x30FC;&#x30DD;&#x30EA;&#x30B7;&#x30FC;
                  i.fa-solid.fa-up-right-from-square
              p
                a(href='https://go.waomirai.com/terms' target='_blank' style='text-decoration: revert-layer;')
                  | &#xFF1E;&#x5229;&#x7528;&#x898F;&#x7D04;
                  i.fa-solid.fa-up-right-from-square
              a(href='https://lms.waomirai.com/?tenant=lmswaomirai')
                img(src='https://go.waomirai.com/l/1026513/2023-11-16/gddzt/1026513/1700192228BDlbz92f/logo_basic_white.png' width='60%')
              script.
                //<![CDATA[
                var require = {
                baseUrl : 'https://lms.waomirai.com/lib/requirejs.php/1732783105/',
                // We only support AMD modules with an explicit define() statement.
                enforceDefine: true,
                skipDataMain: true,
                waitSeconds : 0,
                paths: {
                jquery: 'https://lms.waomirai.com/lib/javascript.php/1732783105/lib/jquery/jquery-3.7.1.min',
                jqueryui: 'https://lms.waomirai.com/lib/javascript.php/1732783105/lib/jquery/ui-1.13.2/jquery-ui.min',
                jqueryprivate: 'https://lms.waomirai.com/lib/javascript.php/1732783105/lib/requirejs/jquery-private'
                },
                // Custom jquery config map.
                map: {
                // '*' means all modules will get 'jqueryprivate'
                // for their 'jquery' dependency.
                '*': { jquery: 'jqueryprivate' },
                // Stub module for 'process'. This is a workaround for a bug in MathJax (see MDL-60458).
                '*': { process: 'core/first' },
                // 'jquery-private' wants the real jQuery module
                // though. If this line was not here, there would
                // be an unresolvable cyclic dependency.
                jqueryprivate: { jquery: 'jquery' }
                }
                };
                //]]>
              script(src='https://lms.waomirai.com/lib/javascript.php/1732783105/lib/requirejs/require.min.js')
              script.
                //<![CDATA[
                M.util.js_pending("core/first");
                require(['core/first'], function() {
                require(['core/prefetch'])
                ;
                M.util.js_pending('filter_mathjaxloader/loader'); require(['filter_mathjaxloader/loader'], function(amd) {amd.configure({"mathjaxconfig":"\\nMathJax.Hub.Config({\n    config: [\"Accessible.js\", \"Safe.js\"],\n    errorSettings: { message: [\"!\"] },\n    skipStartupTypeset: true,\n    messageStyle: \"none\"\n});\n","lang":"ja"}); M.util.js_complete('filter_mathjaxloader/loader');});;
                require(["media_videojs/loader"], function(loader) {
                loader.setUp('ja');
                });;
                require(['core_payment/gateways_modal'], function(modal) {
                modal.init();
                });
                ;
                M.util.js_pending('theme_kenai/gototop'); require(['theme_kenai/gototop'], function(amd) {amd.init(); M.util.js_complete('theme_kenai/gototop');});;
                require(['core/moremenu'], function(moremenu) {
                moremenu(document.querySelector('#moremenu-674d0c3c49280-navbar-nav'));
                });
                ;
                require(['jquery', 'message_popup/notification_popover_controller'], function($, Controller) {
                var container = $('#nav-notification-popover-container');
                var controller = new Controller(container);
                controller.registerEventListeners();
                controller.registerListNavigationEventListeners();
                });
                ;
                require(['core/usermenu'], function(UserMenu) {
                UserMenu.init();
                });
                ;
                require(['theme_boost/drawers']);
                ;
                require(['theme_boost/footer-popover'], function(FooterPopover) {
                FooterPopover.init();
                });
                ;
                M.util.js_pending('theme_boost/loader');
                require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
                Drawer.init();
                M.util.js_complete('theme_boost/loader');
                });
                ;
                require(['tool_catalogue/coursecover'], function(courseCover) {
                courseCover.init('138', '581');
                });
                ;
                M.util.js_pending('theme_kenai/forcedfooter'); require(['theme_kenai/forcedfooter'], function(amd) {amd.init("<div id=\\"forced-footer\">\n    \u00a9\ufe0fWAO CORPORATION\n<\/div>"); M.util.js_complete('theme_kenai/forcedfooter');});;
                M.util.js_pending('core/notification'); require(['core/notification'], function(amd) {amd.init(1603, []); M.util.js_complete('core/notification');});;
                M.util.js_pending('core/log'); require(['core/log'], function(amd) {amd.setConfig({"level":"warn"}); M.util.js_complete('core/log');});;
                M.util.js_pending('core/page_global'); require(['core/page_global'], function(amd) {amd.init(); M.util.js_complete('core/page_global');});;
                M.util.js_pending('core/utility'); require(['core/utility'], function(amd) {M.util.js_complete('core/utility');});
                M.util.js_complete("core/first");
                });
                //]]>
              script(src='https://cdn.jsdelivr.net/npm/mathjax@2.7.9/MathJax.js?delayStartupUntil=configured')
              script.
                //<![CDATA[
                M.str = {"moodle":{"lastmodified":"\\u6700\u7d42\u66f4\u65b0\u65e5\u6642","name":"\u540d\u79f0","error":"\u30a8\u30e9\u30fc","info":"\u60c5\u5831","yes":"Yes","no":"No","cancel":"\u30ad\u30e3\u30f3\u30bb\u30eb","confirm":"\u78ba\u8a8d","areyousure":"\u672c\u5f53\u306b\u3088\u308d\u3057\u3044\u3067\u3059\u304b?","closebuttontitle":"\u9589\u3058\u308b","unknownerror":"\u4e0d\u660e\u306a\u30a8\u30e9\u30fc","file":"\u30d5\u30a1\u30a4\u30eb","url":"URL","collapseall":"\u3059\u3079\u3066\u3092\u6298\u308a\u305f\u305f\u3080","expandall":"\u3059\u3079\u3066\u3092\u5c55\u958b\u3059\u308b"},"repository":{"type":"\u30bf\u30a4\u30d7","size":"\u30b5\u30a4\u30ba","invalidjson":"\u7121\u52b9\u306aJSON\u30b9\u30c8\u30ea\u30f3\u30b0\u3067\u3059\u3002","nofilesattached":"\u6dfb\u4ed8\u3055\u308c\u3066\u3044\u308b\u30d5\u30a1\u30a4\u30eb\u306f\u3042\u308a\u307e\u305b\u3093\u3002","filepicker":"\u30d5\u30a1\u30a4\u30eb\u30d4\u30c3\u30ab","logout":"\u30ed\u30b0\u30a2\u30a6\u30c8","nofilesavailable":"\u5229\u7528\u3067\u304d\u308b\u30d5\u30a1\u30a4\u30eb\u306f\u3042\u308a\u307e\u305b\u3093\u3002","norepositoriesavailable":"\u7533\u3057\u8a33\u3054\u3056\u3044\u307e\u305b\u3093\u3001\u73fe\u5728\u306e\u3042\u306a\u305f\u306e\u30ea\u30dd\u30b8\u30c8\u30ea\u3067\u306f\u6240\u8981\u306e\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u306e\u30d5\u30a1\u30a4\u30eb\u3092\u8fd4\u3059\u3053\u3068\u304c\u3067\u304d\u307e\u305b\u3093\u3002","fileexistsdialogheader":"\u30d5\u30a1\u30a4\u30eb\u767b\u9332\u6e08\u307f","fileexistsdialog_editor":"\u305d\u306e\u30d5\u30a1\u30a4\u30eb\u540d\u306e\u30d5\u30a1\u30a4\u30eb\u306f\u3042\u306a\u305f\u304c\u7de8\u96c6\u3057\u3066\u3044\u308b\u30c6\u30ad\u30b9\u30c8\u306b\u3059\u3067\u306b\u6dfb\u4ed8\u3055\u308c\u3066\u3044\u307e\u3059\u3002","fileexistsdialog_filemanager":"\u540c\u4e00\u30d5\u30a1\u30a4\u30eb\u540d\u306e\u30d5\u30a1\u30a4\u30eb\u304c\u3059\u3067\u306b\u6dfb\u4ed8\u3055\u308c\u3066\u3044\u307e\u3059\u3002","renameto":"\u30ea\u30cd\u30fc\u30e0 -> {$a}","referencesexist":"\u3053\u306e\u30d5\u30a1\u30a4\u30eb\u306b\u306f {$a} \u4ef6\u306e\u30ea\u30f3\u30af\u304c\u3042\u308a\u307e\u3059\u3002","select":"\u9078\u629e"},"admin":{"confirmdeletecomments":"\u672c\u5f53\u306b\u9078\u629e\u3057\u305f\u30b3\u30e1\u30f3\u30c8\u3092\u524a\u9664\u3057\u3066\u3082\u3088\u308d\u3057\u3044\u3067\u3059\u304b?","confirmation":"\u78ba\u8a8d"},"debug":{"debuginfo":"\u30c7\u30d0\u30c3\u30b0\u60c5\u5831","line":"\u884c","stacktrace":"\u30b9\u30bf\u30c3\u30af\u30c8\u30ec\u30fc\u30b9"},"langconfig":{"labelsep":":"}};
                //]]>
              script.
                //<![CDATA[
                (function() {M.util.help_popups.setup(Y);
                M.util.js_pending('random674d0c3c3d28d4'); Y.on('domready', function() { M.util.js_complete("init");  M.util.js_complete('random674d0c3c3d28d4'); });
                })();
                //]]>
            .footer-section.p-3
              span Powered by
              a(href='https://moodle.com/workplace/' target='_blank')
                | Moodle Workplace
          .footer-content-debugging.footer-dark.bg-dark.text-light
            .container-fluid.footer-dark-inner
