.lesson-detail-img
 img(src='https://go.waomirai.com/l/1026513/2024-12-01/h8tvq/1026513/1733103570U22ehaPo/lesson_detail.png', style='width:100%;')
.enrol_buy_as_a_set
        .enrol_buy_as_a_set-title  
            |セット受講割引でお得！
            br
            |最大4,400円 割引
        .enrol_buy_as_a_set_img 
            .enrol_buy_as_a_set_img_child 
                |哲学
            .enrol_buy_as_a_set_img_plus
                |＋
            .enrol_buy_as_a_set_img_child 
                |他科目
        .enrol_buy_as_a_set_detail  
            a(href="#")
                |詳細を見る