.lms-index-fv 
    .lms-index-main 
      .lms-index-main-left 
        img(src='	https://go.waomirai.com/l/1026513/2024-12-02/h8wgx/1026513/1733186880WsdmfkRf/text.svg')
      .lms-index-main-right
        img(src='https://go.waomirai.com/l/1026513/2024-12-02/h8wh4/1026513/1733187240kSGJZ9GR/people.png')
    .lms-index-bg
        img(src='https://storage.pardot.com/1026513/1733188460BOTZkmL2/bg.png')
.lms-index-contents 
  .lms-index-contents-block 
    .lms-index-contents-block-title 
      |科目一覧
    .lms-index-contents-block-cards 
        a(href="https://lms.waomirai.com/enrol/index.php?id=232").lms-index-contents-block-cards-course
          .lms-index-contents-block-cards-course-img 
                img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbj/1026513/1723092444vFKe6VRn/subject_01.jpg')
          .lms-index-contents-block-cards-course-detail
            .lms-index-contents-block-cards-course-detail-wrap.block-philosophy
             .lms-index-contents-block-cards-course-detail-title 
                |哲学（思考力）
             .lms-index-contents-block-cards-course-detail-text 
                |自分で考える力を鍛える
        a(href="https://lms.waomirai.com/enrol/index.php?id=211").lms-index-contents-block-cards-course
          .lms-index-contents-block-cards-course-img 
                img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbx/1026513/1723092445qaV639ZU/subject_02.jpg')
          .lms-index-contents-block-cards-course-detail 
            .lms-index-contents-block-cards-course-detail-wrap.block-science
             .lms-index-contents-block-cards-course-detail-title 
                |科学リテラシー
             .lms-index-contents-block-cards-course-detail-text 
                |知らない世界にも視野を広げ、知的好奇心を育む
        a(href="https://lms.waomirai.com/course/view.php?id=233").lms-index-contents-block-cards-course
          .lms-index-contents-block-cards-course-img 
                img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbt/1026513/1723092445zMMVlFVz/subject_03.jpg')
          .lms-index-contents-block-cards-course-detail
            .lms-index-contents-block-cards-course-detail-wrap.block-economiy
             .lms-index-contents-block-cards-course-detail-title 
                |経済（お金）
             .lms-index-contents-block-cards-course-detail-text 
                |お金の基礎知識と考え方・付き合い方を身につける経済
        a(href="https://lms.waomirai.com/course/view.php?id=211").lms-index-contents-block-cards-course
          .lms-index-contents-block-cards-course-img 
                img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbq/1026513/1723092445NpS1HkfH/subject_04.jpg')
          .lms-index-contents-block-cards-course-detail
            .lms-index-contents-block-cards-course-detail-wrap.block-english
             .lms-index-contents-block-cards-course-detail-title 
                |グローバル英語
             .lms-index-contents-block-cards-course-detail-text 
                |シンプルで実用的な英語を使いこなす
        a(href="https://lms.waomirai.com/course/view.php?id=211").lms-index-contents-block-cards-course
          .lms-index-contents-block-cards-course-img 
                img(src='https://go.waomirai.com/l/1026513/2024-08-08/gzqbm/1026513/1723092444UDZaTUyz/subject_05.jpg')
          .lms-index-contents-block-cards-course-detail
            .lms-index-contents-block-cards-course-detail-wrap.block-programming
                .lms-index-contents-block-cards-course-detail-title 
                    |クリエイティブ・プログラミング
                .lms-index-contents-block-cards-course-detail-text 
                    |子どもの習いごとで終わらせない