//この中で絶対書く
@each $category, $style-name in $course-styles {
  #{$category} {
    // .hidden {
    //   display: none;
    // }
    //今月の授業
    .enrol-section-basesubject-thismonth-lesson-grid {
      display: grid;
      grid-template-columns: 0.6fr repeat(3, 1fr);
      grid-column-gap: 20px;
      margin: 0 0 20px;
      &-level {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: map-get(
          $common-course-styles,
          $style-name,
          pale-color
        ) !important;
        &-main {
          &::after {
            content: "";
            display: block;
            margin: 20px auto;
            width: 30px;
            height: 1px;
            background: $cl-black;
          }
        }
      }
      .enrol-section-basesubject-thismonth-lesson-grid-lesson {
        @include lms-boxshadow;
      }
    }
    //年間の授業カリキュラム
    .enrol-section-basesubject-year-lesson {
      .enrol-section-basesubject-year-lesson-tab {
        display: flex;
        gap: 20px;
        border-bottom: 2px
          solid
          map-get($common-course-styles, $style-name, main-color) !important;
        .active {
          background: map-get(
            $common-course-styles,
            $style-name,
            main-color
          ) !important;
          color: $cl-white;
        }
      }
    }
    //年間の授業カリキュラムのコンテンツ
    .enrol-section-basesubject-year-lesson-content-child {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      margin: 0 0 20px;
      padding: 15px;
      &-curriculum {
        display: flex;
        &-month {
          width: 50px;
          background: map-get(
            $common-course-styles,
            $style-name,
            pale-color
          ) !important;
        }
        &-detail {
          flex: 1;
        }
      }
    }
    //時間割
    .enrol-section-basesubject-timetable-head {
      display: grid;
      grid-template-columns: 0.6fr repeat(7, 1fr);
      grid-gap: 5px;
      margin: 0 0 20px;
    }
    .enrol-section-basesubject-timetable-content {
      display: grid;
      grid-template-columns: 0.6fr repeat(7, 1fr);
      grid-gap: 5px;
      margin: 0 0 20px;
      .active {
        background: map-get(
          $common-course-styles,
          $style-name,
          pale-color
        ) !important;
        border-left: 2px
          solid
          map-get($common-course-styles, $style-name, main-color) !important;
      }
    }
  }
}

// h5 {
//   color: map-get(
//     $common-course-styles,
//     $style-name,
//     main-color
//   ) !important;
// }
