body {
}

#page-mod-questionnaire-complete {
  .mod_questionnaire_flex-container {
    gap: 20px;
  }
}

#page-mod-questionnaire-view {
  .course-lesson-date {
    display: block !important;
  }

  .course-lesson {
    display: block !important;
  }
  .activity-description .no-overflow {
    display: block !important;
  }
}

li[data-key="courseinfo"] {
  display: none !important;
}

#page-mod-questionnaire-view,
#page-mod-questionnaire-complete,
#page-mod-questionnaire-myreport,
#page-mod-questionnaire-report {
  img {
    width: 100%;
  }
  // SCSSの@eachループを使用して各コースタイプを処理
  // $course-name: コースの識別子（例: "philosophy-l1"）
  // $course-classes: そのコースに関連するクラス名の配列（例: [".course-256", ".course-221"]）

  @each $course-name, $course-classes in $child-courses {
    // 各コースタイプに含まれる複数のクラスをループ処理
    // $course-class: 個々のクラス名（例: ".course-256"）
    @each $course-class in $course-classes {
      // &はSCSSの親セレクタ参照
      // 例: #page-mod-questionnaire-view.course-256 になる
      &#{$course-class} {
        // 特定のコースクラスに対する固有のスタイルをここに定義
        // これにより、各コースごとに異なるスタイルを適用可能
        li[data-key="courseinfo"],
        li[data-key="1"] {
          display: none !important;
        }
      }
    }
  }
  #page.drawers {
    margin-top: 48px !important;
    .main-inner {
      @include responsive-style(768px) {
        padding: 0rem 20px;
        margin-top: 0rem;
      }
    }
  }

  #page-header {
    @include responsive-style(768px) {
      display: none;
    }
  }
  #sp-page-header {
    margin: 16px 0 12px;
    #page-header {
      display: block !important;
    }
  }
  &.path-mod {
    .activity-description {
      padding-top: 0 !important;
      padding-bottom: 8px !important;
    }
    .activity-header:not(:empty) {
      background: none !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    .activity-information .completion-info {
      border-bottom: none !important;
    }
  }

  .navigation {
    max-width: 830px !important;
    margin: 0 auto;
  }
  #page-content {
    max-width: 830px !important;
    margin: 0 auto;
  }

  .activity-description .no-overflow {
    display: none;
    @include responsive-style(768px) {
      margin: 0 -20px;
    }
  }
  #page-navbar {
    //ぱんくず
    @include responsive-style(768px) {
      font-size: $lms-font-size-s !important;
    }
    .breadcrumb {
      @include responsive-style(768px) {
        padding: 0rem 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }
  //動画視聴の部分
  .no-overflow .course-lesson-date {
    @include responsive-style(768px) {
      display: none;
    }
  }
  .course-lesson-date {
    display: none;
    font-size: $lms-font-size-m;
    color: $cl-gray;
    margin: 0 0 16px;
  }
  .c-pc-hidden {
    .course-lesson-date {
      margin: 0 0 0px;
    }
  }

  .course-lesson {
    display: none;
    position: relative;
    border-radius: $border-radius-middle;
    overflow: hidden;
    @include responsive-style(768px) {
      border-radius: 0;
    }
    img {
      width: 100%;
      border-radius: 0;
    }
    .course-lesson-wrap {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 1;
      width: 100%;
      height: 100%;
      color: $cl-white;

      .course-lesson-wrap-title {
        color: $cl-white;
        font-weight: 600;
        margin: 0 auto 16px;
        font-size: $lms-font-size-l;
        text-align: center !important;
        @include responsive-style(768px) {
          font-size: $lms-font-size-ml;
        }
      }
      .course-lesson-wrap-subtitle {
        color: $cl-graylightest;
        font-weight: 500;
        margin: 0 auto 0px;
        font-size: $lms-font-size-m;
        @include responsive-style(768px) {
          font-size: $lms-font-size-s;
        }
      }
      button {
        @include button-size-big;
        background: $cl-main-orange !important;
        color: $cl-white !important;
        /* button style reset */
        appearance: none;
        box-shadow: none !important;
        outline: none;
        padding: 0;
        border: none;
        width: 360px;
        margin: 0 auto 16px;
        @include responsive-style(768px) {
          width: 220px;
          @include button-size-middle;
        }
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      z-index: 99;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.58);
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    img {
      border-radius: $border-radius-middle;
    }
  }
  //課題提出の部分
  div[role="main"] {
    width: 100%;
    // background: $cl-graylightest !important;
    padding: 20px 10px 20px;
    border: 4px solid $cl-graylightest !important;
    border-radius: $border-radius-middle;
    margin: 20px 0 0;
    @include responsive-style(768px) {
      padding: 20px 0px 20px;
      margin: 20px 0 0;
    }
    .mod_questionnaire_viewpage {
      h2 {
        font-size: $lms-font-size-l !important;
        padding: 0 0 20px 0 !important;
        margin: 0 0 0 !important;
        &:after {
          content: "課題の提出";
          line-height: 1;
          padding: 0 0 10px 40px !important;
        }
        position: relative;
        &:before {
          // left: 0px !important;
          top: -17px !important;
          @include lms-left-waogreen;
        }
      }
      p {
        padding: 0 16px;
        @include text-m-black;
      }
      .mod_questionnaire_flex-container {
        padding: 30px 20px 20px;
        width: 100%;
        justify-content: flex-start;

        .allresponses {
          margin: 0 !important;
        }
        @include responsive-style(768px) {
          flex-direction: column;
          gap: 20px;
        }
        > div {
          width: 240px;
          flex-grow: none !important;
          @include responsive-style(768px) {
            width: 100%;
          }
          .btn-primary {
            color: $cl-main-orange !important;
            border: 1px solid $cl-main-orange;
            background: white !important;
            @include button-size-middle;
            width: 240px;
            @include responsive-style(768px) {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .surveyTitle {
    padding: 2px 12px 15px !important;
  }
  .qn-container {
    margin: 0 0 30px;
    .qn-content {
      margin-left: 55px !important;
      margin-right: 20px !important;
      textarea {
        width: 100%;
      }
    }
    .qn-info {
      width: 30px;
      height: 30px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $lms-font-size-s !important;
      color: $cl-gray !important;
      margin: 5px 0 0;
      // color: $cl-graylight !important;
      // border: 2px $cl-graylight solid !important;
      // background: none !important;
    }
    .qn-legend {
      // float: none;
      margin: 0 0 0 13px;
    }
    .qn-question {
      background: white;
      padding: 0 !important;
    }
    .req {
      // display: none;
    }
  }
  .mod_questionnaire_controlbuttons {
    text-align: left !important;
  }
  .control-button-submit,
  .btn-secondary {
    float: none !important;
    margin: 0 0 30px 55px;
    background: $cl-waogreen;
    border: none !important;
    padding: 8px 20px;
    color: white !important;
  }
}
