$subject-sidebar-width: 250px; // サイドバーの幅
$subject-body-padding: 40px; // サイドバーとの距離
$subject-default-max-width: 1120px; // 最大幅

#page-enrol-index {
  .enrol_fee_payment_region {
    right: calc((100vw - 1120px) / 2);
    @include responsive-style($default-max-width) {
      right: 15px !important;
    }
  }
  #page.drawers {
    padding: 0 !important;
  }
  #page.drawers .main-inner {
    padding: 0 !important;
    margin-left: calc((100vw - 1120px) / 2);
    background: transparent;
    @include responsive-style($default-max-width) {
      margin-left: 15px;
      max-width: calc(
        100vw - #{$subject-sidebar-width + $subject-body-padding + 15px}
      ) !important;
    }
    @include responsive-style(768px) {
      margin-left: 0 !important;
      max-width: 100% !important;
      padding: 0 15px !important;
    }
  }
}

#page-enrol-index,
#page-admin-tool-catalogue-courseinfo {
  #page-navbar {
    display: none;
  }
  #page.drawers {
    // &:before {
    //     width: 100%;
    //     height: 250px;
    //     position: absolute;
    //     z-index: -1;
    //     top: 0;
    //     // background: #FFE9B8;
    //     background: $cl-graylightest;
    //     content: "";
    // }
  }

  .fixed-subject-price {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 99;
    color: #000;
    font-size: $lms-font-size-ml;
  }

  .generalbox {
    background: white !important;
    border: none !important;
  }

  #page.drawers div[role="main"] {
    padding: 0 !important;
  }

  .header-maxwidth {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  a[aria-controls="covercollapsec-dates"] {
    display: none;
    + h3 {
      display: none !important;
    }
  }

  .lesson-detail-img {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .enrol_buy_as_a_set {
    position: fixed;
    top: calc(5rem + 330px);
    right: calc((100% - $subject-default-max-width) / 2);
    max-width: 250px !important;
    width: 100%;
    padding: 20px 20px;
    background: white;
    @include lms-boxshadow;
    border-radius: $border-radius-middle;
    z-index: 3;
    @include responsive-style($default-max-width) {
      max-width: 250px !important;
    }

    .enrol_buy_as_a_set_img {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 15px auto 15px;

      .enrol_buy_as_a_set_img_child {
        width: 80px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius-middle;
        background: $cl-graylightest;
        font-size: $lms-font-size-s;
      }
    }

    .enrol_buy_as_a_set_detail {
      border-top: 1px solid $cl-graylight;
      padding: 15px 0 0;
      font-size: $lms-font-size-s !important;
      a {
        color: $cl-waogreen !important;
      }
    }
  }

  .enrol_fee_payment_region {
    max-width: 250px !important;
    background: #fff !important;
    border-radius: $border-radius-middle;
    padding: 0px 20px 5px;
    text-align: left !important;
    line-height: 1.65 !important;
    font-weight: normal !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1) !important;
    z-index: 99;
    font-size: $lms-font-size-m;
    width: 100%;
    &:after {
      //スマホ版の購入の下地
      @include responsive-style(768px) {
        width: 100%;
        background: white;
        width: 100%;
        content: "";
        height: 66px;
        position: fixed;
        z-index: 9;
        bottom: 0;
        left: 0;
      }
    }
    @include responsive-style($default-max-width) {
      max-width: 235px !important;
      right: 15px;
      margin: 2em auto !important;
      p {
        display: block !important;
      }
    }
    @include responsive-style(768px) {
      position: relative;
      width: 100%;
      max-width: 100% !important;
      right: 0 !important;
      margin: 0 auto 60px !important;
    }
    &::before {
      content: "プラン登録" !important;
      position: relative;
      display: inline-table;
      font-size: $lms-font-size-l;
      margin: 0 0 20px !important;
    }
    b {
      display: none;
    }
    p:nth-child(2) {
      margin: 0 auto 15px !important;
    }
    .btn.btn-secondary {
      width: 100%;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $lms-font-size-m !important;
      background: $cl-waogreen !important;
      border-radius: $border-radius-small;
      color: white;
      line-height: $lineheight-none;
      z-index: 999;
      @include responsive-style(768px) {
        width: 62%;
        right: 0px;
        bottom: 10px;
        left: auto;
      }
    }
    .page-enrol-set-discount {
      margin: 20px 0 0px;
      padding: 20px 0 0;
      border-top: 1px dashed $cl-graylight;
      line-height: 1.5 !important;
      a {
        margin: 7px 0 0 !important;
        color: $cl-waogreen;
        text-decoration: underline !important;
        display: block;
      }
    }
  }

  /* 共通パーツ */

  .enrol-section {
    width: 100%;
    margin: 0 0 75px;

    h2.enrol-title {
      @include text-xl-black;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 20px;
      display: block !important;
    }

    .enrol-discount {
      font-size: $lms-font-size-m;
      margin-top: 4px;
    }

    .enrol-section-img {
      @include responsive-style(768px) {
        display: none;
      }
    }

    .enrol-section-howto {
      display: grid;
      grid-template-columns: 140px 1fr;
      grid-column-gap: 20px;
      // Stepの枠開け
      grid-row-gap: 30px;
      @include responsive-style(768px) {
        grid-template-columns: 110px 1fr;
      }
    }

    .enrol-step-lbl {
      color: $cl-waogreen;
      font-size: $lms-font-size-l;
      @include responsive-style(768px) {
        font-size: $lms-font-size-ml;
      }
    }

    .enrol-step-heading {
      color: $cl-black;
      font-size: $lms-font-size-xl;
      font-weight: bold;

      @include responsive-style(768px) {
        font-size: $lms-font-size-l;
      }
    }

    .enrol-step-desc {
      color: $cl-black;
      font-size: $lms-font-size-ml;
      @include responsive-style(768px) {
        font-size: $lms-font-size-m;
      }
    }
  }
}
