@each $category, $style-name in $course-styles {
  #{$category} {
    // ========================================
    // 今月の授業のレイアウト設定
    // ========================================
    .enrol-section-basesubject-thismonth-lesson {
      .enrol-section-basesubject-thismonth-lesson-grid {
        display: grid; // グリッドレイアウトで配置
        grid-template-columns: repeat(3, 1fr); // 左に0.6fr、右に3列均等配置
        grid-column-gap: 30px; // 各列の間隔
        margin: 0 0 25px; // 下に余白
        border-radius: $border-radius-middle;
        @include responsive-style(768px) {
          display: block;
          width: calc(100% + 40px);
          overflow-x: scroll;
          white-space: nowrap;
        }
        // レベル情報のデザイン
        &-level {
          border-radius: $border-radius-middle;

          .title {
            font-size: $lms-font-size-l;
            margin: 0 4px 0 0;
          }
          // レベルメイン部分のデザイン

          .large {
            font-size: $lms-font-size-xxl;
            margin: 0 4px 0 0;
            @include responsive-style(768px) {
              font-size: $lms-font-size-xxl;
            }
          }

          span {
            font-size: $lms-font-size-l;
            @include responsive-style(768px) {
              font-size: $lms-font-size-xl;
            }
          }
        }

        // 各授業カード
        &-lesson {
          position: relative;
          border-radius: $border-radius-middle;
          background: $cl-white;
          @include responsive-style(768px) {
            width: 70%;
            display: inline-block;
            margin: 0 30px 0 0;
          }
          // レッスンバナーデザイン
          .enrol-section-basesubject-thismonth-lesson-grid-lesson-banner {
            position: relative;

            img {
              // border-radius: 10px;
              // width: calc(100% - 30px);
              margin: 0px 0px 8px;
              border-radius: $border-radius-middle;
            }
          }

          // 週表示（レッスンウィーク）
          .enrol-section-basesubject-thismonth-lesson-grid-lesson-week {
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 20px;
            background: map-get(
              $common-course-styles,
              $style-name,
              main-color
            ) !important;
            color: $cl-white;
            font-weight: bold;
            padding: 3px 13px;
            border-radius: 10px;
            font-size: $lms-font-size-m;
          }

          // レッスンテキスト部分
          .enrol-section-basesubject-thismonth-lesson-grid-lesson-text {
            padding: 0px 0px;
            font-size: $lms-font-size-m;
            height: 40px;
            white-space: normal;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
        }
      }
    }

    // ========================================
    // 年間の授業カリキュラム
    // ========================================
    .enrol-section-basesubject-year-lesson {
      @include responsive-style(768px) {
        margin: 0 -20px;
      }
      .enrol-section-basesubject-year-lesson-tab {
        display: flex; // タブを横並びに配置

        padding: 0 20px;
        border-bottom: 4px
          solid
          map-get($common-course-styles, $style-name, main-color) !important;
        gap: 20px;
        @include responsive-style(768px) {
          gap: 12px;
        }
        .enrol-section-basesubject-year-lesson-tab-child {
          border-radius: 10px 10px 0 0;
          border: 1px solid $cl-graylight;
          border-bottom: none;
          background: $cl-graylightest;
          padding: 12px 30px;
          cursor: pointer;
          font-size: $lms-font-size-m;
          text-align: center;
          @include responsive-style(768px) {
            padding: 5px 12px;
            font-size: $lms-font-size-s;
          }
          &.active {
            text-align: center;
            background: map-get(
              $common-course-styles,
              $style-name,
              main-color
            ) !important;
            background: $cl-white;
            color: $cl-white;
            border: none;
            border-bottom: none;
            font-weight: bold;
          }
        }
      }
    }

    .enrol-section-basesubject-year-lesson-content {
      border-radius: 0px;

      @include responsive-style(768px) {
        padding: 12px 16px 3px;
        background: $cl-graylightest;
      }
      .enrol-section-basesubject-year-lesson-content-child {
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // grid-gap: 20px;
        margin: 0 0 20px;
        padding: 12px;
        display: none;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: column;
        grid-template-rows: repeat(6, auto);
        gap: 12px 12px;
        background: $cl-graylightest;
        border-radius: 0 0 $border-radius-middle $border-radius-middle;
        @include responsive-style(768px) {
          border-radius: $border-radius-middle;
          background: $cl-white;
          padding: 0 10px 0;
          grid-template-columns: 1fr;
          grid-auto-flow: column;
          grid-template-rows: repeat(12, auto);
          gap: 0px 12px;
        }
        // カリキュラム項目
        .enrol-section-basesubject-year-lesson-content-child-curriculum {
          display: flex;
          // border: 2px
          //   solid
          //   map-get($common-course-styles, $style-name, pale-color) !important;
          border-radius: $border-radius-middle;
          align-items: flex-start;
          background: $cl-white;
          border: 2px
            solid
            map-get($common-course-styles, $style-name, pale-color) !important;
          @include responsive-style(768px) {
            align-items: center;
            // border: none !important;
            padding: 10px 0;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            border-bottom: 2px dotted $cl-graylightest !important;
            border-radius: $border-radius-middle;
          }
          // 月表示部分
          .enrol-section-basesubject-year-lesson-content-child-curriculum-month {
            border-radius: 4px 0 $border-radius-middle 0;
            text-align: center;
            padding: 8px 0 0;
            width: 45px;
            height: 45px;

            background: map-get(
              $common-course-styles,
              $style-name,
              pale-color
            ) !important;
            font-size: $lms-font-size-s;
            @include responsive-style(768px) {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0;
              height: 35px;
              width: 45px;
              border-radius: $border-radius-middle;
              font-size: $lms-font-size-m;
            }
            span.month {
              font-size: $lms-font-size-l;
              margin: 0 2px 0 0;
              @include responsive-style(768px) {
                font-size: $lms-font-size-l;
                margin: -4px 2px 0 0;
                letter-spacing: -0.3px;
              }
            }
          }

          // カリキュラム詳細部分
          .enrol-section-basesubject-year-lesson-content-child-curriculum-detail {
            flex: 1;
            padding: 12px 16px 8px;
            @include responsive-style(768px) {
              padding: 0px 0 0 10px;
            }
            // 詳細タイトル
            .enrol-section-basesubject-year-lesson-content-child-curriculum-detail-title {
              font-weight: bold;
              font-size: $lms-font-size-m;
              border-bottom: 2px dotted $cl-graylightest;
              padding: 0 0 8px;
              @include responsive-style(768px) {
                border-bottom: 0;
                padding: 0;
                font-weight: normal;
              }
            }

            // 詳細サブコンテンツ
            .enrol-section-basesubject-year-lesson-content-child-curriculum-detail-subcontent {
              font-size: $lms-font-size-s;
              border-bottom: 2px dotted $cl-graylightest;
              padding: 6px 0 6px;

              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
      .enrol-section-basesubject-year-lesson-content-button {
        display: flex;
        justify-content: center;
        a {
          padding: 10px 20px;
          border-radius: 5px;
          background: $cl-white;
          color: $cl-waogreen;
          font-size: $lms-font-size-m;
          border: 1px solid $cl-waogreen;
          // font-weight: bold;
          cursor: pointer;
          margin: 10px auto 20px;
        }
      }
    }

    //時間割
    .enrol-section-basesubject-timetable {
      // 見出し行（曜日ヘッダー）
      background: $cl-graylightest;
      padding: 20px 20px 16px 8px;
      border-radius: $border-radius-middle;
      @include responsive-style(768px) {
        padding: 10px 10px 8px 4px;
      }
      &-head {
        border-radius: 10px;
        display: grid;

        grid-gap: 5px;
        margin: 0 0 5px;
        text-align: center;
        grid-template-columns: 0.6fr repeat(7, 1fr);
        @include responsive-style(768px) {
          grid-template-columns: 0.6fr repeat(5, 1fr);
        }
        &-child {
          border-radius: $border-radius-small;
          padding: 0px 0 8px;
          @include responsive-style(768px) {
            padding: 0px 0 4px;
          }
          //１個目のセル
          &:first-child {
            font-size: $lms-font-size-s;
          }
          //２個目のセル（日〜土）
          &:nth-child(n + 2) {
            font-size: $lms-font-size-m; /* 1番目を除く2番目以降に適用 */
            font-weight: bold;
            @include responsive-style(768px) {
              font-size: $lms-font-size-s; /* 1番目を除く2番目以降に適用 */
              font-weight: normal;
            }
          }
        }
      }

      // コンテンツ行（時間×曜日）
      &-content {
        display: grid;
        grid-gap: 5px;
        margin: 0 0 5px;
        border-radius: $border-radius-small;
        grid-template-columns: 0.6fr repeat(7, 1fr);
        //スマホは土曜日と日曜日を非表示
        @include responsive-style(768px) {
          grid-template-columns: 0.6fr repeat(5, 1fr);
          grid-gap: 5px;
        }
        &-child {
          &:first-child {
            font-size: $lms-font-size-m;
            @include responsive-style(768px) {
              font-size: 10px;
            }
          }
          &:nth-child(n + 2) {
            background: $cl-white;
          }
          padding: 8px;
          text-align: center;
          border-radius: $border-radius-small;
          height: 90px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          @include responsive-style(768px) {
            padding: 0px;
            height: 70px;
            font-size: $lms-font-size-s;
          }
          // display: flex;
          // 開始時刻
          // アクティブなセルの上書きスタイル
          &.active {
            background: map-get(
              $common-course-styles,
              $style-name,
              pale-color
            ) !important;
            border-left: 2px
              solid
              map-get(
                $common-course-styles,
                $style-name,
                main-color
              ) !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #e0e0e0;
          }
          &-start {
            display: block;
            &::after {
              content: "";
              display: block;
              width: 4px;
              height: 1px;
              background: $cl-black;
              margin: 4px auto;
            }
          }
          // 終了時刻
          &-end {
            display: block;
          }
          // レベル
          &-level {
            // font-size: 0.9rem;
          }
          &-grade {
            font-size: $lms-font-size-s;
          }
          // 科目がある場合の強調
          span.none {
            font-size: $lms-font-size-xxl;
            font-weight: 300;
          }
        }
      }
    }
  }
}
