@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900");
/* A Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* 全体の幅 */
/* フォント */
/* border-radius */
/* line-height */
/* parts */
/* parts */
/* boxshadow */
/* other */
/*****************
/* ボタンスタイルの定義
/* 基本的にはsizeとstyleセットで使う
******************/
@media screen and (max-width: 3000px) and (min-width: 769px) {
  .c-pc-hidden {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .c-sp-hidden {
    display: none !important;
  }
}
body#lmswaomirai-contact {
  padding: 60px 0 90px;
  font-family: "Noto Sans JP", sans-serif;
  color: #262626;
}

main {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}
main h2 {
  margin: 0 auto 20px;
}
main .main-p {
  margin: 0 auto 45px;
  line-height: 2;
  font-size: 20px;
  color: #262626;
  line-height: 1.5;
}
main .main-p a {
  color: #005c3f !important;
}
main .contact-columns {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  main .contact-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
main .contact-columns .contact-columns-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid #efefef;
  border-radius: 8px;
  padding: 30px 25px 40px;
}
@media screen and (max-width: 768px) {
  main .contact-columns .contact-columns-box {
    width: 90%;
  }
}
main .contact-columns .contact-columns-box .contact-columns-title {
  margin: 0 auto 20px;
  font-size: 20px;
  color: #262626;
  line-height: 1.5;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #005c3f !important;
  letter-spacing: 1px;
  font-weight: 500;
}
main .contact-columns .contact-columns-box a {
  height: 44px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px !important;
  border-radius: 4px;
  background: #005c3f !important;
  color: #ffffff !important;
  border: none !important;
  text-decoration: none;
}
main .contact-columns .contact-columns-box a:hover {
  opacity: 0.7;
}