@charset "UTF-8";
html[data-tenantidnumber=stg] {
  @import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900");
  /* 全体の幅 */
  /* フォント */
  /* border-radius */
}
html[data-tenantidnumber=stg] .context-2497, html[data-tenantidnumber=stg] .context-33, html[data-tenantidnumber=stg] .context-18 {
  background: #f0f2f3 !important;
}
html[data-tenantidnumber=stg] .context-2497 #page.drawers .main-inner, html[data-tenantidnumber=stg] .context-33 #page.drawers .main-inner, html[data-tenantidnumber=stg] .context-18 #page.drawers .main-inner {
  background: transparent;
}
html[data-tenantidnumber=stg] .context-2497 h4, html[data-tenantidnumber=stg] .context-33 h4, html[data-tenantidnumber=stg] .context-18 h4 {
  margin-bottom: 0 !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  margin-bottom: none !important;
  float: none !important;
}
html[data-tenantidnumber=stg] .context-2497 div.mb-3, html[data-tenantidnumber=stg] .context-33 div.mb-3, html[data-tenantidnumber=stg] .context-18 div.mb-3 {
  margin-bottom: 32px !important;
}
html[data-tenantidnumber=stg] .context-2497 .card.block, html[data-tenantidnumber=stg] .context-33 .card.block, html[data-tenantidnumber=stg] .context-18 .card.block {
  border: none;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .header, html[data-tenantidnumber=stg] .context-33 .maincalendar .header, html[data-tenantidnumber=stg] .context-18 .maincalendar .header {
  margin: 0px 0 20px !important;
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls, html[data-tenantidnumber=stg] .context-33 .calendar-controls, html[data-tenantidnumber=stg] .context-18 .calendar-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0 20px !important;
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .previous, html[data-tenantidnumber=stg] .context-33 .calendar-controls .previous, html[data-tenantidnumber=stg] .context-18 .calendar-controls .previous {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .next,
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .previous, html[data-tenantidnumber=stg] .context-33 .calendar-controls .next,
html[data-tenantidnumber=stg] .context-33 .calendar-controls .previous, html[data-tenantidnumber=stg] .context-18 .calendar-controls .next,
html[data-tenantidnumber=stg] .context-18 .calendar-controls .previous {
  position: relative;
  color: white;
  line-height: 0 !important;
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .next span,
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .previous span, html[data-tenantidnumber=stg] .context-33 .calendar-controls .next span,
html[data-tenantidnumber=stg] .context-33 .calendar-controls .previous span, html[data-tenantidnumber=stg] .context-18 .calendar-controls .next span,
html[data-tenantidnumber=stg] .context-18 .calendar-controls .previous span {
  line-height: 0 !important;
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .next:active, html[data-tenantidnumber=stg] .context-2497 .calendar-controls .next:focus,
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .previous:active,
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .previous:focus, html[data-tenantidnumber=stg] .context-33 .calendar-controls .next:active, html[data-tenantidnumber=stg] .context-33 .calendar-controls .next:focus,
html[data-tenantidnumber=stg] .context-33 .calendar-controls .previous:active,
html[data-tenantidnumber=stg] .context-33 .calendar-controls .previous:focus, html[data-tenantidnumber=stg] .context-18 .calendar-controls .next:active, html[data-tenantidnumber=stg] .context-18 .calendar-controls .next:focus,
html[data-tenantidnumber=stg] .context-18 .calendar-controls .previous:active,
html[data-tenantidnumber=stg] .context-18 .calendar-controls .previous:focus {
  background: none;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-tap-highlight-color: transparent;
  /* タップ時のハイライトを無効化 */
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .next:hover,
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .previous:hover, html[data-tenantidnumber=stg] .context-33 .calendar-controls .next:hover,
html[data-tenantidnumber=stg] .context-33 .calendar-controls .previous:hover, html[data-tenantidnumber=stg] .context-18 .calendar-controls .next:hover,
html[data-tenantidnumber=stg] .context-18 .calendar-controls .previous:hover {
  background: #f0f2f3;
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .next::before, html[data-tenantidnumber=stg] .context-2497 .calendar-controls .next::after,
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .previous::before,
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .previous::after, html[data-tenantidnumber=stg] .context-33 .calendar-controls .next::before, html[data-tenantidnumber=stg] .context-33 .calendar-controls .next::after,
html[data-tenantidnumber=stg] .context-33 .calendar-controls .previous::before,
html[data-tenantidnumber=stg] .context-33 .calendar-controls .previous::after, html[data-tenantidnumber=stg] .context-18 .calendar-controls .next::before, html[data-tenantidnumber=stg] .context-18 .calendar-controls .next::after,
html[data-tenantidnumber=stg] .context-18 .calendar-controls .previous::before,
html[data-tenantidnumber=stg] .context-18 .calendar-controls .previous::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  right: 0;
  right: 0;
  margin: auto;
  width: 12px;
  height: 2px;
  border-radius: 9999px;
  background-color: #999;
  -webkit-transform-origin: calc(100% - 2px) 50%;
          transform-origin: calc(100% - 2px) 50%;
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .next::before,
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .previous::before, html[data-tenantidnumber=stg] .context-33 .calendar-controls .next::before,
html[data-tenantidnumber=stg] .context-33 .calendar-controls .previous::before, html[data-tenantidnumber=stg] .context-18 .calendar-controls .next::before,
html[data-tenantidnumber=stg] .context-18 .calendar-controls .previous::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .next::after,
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .previous::after, html[data-tenantidnumber=stg] .context-33 .calendar-controls .next::after,
html[data-tenantidnumber=stg] .context-33 .calendar-controls .previous::after, html[data-tenantidnumber=stg] .context-18 .calendar-controls .next::after,
html[data-tenantidnumber=stg] .context-18 .calendar-controls .previous::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 0.5px);
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .arrow_link, html[data-tenantidnumber=stg] .context-33 .calendar-controls .arrow_link, html[data-tenantidnumber=stg] .context-18 .calendar-controls .arrow_link {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 1.5px solid #999;
  display: block;
  text-indent: -9999px;
  background: none;
  line-height: 0 !important;
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .arrow_link span, html[data-tenantidnumber=stg] .context-33 .calendar-controls .arrow_link span, html[data-tenantidnumber=stg] .context-18 .calendar-controls .arrow_link span {
  display: none;
}
html[data-tenantidnumber=stg] .context-2497 .calendar-controls .current, html[data-tenantidnumber=stg] .context-33 .calendar-controls .current, html[data-tenantidnumber=stg] .context-18 .calendar-controls .current {
  width: 155px;
  display: block;
}
@media (min-width: 768px) {
  html[data-tenantidnumber=stg] .context-2497 #page.drawers .main-inner,
  html[data-tenantidnumber=stg] .context-2497 body.limitedwidth #page.drawers .main-inner, html[data-tenantidnumber=stg] .context-33 #page.drawers .main-inner,
  html[data-tenantidnumber=stg] .context-33 body.limitedwidth #page.drawers .main-inner, html[data-tenantidnumber=stg] .context-18 #page.drawers .main-inner,
  html[data-tenantidnumber=stg] .context-18 body.limitedwidth #page.drawers .main-inner {
    max-width: 1200px !important;
  }
}
html[data-tenantidnumber=stg] .context-2497 .card-body, html[data-tenantidnumber=stg] .context-33 .card-body, html[data-tenantidnumber=stg] .context-18 .card-body {
  padding: 20px 15px 25px !important;
}
html[data-tenantidnumber=stg] .context-2497 .card-title, html[data-tenantidnumber=stg] .context-33 .card-title, html[data-tenantidnumber=stg] .context-18 .card-title {
  margin: 0 -15px !important;
  padding: 3px 45px 15px;
  border-bottom: 4px #f0f2f3 solid;
  width: calc(100% + 30px);
  display: block !important;
  font-size: 24px !important;
  position: relative;
}
html[data-tenantidnumber=stg] .context-2497 .card-title:before, html[data-tenantidnumber=stg] .context-33 .card-title:before, html[data-tenantidnumber=stg] .context-18 .card-title:before {
  width: 7px;
  height: 30px;
  content: "";
  background: #005C3F;
  display: block;
  position: absolute;
  left: 20px;
  top: -12px;
  bottom: 0;
  margin: auto;
  border-radius: 4px;
}
html[data-tenantidnumber=stg] .context-2497 .calendarmonth, html[data-tenantidnumber=stg] .context-33 .calendarmonth, html[data-tenantidnumber=stg] .context-18 .calendarmonth {
  border-radius: 8px;
  border: none;
  position: relative;
}
html[data-tenantidnumber=stg] .context-2497 .calendarmonth:before, html[data-tenantidnumber=stg] .context-33 .calendarmonth:before, html[data-tenantidnumber=stg] .context-18 .calendarmonth:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  border-radius: 8px;
  border: 1px solid #dee2e6;
  pointer-events: none;
}
html[data-tenantidnumber=stg] .context-2497 .day, html[data-tenantidnumber=stg] .context-33 .day, html[data-tenantidnumber=stg] .context-18 .day {
  color: #999 !important;
  cursor: default;
}
html[data-tenantidnumber=stg] .context-2497 .day:hover, html[data-tenantidnumber=stg] .context-33 .day:hover, html[data-tenantidnumber=stg] .context-18 .day:hover {
  background: none !important;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth ul li:focus, html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth ul li:active, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth ul li:focus, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth ul li:active, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth ul li:focus, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth ul li:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-tap-highlight-color: transparent;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth ul li > a, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth ul li > a, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth ul li > a {
  background: #f0f2f3 !important;
  color: #005C3F !important;
  font-size: 12px !important;
  padding: 5px 7px;
  border-left: #005C3F 2px solid !important;
  display: block;
  font-weight: bold;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth ul li > a:focus, html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth ul li > a:active, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth ul li > a:focus, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth ul li > a:active, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth ul li > a:focus, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth ul li > a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-tap-highlight-color: transparent;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth ul li > a:hover, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth ul li > a:hover, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth ul li > a:hover {
  text-decoration: none !important;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth ul li > a:hover *, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth ul li > a:hover *, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth ul li > a:hover * {
  text-decoration: none !important;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth ul li .calendar-circle.calendar_event_course, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth ul li .calendar-circle.calendar_event_course, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth ul li .calendar-circle.calendar_event_course {
  display: none;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth th, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth th, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth th {
  text-align: left;
  padding: 8px 10px 7px 13px;
  background: #f0f2f3 !important;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth tr td:last-child,
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth tr td:first-child, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth tr td:last-child,
html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth tr td:first-child, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth tr td:last-child,
html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth tr td:first-child {
  border-right: none;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar tbody tr:last-child td:first-child, html[data-tenantidnumber=stg] .context-33 .maincalendar tbody tr:last-child td:first-child, html[data-tenantidnumber=stg] .context-18 .maincalendar tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar tbody tr:last-child td:last-child, html[data-tenantidnumber=stg] .context-33 .maincalendar tbody tr:last-child td:last-child, html[data-tenantidnumber=stg] .context-18 .maincalendar tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth th,
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth td, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth th,
html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth td, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth th,
html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth td {
  color: #999;
  font-size: 14px !important;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth tr th, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth tr th, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth tr th {
  border: none;
  font-size: 12px !important;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth tr th:first-child, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth tr th:first-child, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth tr th:first-child {
  border-top-left-radius: 10px;
}
html[data-tenantidnumber=stg] .context-2497 .maincalendar .calendarmonth tr th:last-child, html[data-tenantidnumber=stg] .context-33 .maincalendar .calendarmonth tr th:last-child, html[data-tenantidnumber=stg] .context-18 .maincalendar .calendarmonth tr th:last-child {
  border-top-right-radius: 10px;
}
html[data-tenantidnumber=stg] .context-2497 .footer-link, html[data-tenantidnumber=stg] .context-33 .footer-link, html[data-tenantidnumber=stg] .context-18 .footer-link {
  display: none;
}
html[data-tenantidnumber=stg] .context-2497 .modal .calendar_event_course, html[data-tenantidnumber=stg] .context-33 .modal .calendar_event_course, html[data-tenantidnumber=stg] .context-18 .modal .calendar_event_course {
  background: #f0f2f3;
}
html[data-tenantidnumber=stg] .context-2497 .modal .modal-body, html[data-tenantidnumber=stg] .context-33 .modal .modal-body, html[data-tenantidnumber=stg] .context-18 .modal .modal-body {
  padding: 16px 16px 48px !important;
}
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .aa img, html[data-tenantidnumber=stg] .context-33 .summary-modal-container .aa img, html[data-tenantidnumber=stg] .context-18 .summary-modal-container .aa img {
  width: 100%;
  border-radius: 8px;
}
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .col-1, html[data-tenantidnumber=stg] .context-33 .summary-modal-container .col-1, html[data-tenantidnumber=stg] .context-18 .summary-modal-container .col-1 {
  display: none;
}
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .col-11, html[data-tenantidnumber=stg] .context-33 .summary-modal-container .col-11, html[data-tenantidnumber=stg] .context-18 .summary-modal-container .col-11 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 100%;
  padding: 0 5px !important;
}
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .row:nth-child(1),
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .row:nth-child(2),
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .row:nth-child(5), html[data-tenantidnumber=stg] .context-33 .summary-modal-container .row:nth-child(1),
html[data-tenantidnumber=stg] .context-33 .summary-modal-container .row:nth-child(2),
html[data-tenantidnumber=stg] .context-33 .summary-modal-container .row:nth-child(5), html[data-tenantidnumber=stg] .context-18 .summary-modal-container .row:nth-child(1),
html[data-tenantidnumber=stg] .context-18 .summary-modal-container .row:nth-child(2),
html[data-tenantidnumber=stg] .context-18 .summary-modal-container .row:nth-child(5) {
  display: none;
}
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container i, html[data-tenantidnumber=stg] .context-33 .summary-modal-container i, html[data-tenantidnumber=stg] .context-18 .summary-modal-container i {
  display: none;
}
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .location-content, html[data-tenantidnumber=stg] .context-33 .summary-modal-container .location-content, html[data-tenantidnumber=stg] .context-18 .summary-modal-container .location-content {
  position: relative;
  display: block;
  height: 55px;
  width: 230px;
  margin: 32px 0 0;
}
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .location-content a, html[data-tenantidnumber=stg] .context-33 .summary-modal-container .location-content a, html[data-tenantidnumber=stg] .context-18 .summary-modal-container .location-content a {
  text-indent: -9999px;
  display: block;
  height: 55px;
  width: 230px;
  margin: 0 auto;
}
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .location-content a:focus, html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .location-content a:active, html[data-tenantidnumber=stg] .context-33 .summary-modal-container .location-content a:focus, html[data-tenantidnumber=stg] .context-33 .summary-modal-container .location-content a:active, html[data-tenantidnumber=stg] .context-18 .summary-modal-container .location-content a:focus, html[data-tenantidnumber=stg] .context-18 .summary-modal-container .location-content a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-tap-highlight-color: transparent;
}
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .location-content:before, html[data-tenantidnumber=stg] .context-33 .summary-modal-container .location-content:before, html[data-tenantidnumber=stg] .context-18 .summary-modal-container .location-content:before {
  content: "授業を受講する";
  background: #005C3F;
  border-radius: 4px;
  width: 230px;
  height: 55px;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}
html[data-tenantidnumber=stg] .context-2497 .summary-modal-container .location-content:before:hover, html[data-tenantidnumber=stg] .context-33 .summary-modal-container .location-content:before:hover, html[data-tenantidnumber=stg] .context-18 .summary-modal-container .location-content:before:hover {
  opacity: 0.8;
}
html[data-tenantidnumber=stg] .context-2497 .block_myinprogress .tool_catalogue-carousel, html[data-tenantidnumber=stg] .context-33 .block_myinprogress .tool_catalogue-carousel, html[data-tenantidnumber=stg] .context-18 .block_myinprogress .tool_catalogue-carousel {
  overflow: hidden !important;
}
html[data-tenantidnumber=stg] .context-2497 .pagination, html[data-tenantidnumber=stg] .context-33 .pagination, html[data-tenantidnumber=stg] .context-18 .pagination {
  position: absolute;
  right: 30px;
  top: 47px;
}