@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700");
body {
  font-family: "Noto Sans JP", sans-serif;
}

/* A Modern CSS Reset */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h2 {
  margin: 0 auto 20px;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1.5px;
}

h2.underline:after {
  display: block;
  width: 60px;
  height: 3px;
  content: "";
  background: #ee7a00;
  margin: 14px auto 0px;
}

.hapitas-section {
  padding: 90px 0;
}
.hapitas-section .hapitas-section-group {
  margin: 60px auto 90px;
}
.hapitas-section .hapitas-section-text p {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5 !important;
  font-size: 18px;
}

.hapitas-section-gray {
  background: #f0f2f3;
}

.hapitas-section-group-step {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.hapitas-section-group-step .hapitas-section-group-step-child {
  border: 2px solid #ee7a00;
  padding: 45px 0 0;
  position: relative;
  border-radius: 10px;
  margin: 45px 0 0;
  background: white;
}
.hapitas-section-group-step .hapitas-section-group-step-child .hapitas-section-group-step-child-img {
  width: 100px;
  margin: 50px auto;
}
.hapitas-section-group-step .hapitas-section-group-step-child .hapitas-section-group-step-child-number {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: block;
  background: #ee7a00;
  width: 46px;
  height: 46px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 24px;
}
.hapitas-section-group-step .hapitas-section-group-step-child .hapitas-section-group-step-child-text {
  text-align: center;
  color: #000000;
  margin: 0 0 30px;
  font-weight: bold;
  font-size: 18px;
}

.hapitas-section-group-tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.hapitas-section-group-tab .hapitas-section-group-tab-child {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.hapitas-section-group-tab .hapitas-section-group-tab-child.active:after {
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  border: 20px solid transparent;
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  margin: auto;
}
.hapitas-section-group-tab #tab-economiy {
  border: 3px #28AFE7 solid;
  color: #28AFE7;
  background: white;
}
.hapitas-section-group-tab #tab-economiy.active {
  color: white !important;
  background: #28AFE7 !important;
}
.hapitas-section-group-tab #tab-economiy.active:after {
  border-top-color: #28AFE7;
}
.hapitas-section-group-tab #tab-philosophy {
  border: 3px #FCAF17 solid;
  color: #FCAF17;
  background: white;
}
.hapitas-section-group-tab #tab-philosophy.active {
  color: white !important;
  background: #FCAF17 !important;
}
.hapitas-section-group-tab #tab-philosophy.active:after {
  border-top-color: #FCAF17;
}
.hapitas-section-group-tab #tab-science {
  border: 3px #B6D43E solid;
  color: #B6D43E;
  background: white;
}
.hapitas-section-group-tab #tab-science.active {
  color: white !important;
  background: #B6D43E !important;
}
.hapitas-section-group-tab #tab-science.active:after {
  border-top-color: #B6D43E;
}

.hapitas-section-group-tab-content {
  max-width: 1000px;
  margin: 20px auto 0;
  border-radius: 10px;
  background: white;
}

.tab-content-child {
  width: 700px;
  margin: 0px auto 20px;
}
.tab-content-child h3 {
  margin: 0px auto 15px;
  padding: 45px 0 0;
  text-align: center;
  font-size: 24px;
}
.tab-content-child iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
.tab-content-child .hapitas-section-group-tab-content-form {
  padding-bottom: 120px;
  text-align: center;
}