-
  // enrolpages配列の定義。この配列は登録ページの設定を格納。
  var useredit = [
    // 登録ページテンプレートの基本設定
    { 
      id: 'ph-none',
      paymentID: env === 'stg' ? [212,222,222] : env === 'lms' ? [255] : [0], // 環境ごとに異なる支払いIDを設定
    }
   
  ]