- var userEdit = useredit.find(u => u.id === pageid)
- var paymentID = userEdit.paymentID.map((id) => `course-id-${id}`).join(' ')
- var courseID = 'course-1' //ここは一旦適当で
- var existingClasses = "limitedwidth format-site path-user chrome dir-ltr lang-ja_wp yui-skin-sam yui3-skin-sam lms-waomirai-com pagelayout-admin course-1 context-2386 theme uses-drawers jsenabled  dndsupported"