extends ../_layout_moodle.pug
block variables
  - var title = '科学購入｜サブ科目L1~L4'
  - var pageid = 'sc-register'
  // 購入IDを読み込み
  include _id-user-edit 
  // 購入IDをbodyなどに格納する処理
  include _meta-user-edit
block contents
 body#page-user-edit(class=paymentID + ' ' + existingClasses)
  include _parts-page-user-edit-content