- 
  var enrolpages = [
    { id: 'page-enrol-template', template: 'enrol', courseID: env === 'stg' ? 213 : flag === 'lms' ? 999 : 0, paymentID: env === 'stg' ? [228,999,99999] : flag === 'lms' ? [999,999] : [0] },
    { id: 'page-enrol-en', template: 'enrol', SubjectPageTitle: '英語', courseID: env === 'stg' ? 236 : flag === 'lms' ? 999 : 0, paymentID: env === 'stg' ? [999,99999] : flag === 'lms' ? [999,999] : [0] },
    { id: 'page-enrol-ph-none', template: 'enrol', SubjectPageTitle: '哲学', courseID: env === 'stg' ? 212 : flag === 'lms' ? 999 : 0, paymentID: env === 'stg' ? [] : flag === 'lms' ? [] : [0] }
  ]