//ここにヘッダー
.enrol-header 

//セットでお得に学べる
section.enrol-section
  h2.enrol-title
      |セットでお得に学べる!
  .enrol-text 
    |テキストテキストテキストテキストテキスト
  .multiselct-price 
         .multiselct-price-child    
            |１科目 
         .multiselct-price-child
            |２科目 
         .multiselct-price-child 
            |３科目 

section.enrol-section
  h2.enrol-title
      |受講パターン例
  .enrol-text 
    |テキストテキストテキストテキストテキスト
  .enrol-section-img

//受講開始までの流れ
+enrol-howto-register