mixin enrol-howto-register
  section.enrol-section
    h2.enrol-title
        |受講開始までの流れ
    .enrol-section-howto 
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8y/1026513/1736840429VWwIq1bF/icn_howto_take_01_.svg') 
        .enrol-section-howto-text 
            |texttext 
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8y/1026513/1736840429VWwIq1bF/icn_howto_take_01_.svg') 
        .enrol-section-howto-text 
            |texttext 
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8y/1026513/1736840429VWwIq1bF/icn_howto_take_01_.svg') 
        .enrol-section-howto-text 
            |texttext         