mixin enrol-howto-register
  .enrol-section
    h2.enrol-title
        |受講開始までの流れ
    .enrol-section-howto
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8y/1026513/1736840429VWwIq1bF/icn_howto_take_01_.svg') 
        .enrol-section-howto-text
            .enrol-step-lbl Step 01
            .enrol-step-heading お申し込み 
            .enrol-step-desc 右上の「購入ボタン」をクリック！
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8n/1026513/1736840429i4PzMZVA/icn_howto_take_02_.svg') 
        .enrol-section-howto-text 
            .enrol-step-lbl Step 02
            .enrol-step-heading クレジットカードをご登録ください。
            .enrol-step-desc 無料期間でご解約の場合、費用は一切かかりません。
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8r/1026513/17368404298FLRn488/icn_howto_take_03_.svg') 
        .enrol-section-howto-text 
            .enrol-step-lbl Step 03
            .enrol-step-heading 科目のレベルを設定する
            .enrol-step-desc 受講する教科と科目をご登録ください。※科目をご登録いただかないと、授業を受けることができません
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8v/1026513/1736840429DClvzQYZ/icn_howto_take_04_.svg') 
        .enrol-section-howto-text   
            .enrol-step-lbl Step 04
            .enrol-step-heading LINEでお友だち追加
            .enrol-step-desc お申込後、完了画面からLINEの友だち登録をしてください。※事務局からのご連絡はLINEでお送りするため、必ずご登録ください。
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8c/1026513/17368404286eVQw7uq/icn_howto_take_05_.svg') 
        .enrol-section-howto-text 
            .enrol-step-lbl Step 05
            .enrol-step-heading 「学習カレンダー」で予定確認
        .enrol-section-howto-img
           img(src='https://go.waomirai.com/l/1026513/2025-01-14/hbt8g/1026513/17368404287Nzz5sbO/icn_howto_take_06_.svg') 
        .enrol-section-howto-text 
            .enrol-step-lbl Step 06
            .enrol-step-heading 当日、授業を受ける