.courseEnrol
      // セクション:無料キャンペーン
      .enrol-section.enrol-campaign-banner(style="display:none;")
      h1.textCenter.bold グローバル英語
      .courseTitleBorder.englishBorder
        p.introduction ネイティブに通じる、聞き取れるだけではなく、自分の考えを相手に伝えるコミュニケーション力も重視したカリキュラムで、話せる英語を学びましょう。
      .courseEnrol
        p.textL.textCenter ライブレッスン内容
        .courseTitleBorder.englishBorder
        p.textM.textCenter.bold Week1
        .flex
          .Hiragana.left
            img(src="https://waomirai.com/lp/assets/class-thumbnails/eng_lesson_01.png", alt="HiraganaEnglish.png")
            p.textM.textCenter
              i.fa-solid.fa-diamond(aria-hidden="true")
              | 音トレEnglish
              i.fa-solid.fa-diamond(aria-hidden="true")
            p(style="width:95%;margin:0 auto;") 英語は音から入ることが大事！
              strong 音のトレーニングで“消える音”
              | や
              strong “変わる音” をマスター
              | すれば、英語が聞ける&amp;amp;amp;話せるように!
          .Katamarhythm.right
            img(src="https://waomirai.com/lp/assets/class-thumbnails/eng_lesson_02.png", alt="%E3%82%AB%E3%82%BF%E3%83%9E%E3%83%AA%E3%82%BA%E3%83%A0.png")
            p.textM.textCenter
              i.fa-solid.fa-diamond(aria-hidden="true")
              | カタマリズムEnglish
              i.fa-solid.fa-diamond(aria-hidden="true")
            p(style="width:95%;margin:0 auto;")
              span.textUnder リズム
              | にあわせて英語を
              span.bold OUTPUT！
              br
              | 忘れない英語が身につく。
              br
              | 英語独特の
              span.bold 強弱も同時にマスター！
        p.textM.textCenter.bold(style="margin-top:24px;") Week2
        .flex
          .HiraganaQuiz.left
            img(src="https://waomirai.com/lp/assets/class-thumbnails/eng_lesson_03.png", alt="%E3%81%B2%E3%82%89%E3%81%8C%E3%81%AAEnglishQUIZ.png")
            p.textM.textCenter
              i.fa-solid.fa-diamond(aria-hidden="true")
              | パーツ SWITCH
              i.fa-solid.fa-diamond(aria-hidden="true")
            p(style="width:95%;margin:0 auto;") 単語単位だと文法が必要。 でも いつかの単語を組み合わせた
              strong “パーツ”にすれば、入れ替える だけでどんどん応用できる!
          .phraseChoice.right
            img(src="https://waomirai.com/lp/assets/class-thumbnails/eng_lesson_04.png", alt="%E3%83%95%E3%83%AC%E3%83%BC%E3%82%BACHOICE.png")
            p.textM.textCenter
              i.fa-solid.fa-diamond(aria-hidden="true")
              | フレーズCHOICE
              i.fa-solid.fa-diamond(aria-hidden="true")
            p(style="width:95%;margin:0 auto;") 英語は”作る”のではなく
              span.bold ”選ぶ”！
              br
              | カードゲーム感覚で出だしフレーズを選ぶ練習をして
              span.textUnder 英作文せず
              | 話せるように！
        p.textM.textCenter.bold(style="margin-top:24px;") Week3
        .flex
          .ChallengeOutput.left
            img(src="https://waomirai.com/lp/assets/class-thumbnails/eng_lesson_05.png", alt="%E3%83%81%E3%83%A3%E3%83%AC%E3%83%B3%E3%82%B8OUTPUT.png")
            p.textM.textCenter
              i.fa-solid.fa-diamond(aria-hidden="true")
              | チャレンジOUTPUT
              i.fa-solid.fa-diamond(aria-hidden="true")
            p(style="width:95%;margin:0 auto;")
              span.bold “ロが疲れるほど&quot;
              | 喋れば英語は身につく！
              br
              | リズムにあわせフレーズCHOICEしながらどんどん英語を
              span.textUnder OUTPUT
              | しよう！
          .narikiri.right
            img(src="https://waomirai.com/lp/assets/class-thumbnails/eng_lesson_06.png", alt="006.png")
            p.textM.textCenter
              i.fa-solid.fa-diamond(aria-hidden="true")
              | ナリキリROLE-PLAY
              i.fa-solid.fa-diamond(aria-hidden="true")
            p(style="width:95%;margin:0 auto;")
              | 1ヶ月の成果を実感！
              br
              | 実際に英語で返事できるか、英語でプレゼンできるか挑戦！
              br
              | 誰が一番多くポイントを獲得できるかな！？
      .courseEnrol
        p ライブレッスンに加え、配信時間以外に練習できる
          span.bold トレーニング動画
          | も配信！ライブレッスンの前に見て、レッスンの内容を予習しよう！
        p ライブレッスンを見れなくても
          span.bold 安心！
          br
          | 全てのライブレッスンを録画したものが
          span.bold 見逃し配信
          | されるので、好きな時間に受講できる！
      .courseEnrol
        p.textL.textCenter(style="line-height:0.9;margin:0 0 20px;")
          | スケジュール
          //- br
          //- span(style="font-size:65%;margin:0 0 10px;color:#f35053;") (25年4月以降の配信スケジュールです）
        .courseTitleBorder.englishBorder(style="margin-top:30px;")
        .englishCourseSchedule
          .englishCourseSchedulePC
            //- p.textM.bold.textCenter(style="margin-bottom:24px;") LEVEL1 LOCAL STAGE
            .flex.textCenter.textM(style="margin-bottom:24px;")
              p(style="width:50%;") 平日コース
              p(style="width:50%;") 土曜コース
            .flex.textCenter.alignCenter(style="margin-bottom:48px;")
              .englishScheduleWeekday
                .englishScheduleBox
                  p 月曜日　17:30~17:55
                p.textCenter +
                .englishScheduleBox
                  p 木曜日　17:30~17:55
              p.vertical または
              .englishScheduleWeekend
                .englishScheduleBox.flex.scheduleSaturday
                  div
                    p 土曜日　
                  div
                    p 　17:30 ~ 18:30　
                    p 　※休憩時間10分を含みます。　
            //- p.textM.bold.textCenter(style="margin-bottom:24px;") LEVEL2 NATION STAGE
            //- .flex.textCenter.textM(style="margin-bottom:24px;")
            //-   p(style="width:50%;") 平日コース
            //- .flex.textCenter.alignCenter(style="margin-bottom:32px;")
            //-   .englishScheduleWeekday
            //-     .englishScheduleBox
            //-       p 火曜日　17:30~17:55
            //-     p.textCenter +
            //-     .englishScheduleBox
            //-       p 金曜日　17:30~17:55
            //-   p.vertical または
            //-   .englishScheduleWeekend
            //-     .englishScheduleBox.flex.scheduleSaturday
            //-       div
            //-         p 土曜日　
            //-       div
            //-         p 　19:00 ~ 20:00　
            //-         p 　※休憩時間10分を含みます。　
          .englishCourseScheduleSP
            //- p.textM.bold.textCenter(style="margin-bottom:24px;") LEVEL1 LOCAL STAGE
            .flex.textCenter.textM(style="margin-bottom:24px;")
              p.textCenter 平日コース
            .flex.textCenter(style="margin-bottom:48px;")
              .englishScheduleWeekday
                .englishScheduleBox
                  p 月曜日　17:30~17:55
                p.textCenter +
                .englishScheduleBox
                  p 木曜日　17:30~17:55
              p.textCenter(style="margin:20px 0;") または
              .englishScheduleWeekend
                .englishScheduleBox.flex.scheduleSaturday
                  div
                    p.textCenter 土曜日　17:30 ~ 18:30
                  div(style="border-left:1px solid;")
                    p.textCenter ※休憩時間10分を含みます。
            //- p.textM.bold.textCenter(style="margin-bottom:24px;") LEVEL2 NATION STAGE
            //- .flex.textCenter.textM(style="margin-bottom:24px;")
            //-   p.textCenter 平日コース
            //- .flex.textCenter(style="margin-bottom:32px;")
            //-   .englishScheduleWeekday
            //-     .englishScheduleBox
            //-       p 火曜日　17:30~17:55
            //-     p.textCenter +
            //-     .englishScheduleBox
            //-       p 金曜日　17:30~17:55
            //-   .englishScheduleWeekend
            //- p.textCenter(style="margin:20px 0;") または
            //- .englishScheduleWeekend
            //-   .englishScheduleBox.flex.scheduleSaturday
            //-     div
            //-       p.textCenter 土曜日　19:00 ~ 20:00
            //-     div(style="border-left:1px solid;")
            //-       p.textCenter ※休憩時間10分を含みます。
      .courseEnrol
        p.textL.textCenter お支払い
        .courseTitleBorder.englishBorder
        p.textM(style="margin-bottom:24px;")
          strong 料金：¥9,400/月（
            span.bold 初月無料
            | ）
        p ・お支払いはクレジットカードのみとなります
        p ・入会金不要・授業料とサポート料が含まれます
          br
          | ・いつでも退会可能
          br
          | ・アーカイブ授業の視聴（前月まで)
        p ・初月無料は、初めてワオ未来塾の受講申し込みをいただいた月のみの適用となります。過去にワオ未来塾のいずれかの科目を受講されていた場合は、異なる科目の受講申込であっても対象外となりますので、ご了承ください。（イベント・体験会を除く）
