
extends ../_layout_moodle.pug
block variables
  - var title = 'グローバル英語｜初月無料期間終了'
  - var pageid = 'page-enrol-en-trialend'
  include _enrol_meta
block contents
  //共通パーツ
  include _parts-enrol-common
  //共通パーツ
  include _parts-enrol-en