
extends ../_layout_moodle.pug
block variables
  - var title = 'グローバル英語'
  - var pageid = 'page-enrol-en'
  include _enrol_meta
block contents
  //共通パーツ
  include _parts-enrol-common
  //共通パーツ
  include _parts-enrol-en