
extends ../_layout_moodle.pug
block variables
  - var title = '哲学'
  //- - var pageid = 'page-enrol-en'
  - var pageid = 'page-enrol-sc-none'
  include _enrol_meta
block contents
  //管理画面登録ここから
  //共通パーツ
  include _parts-enrol-common
  //共通パーツ
  include _parts-enrol-ph-sc-ec 
  //管理画面登録ここまで