
extends ../_layout_moodle.pug
block variables
  - var title = '３科目セット'
  //- - var pageid = 'page-enrol-en'
  - var pageid = 'page-enrol-three-none'
  include _enrol_meta
block contents
 include _parts-enrol-three.pug
 