
extends ../_layout_moodle.pug
block variables
  - var title = '２科目セット（科学購入）'
  //- - var pageid = 'page-enrol-en'
  - var pageid = 'page-enrol-two-sc'
  include _enrol_meta
block contents
  //共通パーツ
  include _parts-enrol-common
  //２科目のページ
  include _parts-enrol-two