
extends ../_layout_moodle.pug
block variables
  - var title = '哲学(何も買っていない）'
  //- - var pageid = 'page-enrol-en'
  - var pageid = 'page-enrol-ph-none'
  include _enrol_meta
block contents
  p=allID
  p=courseID
  p=paymentID
  p 
    |こんにちわ
