
extends ../_layout_moodle.pug
block variables
  - var title = '英語'
  - var pageid = 'page-enrol-en'
  include _enrol_meta
block contents
  //英語ページのテンプレを読込
  include ../common/_parts-modal.pug
  include _parts-enrol-en.pug 
